@model MyEPA.ViewModels.ApplyIndexViewModel<MyEPA.Models.ApplyOtherModel>
@{
    ViewBag.Title = "請求其他支援";
    Layout = "~/Views/_Layout.cshtml";
}

@section styles{
    <style>
        .applyTable * {
            vertical-align: middle !important;
        }

        .applyTable tr {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
        }
    </style>

}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <h3>請求其他支援</h3>
                <hr>
            </div>
            <div class="row">
                <div class="widget-body">
                    <a href="@Url.Action("Create","ApplyOther", ViewBag.RequestViewModel)">
                        <div class="btn align-center">新增</div>
                    </a>
                    <hr />
                    <div class="widget-main no-padding">
                        <table class="table">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <td colspan="3" align="center" bgcolor="#ED7B73"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td bgcolor="#E8E8E8"><h5>已請求資料</h5></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#E8E8E8"><h5>@Model.ApplyStatus</h5></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <h4 align="center">請求清單</h4>
                        <hr>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <table class="table table-bordered table-striped applyTable">
                                    <thead class="thin-border-bottom">
                                        <tr>
                                            <td>編修</td>
                                            <td>填寫日期</td>
                                            <td>需用日期</td>
                                            <td>項目名稱 (單位)</td>
                                            <td>數量</td>
                                            <td>狀態</td>
                                            <td>環保局辦理情形</td>
                                            <td>環境部辦理情形</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var applyRequest in Model.AppliedRequests)
                                        {
                                            var detailCount = applyRequest.Details.Count;

                                            for (var i = 0; i < detailCount; i++)
                                            {
                                                var detail = applyRequest.Details[i];
                                                if (i == 0)
                                                {
                                                    <tr>
                                                        <td align="center" rowspan="@detailCount">
                                                            @if (applyRequest.EPAConfirmStatus == MyEPA.Enums.ApplyStatusEnum.Reject || applyRequest.EPBConfirmStatus == MyEPA.Enums.ApplyStatusEnum.Reject)
                                                            {
                                                                <a href="@Url.Action("Edit", new { Id = applyRequest.Id, ViewBag.RequestViewModel.CityId,ViewBag.RequestViewModel.TownId,ViewBag.RequestViewModel.DiasterId })" type="button"><i class="ace-icon fa fa-pencil-square-o">&nbsp;修改</i></a>
                                                                <a href="" type="button" onclick="Delete(@applyRequest.Id)"><i class="ace-icon fa fa-trash-o">&nbsp;刪除</i></a>
                                                            }

                                                        </td>
                                                        <td align="center" rowspan="@detailCount">@applyRequest.CreateDate</td>
                                                        <td align="center" rowspan="@detailCount">@applyRequest.RequireDate.ToString("yyyy/MM/dd")</td>
                                                        <td align="center">@detail.Item (@detail.Unit)</td>
                                                        <td align="center">@detail.Quantity</td>
                                                        <td align="center" rowspan="@detailCount">@applyRequest.Status.GetDescription()</td>
                                                        
                                                        <td align="center" rowspan="@detailCount">@applyRequest.EPBConfirmStatus.GetDescription()</td>
                                                        <td align="center" rowspan="@detailCount">@applyRequest.EPAConfirmStatus.GetDescription()</td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td align="center">@detail.Item (@detail.Unit)</td>
                                                        <td align="center">@detail.Quantity</td>
                                                    </tr>
                                                }

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts{
        <script>
            function Delete(id) {
            if (!window.confirm('確定要刪除?')) {
                return;
            };
            var deleteUrl = '@Url.Action("Delete", "ApplyOther")?id=' + id;
            $.ajax({
                url: deleteUrl,
                method: 'Post',
                success: function (data) {
                        alert('刪除成功');
                        location.reload();
                },
                error: function (data) {
                    alert('刪除失敗');
                }
            });
        }
        </script>
        }