@{
    Layout = "~/Views/_Layout.cshtml";
}
<br />
@Html.ActionLink("返回", "C1a", "CleanerxResource", "", new { @class = "btn btn-primary fa fa-arrow-circle-left", @style = "color:white;padding:4px" })
<br/><br />
     <font size="2">
         <table class="table table-bordered table-striped">
             <tr>
                 <th>縣市</th>
                 <th>鄉鎮市</th>
                 <th>聯繫單位名稱</th>
                 <th>消毒設備名稱</th>
                 <th>規格</th>
                 <th>數量</th>
                 <th>購買年份(民國)</th>
                 <th>更新時間</th>
             </tr>
             @foreach (var Item in ViewBag.Data)
             {
                 <tr>
                     <td>@Item.City</td>
                     <td>@Item.Town</td>
                     <td>@Item.ContactUnit</td>
                     <td>@Item.DisinfectInstrument</td>
                     <td>@Item.Standard</td>
                     <td>@Item.Amount</td>
                     <td>@Item.ROCyear</td>
                     <td>@Item.UpdateTime</td>
                 </tr>
             }
         </table>
         <br />
         <br />
     </font>