@{
    Layout = "~/Views/_Layout.cshtml";
}
@{Html.RenderPartial("~/Views/Components/JSforB1c17.cshtml");}
@using (Html.BeginForm("ConfirmReport4", "CleanerxApply"))
{
    foreach (var Item in ViewBag.Data)
    {
        <h4>請求車輛設備</h4>
        <h6>災害編號： @Html.TextBox("DiasterId", (string)ViewBag.DiasterId, new { @readonly = "readonly", style = "border:none" })</h6>
        <h6>災害主題： @Html.TextBox("DiasterName", (string)ViewBag.DiasterName, new { @readonly = "readonly", style = "border:none;" })</h6>
        <span>車輛名稱：</span>
        @Html.DropDownList("CarType", new List<SelectListItem>
               {
                new SelectListItem{Text = "請選擇",Value = "未填",Selected=true},
               new SelectListItem{Text = "小卡車",Value = "小卡車"},
               new SelectListItem{Text = "20噸大卡車",Value = "20噸大卡車"},
               new SelectListItem{Text = "35噸卡車(車斗容積20立方米以下)",Value = "35噸卡車(車斗容積20立方米以下)"},
              new SelectListItem{Text = "6噸挖土機",Value = "6噸挖土機"},
               new SelectListItem{Text = "20噸挖土機",Value = "20噸挖土機"},
               new SelectListItem{Text = "鏟裝機",Value = "鏟裝機"},
               new SelectListItem{Text = "10噸抓斗車",Value = "10噸抓斗車"},
                       new SelectListItem{Text = "15噸抓斗車",Value = "15噸抓斗車"},
               new SelectListItem{Text = "蓄水量4.5噸水車",Value = "蓄水量4.5噸水車"},
               new SelectListItem{Text = "垃圾車",Value = "垃圾車"},
               new SelectListItem{Text = "35噸卡車(車斗容積20立方米以下)",Value = "35噸卡車(車斗容積20立方米以下)"},
              new SelectListItem{Text = "卡車(非傾卸式)",Value = "卡車(非傾卸式)"},
               new SelectListItem{Text = "卡車(其他型式)",Value = "卡車(其他型式)"},
               new SelectListItem{Text = "15噸抽吸兩用清溝車",Value = "15噸抽吸兩用清溝車"},
               new SelectListItem{Text = "溝泥車(吸泥)",Value = "溝泥車(吸泥)"},
                new SelectListItem{Text = "溝泥車(沖溝)",Value = "溝泥車(沖溝)"},
               new SelectListItem{Text = "洗街車/灑水車",Value = "洗街車/灑水車"},
               new SelectListItem{Text = "30噸挖土機",Value = "30噸挖土機"},
               new SelectListItem{Text = "31Hp(23KW)以上之中型推土機",Value = "31Hp(23KW)以上之中型推土機"},
              new SelectListItem{Text = "中型鏟裝機",Value = "中型鏟裝機"},
               new SelectListItem{Text = "轉運車",Value = "轉運車"},
               new SelectListItem{Text = "鏟裝機",Value = "鏟裝機"},
               new SelectListItem{Text = "資源回收車(傾卸式)",Value = "資源回收車(傾卸式)"},
                       new SelectListItem{Text = "資源回收車(非傾卸式)",Value = "資源回收車(非傾卸式)",Selected=true},
               new SelectListItem{Text = "25噸抓斗車",Value = "25噸抓斗車"},
               new SelectListItem{Text = "水肥車",Value = "水肥車"},
               new SelectListItem{Text = "掃街車",Value = "掃街車"},
              new SelectListItem{Text = "消毒車",Value = "消毒車"},
               new SelectListItem{Text = "蓄水量10噸水車",Value = "蓄水量10噸水車"},
               new SelectListItem{Text = "其他",Value = "其他"},
        })
        <span>數量:</span>@Html.TextBox("Count", "", new { style = "width:50px" })
        <h6>
            <span>需用日期(例如2019/09/25)：</span> @Html.TextBox("NeedDay", (string)Item.NeedDay, new { style = "width:200px" })
        </h6>
        <span>估算方法(限1000字)：</span>
        <br />
        @Html.TextArea("DiasterRegionDescribe", (string)Item.DiasterRegionDescribe, new { @style = "width:400px;height:100px" })
        <br />
        <br />
        <span style="font-size:large">照片上傳</span>
        <span style="font-size:small">
            說明：1.上傳照片(限JPG檔)請按"瀏覽"鈕，待全部欄位填寫完成後按下方”新增”或”修改”鈕，統一上傳   2.下方提供照片說明填寫(限100字)。
        </span>
        <input type="file" name="file" id="file" />
        <br>
        <span>說明:</span>
        <br />
        @Html.TextArea("DiasterPictureDescribe", (string)Item.DiasterPictureDescribe, new { @style = "width:200px;height:100px" })
        <br />
        <br />
        <h6>
            <span>聯絡人姓名：</span> @Html.TextBox("ReportMan", (string)Item.ReportMan, new { style = "width:100px" })
            <span>聯絡電話：</span> @Html.TextBox("ReportPhone", (string)Item.ReportPhone, new { style = "width:150px" })
            <span>聯絡手機：</span> @Html.TextBox("ReportMobilePhone", (string)Item.ReportMobilePhone, new { style = "width:100px" })
        </h6>
    }
    <input type="submit" class="btn btn-danger" style="margin:10px" value="儲存確認" />
    @Html.ActionLink("取消", "B2", "EPBxApply", "", new { @class = "btn btn-basic fa fa-arrow-circle-left", @style = "color:white;padding:4px" })

}

<script>
    $(document).ready(function () {
        $("#NeedDay").datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>