@using MyEPA.Enums;
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "消毒藥品";
    var useTypes = (List<DisinfectantUseTypeEnum>)ViewBag.UseTypes;
    var names = (List<DisinfectantNameEnum>)ViewBag.Names;
}
<div class="text-center">
    <br />
    <h5>消毒藥品</h5>
    <br />
</div>


<div class="container-fluid">
    <div class="row">
        <div id="DeleteArea" class="text-center" style="display:none; width:100%">
            @using (Html.BeginForm("Delete", "CleanerxDisinfectant"))
            {
                <br /> <br />
                @Html.TextBox("DeleteId", "", new { @readonly = "readonly", style = "width:0px;color:red;border:none;" })
                <input type="submit" class="btn btn-warning" style="margin:5px;padding:5px" value="確定刪除" />
                <br /><span class="text-warning">※刪除後無法回復</span>
                <br /> <br /> <br /> <br />
            }
            <br />
        </div>

        <div id="Edit" class="text-center" style="display:none; padding:0px; width:100%">
            @using (Html.BeginForm("Update", "CleanerxDisinfectant", FormMethod.Post, new { onsubmit = "return ValidateInput('Update', this);" }))
            {
                <table class="table table-bordered table-striped  text-center">
                    <tr>
                        <td>編號：</td>
                        <td>@Html.TextBox("EditId", (string)ViewBag.EditId, new { @readonly = "readonly", @class = "form-control rounded-0" })</td>
                    </tr>
                    <tr>
                        <td>聯繫單位名稱：</td>
                        <td>@Html.TextBox("EditContactUnit", (string)ViewBag.EditContactUnit, new { @class = "form-control rounded-0" })</td>
                    </tr>
                    <tr>
                        <td>用途：</td>
                        <td>
                            <select id="EditUseType" Name="EditUseType">
                                @foreach (var item in useTypes)
                                {
                                    <option value="@item.ToInteger()">@item.GetDescription()</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>消毒藥品名稱：</td>
                        <td>
                            <select id="EditDrugName" Name="EditDrugName" onchange="ShowEditDrugNameText()">
                                @foreach (var item in names)
                                {
                                    <option value="@item.GetDescription()">@item.GetDescription()</option>
                                }
                            </select>
                            @Html.TextBox("EditDrugNameText", "", new { style = "width:50%;align:left;display:none" })
                        </td>
                    </tr>




                    <tr>
                        <td>有效成分1：</td>
                        <td>
                            @Html.DropDownList("ActiveIngredients1", new List<SelectListItem>
                          {
                              new SelectListItem{Text = "無",Value = "無"},
                              new SelectListItem{Text = "除蟲菊酯類",Value = "除蟲菊酯類"},
                              new SelectListItem{Text = "有機磷類",Value = "有機磷類"},
                              new SelectListItem{Text = "氨基甲酸鹽類",Value = "氨基甲酸鹽類"},
                              new SelectListItem{Text = "昆蟲生長調節劑",Value = "昆蟲生長調節劑"},
                              new SelectListItem{Text = "殺菌劑",Value = "殺菌劑"},
                              new SelectListItem{Text = "四級銨",Value = "四級銨"},
                              new SelectListItem{Text = "有機磷類",Value = "有機磷類"},
                              new SelectListItem{Text = "多重類",Value = "多重類"},
                              new SelectListItem{Text = "蘇力菌",Value = "蘇力菌"},
                              new SelectListItem{Text = "百利普芬",Value = "百利普芬"},
                              new SelectListItem{Text = "類尼古丁",Value = "類尼古丁"},
                              new SelectListItem{Text = "其他",Value = "其他"}

                          })
                        </td>
                    </tr>
                    <tr>
                        <td>有效成分2：</td>
                        <td>
                            @Html.DropDownList("ActiveIngredients2", new List<SelectListItem>
                          {
                              new SelectListItem{Text = "無",Value = "無"},
                              new SelectListItem{Text = "除蟲菊酯類",Value = "除蟲菊酯類"},
                              new SelectListItem{Text = "有機磷類",Value = "有機磷類"},
                              new SelectListItem{Text = "氨基甲酸鹽類",Value = "氨基甲酸鹽類"},
                              new SelectListItem{Text = "昆蟲生長調節劑",Value = "昆蟲生長調節劑"},
                              new SelectListItem{Text = "殺菌劑",Value = "殺菌劑"},
                              new SelectListItem{Text = "四級銨",Value = "四級銨"},
                              new SelectListItem{Text = "有機磷類",Value = "有機磷類"},
                              new SelectListItem{Text = "多重類",Value = "多重類"},
                              new SelectListItem{Text = "蘇力菌",Value = "蘇力菌"},
                              new SelectListItem{Text = "百利普芬",Value = "百利普芬"},
                               new SelectListItem{Text = "類尼古丁",Value = "類尼古丁"},
                              new SelectListItem{Text = "其他",Value = "其他"}

                          })
                        </td>
                    </tr>














                    <tr>
                        <td>種類：</td>
                        <td>
                            @Html.DropDownList("EditDrugType", new List<SelectListItem>
                           {
                               new SelectListItem{Text = "殺菌劑",Value = "殺菌劑"}
                               ,new SelectListItem{Text = "殺蟲劑",Value = "殺蟲劑"}
                           })
                        </td>
                    </tr>
                    <tr>
                        <td>型態：</td>
                        <td>
                            @Html.DropDownList("EditDrugState", new List<SelectListItem>
                       {
                           new SelectListItem{Text = "固體", Value = "固體"},
                           new SelectListItem{Text = "液體",Value = "液體"},
                            new SelectListItem{Text = "乳劑", Value = "乳劑"},
                             new SelectListItem{Text = "油劑", Value = "油劑"}
                       })

                        </td>
                    </tr>
                    <tr>
                        <td>數量：</td>
                        <td>@Html.TextBox("EditAmount", (string)ViewBag.EditAmount, new { style = "width:50%;align:left", required = "required" }) (公升、公斤)</td>
                    </tr>
                    <tr>
                        <td>濃度：</td>
                        <td>@Html.TextBox("EditDensity", (string)ViewBag.EditDensity, new { style = "width:50%;align:left" })%</td>
                    </tr>
                    <tr>
                        <td>可消毒面積：</td>
                        <td>@Html.TextBox("EditArea", (decimal?)ViewBag.EditArea, new { style = "width:50%;align:left" })公頃</td>
                    </tr>
                    <tr>
                        <td>使用年限：</td>
                        <td>
                            @if (ViewBag.EditServiceLife != null)
                            {
                                <input id="EditServiceLife" name="EditServiceLife" required style="width:50%;align:left" type="date" value="@(((DateTime)ViewBag.EditServiceLife).ToString("yyyy-MM-dd"))">

                            }
                            else
                            {
                                <input id="EditServiceLife" name="EditServiceLife" required style="width:50%;align:left" type="date" value="">
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>是否跨縣市調度：</td>
                        <td>
                            @Html.DropDownList("IsSupportCity", new List<SelectListItem>
                               {
                                    new SelectListItem{Text = "是", Value = "true"},
                                    new SelectListItem{Text = "否", Value = "false"},
                               })

                            <span id="spnSupportCityNum">
                                @Html.TextBox("SupportCityNum", "", new { type = "number", required = "required" })
                                (公升、公斤)
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" class="btn" style="margin:10px" value="資料確認儲存" />
                        </td>
                    </tr>
                </table>

                <br /><br />
            }
        </div>
        <div id="AddArea" class="text-center" style="display:none;width:100%">
            <br />
            @using (Html.BeginForm("Add", "CleanerxDisinfectant", FormMethod.Post, new { onsubmit = "return ValidateInput('Add', this);" }))
            {
                <table class="table table-bordered table-striped  text-center">
                    <tr>
                        <td>縣市</td>
                        <td>@ViewBag.City</td>
                    </tr>
                    <tr>
                        <td>鄉鎮市</td>
                        <td>@ViewBag.Town</td>
                    </tr>
                    <tr>
                        <td>聯繫單位名稱</td>
                        <td>@Html.TextBox("ContactUnit", "", new { style = "width:100%" })</td>
                    </tr>
                    <tr>
                        <td>用途：</td>
                        <td>
                            <select id="UseType" Name="UseType">
                                @foreach (var item in useTypes)
                                {
                                    <option value="@item.ToInteger()">@item.GetDescription()</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>消毒藥品名稱</td>
                        <td>
                            <select id="DrugName" Name="DrugName" onchange="ShowEditDrugNameText()">
                                @foreach (var item in names)
                                {
                                    <option value="@item.GetDescription()">@item.GetDescription()</option>
                                }
                            </select>
                            <input id="DrugNameText" type="text" style="width:50%;display:none" onchange="changeDrugName()">
                        </td>
                    </tr>









                    <tr>
                        <td>有效成分1：</td>
                        <td>
                            @Html.DropDownList("ActiveIngredients1", new List<SelectListItem>
                          {
                              new SelectListItem{Text = "無",Value = "無"},
                              new SelectListItem{Text = "除蟲菊酯類",Value = "除蟲菊酯類"},
                              new SelectListItem{Text = "有機磷類",Value = "有機磷類"},
                              new SelectListItem{Text = "氨基甲酸鹽類",Value = "氨基甲酸鹽類"},
                              new SelectListItem{Text = "昆蟲生長調節劑",Value = "昆蟲生長調節劑"},
                              new SelectListItem{Text = "殺菌劑",Value = "殺菌劑"},
                              new SelectListItem{Text = "四級銨",Value = "四級銨"},
                              new SelectListItem{Text = "有機磷類",Value = "有機磷類"},
                              new SelectListItem{Text = "多重類",Value = "多重類"},
                              new SelectListItem{Text = "蘇力菌",Value = "蘇力菌"},
                              new SelectListItem{Text = "百利普芬",Value = "百利普芬"},
                              new SelectListItem{Text = "其他",Value = "其他"}

                          })
                        </td>
                    </tr>
                    <tr>
                        <td>有效成分2：</td>
                        <td>
                            @Html.DropDownList("ActiveIngredients2", new List<SelectListItem>
                          {
                              new SelectListItem{Text = "無",Value = "無"},
                              new SelectListItem{Text = "除蟲菊酯類",Value = "除蟲菊酯類"},
                              new SelectListItem{Text = "有機磷類",Value = "有機磷類"},
                              new SelectListItem{Text = "氨基甲酸鹽類",Value = "氨基甲酸鹽類"},
                              new SelectListItem{Text = "昆蟲生長調節劑",Value = "昆蟲生長調節劑"},
                              new SelectListItem{Text = "殺菌劑",Value = "殺菌劑"},
                              new SelectListItem{Text = "四級銨",Value = "四級銨"},
                              new SelectListItem{Text = "有機磷類",Value = "有機磷類"},
                              new SelectListItem{Text = "多重類",Value = "多重類"},
                              new SelectListItem{Text = "蘇力菌",Value = "蘇力菌"},
                              new SelectListItem{Text = "百利普芬",Value = "百利普芬"},
                              new SelectListItem{Text = "其他",Value = "其他"}

                          })
                        </td>
                    </tr>













                    <tr>
                        <td>類別</td>
                        <td>
                            @Html.DropDownList("DrugType", new List<SelectListItem>
                     {
                         new SelectListItem{Text = "殺菌劑",Value = "殺菌劑"}
                         ,new SelectListItem{Text = "殺蟲劑",Value = "殺蟲劑"}
                     })
                        </td>
                    </tr>
                    <tr>
                        <td>狀態</td>
                        <td>
                            @Html.DropDownList("DrugState", new List<SelectListItem>
                       {
                             new SelectListItem{Text = "固體", Value = "固體",Selected=true },
                             new SelectListItem{Text = "液體",Value = "液體"},
                             new  SelectListItem{Text = "乳劑", Value = "乳劑"},
                             new SelectListItem{Text = "油劑", Value = "油劑"}

                       })

                        </td>
                    </tr>
                    <tr>
                        <td>數量</td>
                        <td> @Html.TextBox("Amount", "", new { style = "width:50%;align:left", required = "required" }) (公升、公斤)</td>
                    </tr>
                    <tr>
                        <td>濃度</td>
                        <td> @Html.TextBox("Density", "", new { style = "width:50%;align:left" })%</td>
                    </tr>
                    <tr>
                        <td>可消毒面積</td>
                        <td> @Html.TextBox("Area", "", new { style = "width:50%;align:left" }) 公頃</td>
                    </tr>
                    <tr>
                        <td>使用年限</td>
                        <td>
                            <input id="ServiceLife" name="ServiceLife" required style="width:50%;align:left" type="date" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>是否跨縣市調度：</td>
                        <td>
                            @Html.DropDownList("IsSupportCity", new List<SelectListItem>
                               {
                                    new SelectListItem{Text = "是", Value = "true"},
                                    new SelectListItem{Text = "否", Value = "false"},
                               })

                            <span id="spnSupportCityNum">
                                @Html.TextBox("SupportCityNum", "", new { type = "number", required = "required" })
                                (公升、公斤)
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" class="btn" style="margin:10px" value="資料確認儲存" />
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
    <div class="row">
        <div id="DataArea" style="overflow:auto;width:100%">
            @{Html.RenderPartial("~/Views/Components/ShowDisinfectantForCleaner.cshtml");}
        </div>
    </div>
</div>

<script>

    function changeDrugName() {
        $("#DrugName").prepend("<option value='" + $("#DrugNameText").val() + "'selected>" + $("#DrugNameText").val() + "</option>");



    }
    function PickItemForEdit(x) {
        $.post("/CleanerxDisinfectant/Edit", { Id: x }, function (data) {
            $("#AddArea").hide();
            $("#DeleteArea").hide();
            $("#Edit").show();
            $("#EditId").val(x);
            $("#EditContactUnit").val(data.ContactUnit);
            $("#EditDrugName").val(data.DrugName);


            if (data.ActiveIngredients1 == null) { data.ActiveIngredients1 = "無" }
            if (data.ActiveIngredients2 == null) { data.ActiveIngredients2 = "無" }
            $("#ActiveIngredients1").val(data.ActiveIngredients1);
            $("#ActiveIngredients2").val(data.ActiveIngredients2);



            $("#EditDrugNameText").val(data.DrugName);
            $("#EditDrugType").val(data.DrugType);
            $("#EditDrugState").val(data.DrugState);
            $("#EditAmount").val(data.Amount);
            $("#EditDensity").val(data.Density);
            $("#EditArea").val(data.Area);
            $("#EditServiceLife").val(data.ServiceLife);
            $("#EditUseType").val(data.UseType);
            console.log(data.UseType);
            if (data.IsSupportCity != null)
                $("#IsSupportCity").val(data.IsSupportCity.toString()).change();
            $("#SupportCityNum").val(data.SupportCityNum);
        }).done(function () {

            if ($("#EditDrugName").val() == null) {
                $("#EditDrugName").val("其他")
                $("#EditDrugNameText").show()
            }
            else {
                $("#EditDrugNameText").hide()
            }

            //移動到頂端
            $('html,body').animate({ scrollTop: 0 }, 333);
        });
    }
    function ShowEditDrugNameText() {


        if ($("#EditDrugName").val() == "其他") {
            $("#EditDrugNameText").show()
        }
        else {
            $("#EditDrugNameText").hide()
        }


        if ($("#DrugName").val() == "其他") {
            $("#DrugNameText").show()
        }
        else {
            $("#DrugNameText").hide()
        }


    }
</script>

<script>
    function PickItemForDelete(id) {
        $("#AddArea").hide();
        $("#Edit").hide();
        $("#DeleteArea").show();
        $("#DeleteId").val(id);

        //移動到頂端
        $('html,body').animate({ scrollTop: 0 }, 333);
    }
</script>

<script>
    function AddItem() {
        $("#Edit").hide();
        $("#DeleteArea").hide();
        $("#AddArea").show();
    }
</script>

<script>
    function ValidateInput(act, form) {

        //驗證數量
        var amount;
        if (act == "Add") {
            amount = $(form).find('#Amount').val();
        }
        else if (act == "Update") {
            amount = $(form).find('#EditAmount').val();
        }
        if (amount != null) {
            IsSupportCity = $(form).find('#IsSupportCity').val();
            if (IsSupportCity.toLowerCase() === "true") {
                SupportCityNum = $(form).find('#SupportCityNum').val();

                if (parseInt(amount) < 0) {
                    alert('藥品數量，不可負數(' + amount + ')');
                    return false;
                }
                else if (parseInt(SupportCityNum) < 0) {
                    alert('垮縣市調度數量，不可負數(' + SupportCityNum + ')');
                    return false;
                }
                else if (parseInt(SupportCityNum) > parseInt(amount)) {
                    alert('垮縣市調度數量(' + SupportCityNum + ')不可超過藥品數量(' + amount + ')');
                    return false;
                }
            }
        }       

        return true;
        //以下程式可抓到ContactUnit的值
        //var x = $("#ContactUnit").val();
        //alert(x);
        //return true;
        //再配合 return false; 以及if else 理論上可在此驗證資料格式
        //但不知為何字串無法比對？
    }
</script>

@section scripts{
    <script>
        $(document).ready(function () {
            //Add(跨縣市)
            $("#AddArea #IsSupportCity").on("change", function () {
                var isSupportCity = $(this).val();
                if (isSupportCity == 'true') {
                    $(this).parent().find('#spnSupportCityNum').show();
                    $(this).parent().find("#SupportCityNum").attr('required', true);
                }
                else {
                    $(this).parent().find('#spnSupportCityNum').hide();
                    $(this).parent().find("#SupportCityNum").attr('required', false);
                }
            });

            //Edit(跨縣市)
            $("#Edit #IsSupportCity").on("change", function () {
                var isSupportCity = $(this).val();
                if (isSupportCity == 'true') {
                    $(this).parent().find('#spnSupportCityNum').show();
                    $(this).parent().find("#SupportCityNum").attr('required', true);
                }
                else {
                    $(this).parent().find('#spnSupportCityNum').hide();
                    $(this).parent().find("#SupportCityNum").attr('required', false);
                }
            });
        });
    </script>
}
