
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "車輛設備";
    
}
@{Html.RenderPartial("~/Views/Components/OpenStreeLeaflet.cshtml");}
<div class="text-center">
    <br />
    <h3>車輛設備</h3>
    <div>
        資料來源：清潔隊環保設施(備)管理系統
    </div>
    <br />
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div id="BrowseArea" style="display:none">
                <span style="width:20%">車牌號碼：</span>@Html.TextBox("PlateNumber", "", new { @readonly = "readonly", style = "border:none;width:20%" })
                <br />
                @Html.TextBox("City", "", new { @readonly = "readonly", style = "border:none;width:20%" })
                @Html.TextBox("Town", "", new { @readonly = "readonly", style = "border:none;width:20%" })
                <span style="width:20%">聯繫單位：</span>@Html.TextBox("ContactUnit", "", new { @readonly = "readonly", style = "border:none;width:20%" })
                <br />
                <span style="width:20%">車輛名稱：</span>@Html.TextBox("VehicleName", "", new { @readonly = "readonly", style = "border:none;width:20%" })
                <span style="width:20%">車輛狀態：</span>@Html.TextBox("VehicleState", "", new { @readonly = "readonly", style = "border:none;width:20%" })
                <br />
                <span style="width:30%">更新時間：</span>@Html.TextBox("UpdateTime", "", new { @readonly = "readonly", style = "border:none;width:60%" })
                <br />
                <span style="width:20%">載重：</span>@Html.TextBox("load", "", new { @readonly = "readonly", style = "border:none;width:20%" })
                <span style="width:20%">噸</span>
                &nbsp;&nbsp;&nbsp;
                <span style="width:20%">引擎：</span>@Html.TextBox("EnginePower", "", new { @readonly = "readonly", style = "border:none;width:20%" })
                <span style="width:20%">馬力</span>
                <br />

                <span style="width:30%">年份：民國</span>@Html.TextBox("ROCyear", "", new { @readonly = "readonly", style = "border:none;width:10%" })
                <span style="width:10%">年</span>
                <span style="width:30%">是否由環保署補助：</span>@Html.TextBox("EPAsubsidy", "", new { @readonly = "readonly", style = "border:none;width:10%" })
                <br />
                <span style="width:30%">是否可跨縣市使用：</span>@Html.TextBox("CrossCityUse", "", new { @readonly = "readonly", style = "border:none;width:10%" })
                <span style="width:30%">是否可跨鄉鎮使用：</span>@Html.TextBox("CrossTownUse", "", new { @readonly = "readonly", style = "border:none;width:10%" })
                <br />
                <span style="width:20%">註解：</span>@Html.TextBox("Note", "", new { @readonly = "readonly", style = "border:none;width:70%" })
                <br />
                <span style="width:10%">X座標：</span>@Html.TextBox("Xpos", "", new { @readonly = "readonly", style = "border:none;width:30%" })
                <span style="width:10%">Y座標：</span>@Html.TextBox("Ypos", "", new { @readonly = "readonly", style = "border:none;width:30%" })
            </div>
        </div>

        <div id="MapArea" class="col-12 col-md-6" style="margin-top:50px; display:none"></div>
    </div>
    <br />
    <div class="row">
        <div id="DataArea" class="col-12">
            @{Html.RenderPartial("~/Views/Components/ShowVehicleForSearch.cshtml");}
        </div>
    </div>
</div>

<script>
    function PickItemForBrowse(PlateNumber, City, Town, ContactUnit, VehicleName, VehicleState, UpdateTime, Load, EnginePower, ROCyear, EPAsubsidy, CrossCityUse, CrossTownUse, Note, Xpos, Ypos) {
        $("#BrowseArea").show();
        $("#MapArea").show();
        $("#PlateNumber").val(PlateNumber);
        $("#City").val(City);
        $("#Town").val(Town);
        $("#ContactUnit").val(ContactUnit);
        $("#VehicleName").val(VehicleName);
        $("#VehicleState").val(VehicleState);
        $("#UpdateTime").val(UpdateTime);
        $("#Load").val(Load);
        $("#EnginePower").val(EnginePower);
        $("#ROCyear").val(ROCyear);
        $("#EPAsubsidy").val(EPAsubsidy);
        $("#CrossCityUse").val(CrossCityUse);
        $("#CrossTownUse").val(CrossTownUse);
        $("#Note").val(Note);
        $("#Xpos").val(Xpos);
        $("#Ypos").val(Ypos);
        PutMarkOnMap(Xpos, Ypos);
    }
</script>

<script>
    function PickItemForPosition(k, x, y) {
        $("#MapArea").show();
        PutMarkOnMap(x, y);
    }
</script>


@*以下函數在用戶點地圖後放標記。MapTarget抓取該位置，
    setView轉畫面到該處。如果MarkCollection（儲存標記的集合）不是空的，
    就先清掉再放新的，避免新舊同時出現*@
<script>
    function PutMarkOnMap(x, y) {
        var MapTarget = L.latLng(x, y);
        Map.setView(MapTarget, 14);
        if (MarkCollection != undefined) {
            Map.removeLayer(MarkCollection);
        };
        MarkCollection = L.marker([x, y]).addTo(Map);
    }

    var MapElement = document.getElementById('MapArea');
    MapElement.style = 'height:300px;';
    var Map = L.map(MapElement);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(Map);
    var MapTarget = L.latLng('25.0400458', '121.55859');
    Map.setView(MapTarget, 14);

    function MapClick(e) {
        var Xvalue = e.latlng.lat.toString();
        var Yvalue = e.latlng.lng.toString();
        if (MarkCollection != undefined) {
            Map.removeLayer(MarkCollection);
        };
        MarkCollection = L.marker([Xvalue, Yvalue]).addTo(Map);
        $("#Xpos").val(Xvalue);
        $("#Ypos").val(Yvalue);
        $("#EditXpos").val(Xvalue);
        $("#EditYpos").val(Yvalue);
    }
    var MarkCollection = {};
    Map.on('click', MapClick);
</script>
