@using MyEPA.ViewModels
@model MyEPA.Models.ApplyPeopleModel

@{
    ViewBag.Title = "請求人力資源-新增";
    Layout = "~/Views/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/Content/flatpickr.css">
    <link rel="stylesheet" href="~/Content/confirmDate.css">
}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <h3>請求人力資源</h3>
                <hr>
            </div>
            <div class="row">
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        @using (Html.BeginForm("Create", "ApplyPeople", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            ApplyRequestViewModel requestViewModel = ViewBag.RequestViewModel;
                            <input type="hidden" name="CityId" value="@requestViewModel.CityId" />
                            <input type="hidden" name="TownId" value="@requestViewModel.TownId" />
                            <input type="hidden" name="DiasterId" value="@requestViewModel.DiasterId" />

                            <table class="table table-bordered">
                                <thead class="thin-border-bottom">
                                    <tr>
                                        <td colspan="3" align="center" bgcolor="#ED7B73"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" align="center" bgcolor="#fff8d7">
                                            <h5>填寫需請求資料</h5>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>需用日期：</td>
                                        <td colspan="2">
                                            @Html.EditorFor(model => model.RequireDate, new { htmlAttributes = new { @class = "flatpickr flatpickr-input", @placeholder = "需用日期", @Value = Model.RequireDate.ToString("yyyy-MM-dd") } })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">清潔隊</td>
                                        <td>數量</td>
                                        <td>天數</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.EditorFor(model => model.CleaningMemberQuantity, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "0" } })</td>
                                        <td>@Html.EditorFor(model => model.CleaningMemberDays, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "0" } })</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">國軍</td>
                                        <td>數量</td>
                                        <td>天數</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.EditorFor(model => model.NationalArmyQuantity, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "0" } })</td>
                                        <td>@Html.EditorFor(model => model.NationalArmyDays, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "0" } })</td>
                                    </tr>
                                    <tr>
                                        <td>估算方法(限1000字內)</td>
                                        <td colspan="2">@Html.TextAreaFor(model => model.EstimationMethodDescribe, new { style = "width:100%" })</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-bordered">
                                <thead class="thin-border-bottom">
                                    <tr>
                                        <td colspan="3" align="center" bgcolor="#fff8d7">
                                            <h5>照片上傳</h5>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="3">說明:1.上傳照片(限JPG檔)請按"選擇檔案"鈕，待全部欄位填寫完成後按下方”新增”或”修改”鈕，統一上傳   2.下方提供照片說明填寫(限100字)。</td>
                                    </tr>
                                    <tr align="left">
                                        <td>
                                            照片預覽
                                            <br>
                                            <img class="imagen" id="blah" src="" alt="your image" />
                                            <input type="file" name="file" id="file" accept=".jpg, .jpeg, .png" />
                                            <span class="text-primary mt-2">限定(.jpg, .jpeg, .png)</span>
                                            <br>照片說明
                                            <br>
                                            @Html.TextAreaFor(model => model.PhotoDescribe, new { style = "width:100%" })
                                            <br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-bordered">
                                <thead class="thin-border-bottom">
                                    <tr>
                                        <td colspan="3" align="center" bgcolor="#fff8d7">
                                            <h5>現場聯絡人員</h5>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>聯絡人姓名</td>
                                        <td>@Html.TextBoxFor(model => model.ContactPerson)</td>
                                    </tr>
                                    <tr>
                                        <td>連絡電話</td>
                                        <td>@Html.TextBoxFor(model => model.ContactPhone)</td>
                                    </tr>
                                    <tr>
                                        <td>連絡手機</td>
                                        <td>@Html.TextBoxFor(model => model.ContactMobilePhone)</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <input type="submit" value="確認送出" class="btn align-center" />
                            <a href="@Url.Action("Index")">
                                <div class="btn align-center">取消</div>
                            </a>
                            <br>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/confirmDate.js"></script>
    <script src="~/Scripts/flatpickr.js"></script>
    <script>
        $(document).ready(function () {
            $('.imagen[src=""]').hide();
            $('.imagen:not([src=""])').show();
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                    $('.imagen:not([src=""])').show();
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file").change(function () {
            readURL(this);
        });
    </script>
}
