@model MyEPA.ViewModels.ApplyIndexViewModel<MyEPA.Models.ApplyPeopleModel>

@{
    ViewBag.Title = "請求人力資源";
    Layout = "~/Views/_Layout.cshtml";
}

@section styles{
    <style>
        .applyTable * {
            vertical-align: middle !important;
        }

        .applyTable tr {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
        }
    </style>

}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <h3>請求人力資源</h3>
                <hr>
            </div>
            <div class="row">
                <div class="widget-body">
                    <a href="@Url.Action("Create", "ApplyPeople", ViewBag.RequestViewModel)">
                        <div class="btn align-center">新增</div>
                    </a>
                    <hr />
                    <div class="widget-main no-padding">
                        <table class="table">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <td colspan="3" align="center" bgcolor="#ED7B73"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td bgcolor="#E8E8E8"><h5>已請求資料</h5></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#E8E8E8"><h5>@Model.ApplyStatus</h5></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <h4 align="center">請求清單</h4>
                        <hr>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <table class="table table-bordered table-striped applyTable">
                                    <thead class="thin-border-bottom">
                                        <tr>
                                            <td align="center">編修</td>
                                            <td align="center">填寫日期</td>
                                            <td align="center">需用日期</td>
                                            <td align="center">人力資源</td>
                                            <td align="center">數量(人)</td>
                                            <td align="center">天數</td>
                                            <td align="center">狀態</td>
                                            <td align="center">環保局辦理情形</td>
                                            <td align="center">環境部辦理情形</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var applyRequest in Model.AppliedRequests)
                                        {
                                            <tr>
                                                <td align="center" rowspan="2">
                                                    @if (applyRequest.EPAConfirmStatus == MyEPA.Enums.ApplyStatusEnum.Reject || applyRequest.EPBConfirmStatus == MyEPA.Enums.ApplyStatusEnum.Reject)
                                                    {
                                                        <a href="@Url.Action("Edit","ApplyPeople", new { Id = applyRequest.Id, CityId = ViewBag.RequestViewModel.CityId, TownId = ViewBag.RequestViewModel.TownId, DiasterId = ViewBag.RequestViewModel.DiasterId} )" type="button"><i class="ace-icon fa fa-pencil-square-o">&nbsp;修改</i></a>
                                                        <a href="" type="button" onclick="Delete(@applyRequest.Id)"><i class="ace-icon fa fa-trash-o">&nbsp;刪除</i></a>
                                                    }

                                                </td>
                                                <td align="center" rowspan="2">@applyRequest.CreateDate</td>
                                                <td align="center" rowspan="2">@applyRequest.RequireDate.ToString("yyyy/MM/dd")</td>
                                                <td align="center">清潔隊</td>
                                                <td align="center">@applyRequest.CleaningMemberQuantity</td>
                                                <td align="center">@applyRequest.CleaningMemberDays</td>
                                                <td align="center" rowspan="2">@applyRequest.Status.GetDescription()</td>
                                                <td align="center" rowspan="2">@applyRequest.EPBConfirmStatus.GetDescription()</td>
                                                <td align="center" rowspan="2">@applyRequest.EPAConfirmStatus.GetDescription()</td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    國軍
                                                </td>
                                                <td align="center">
                                                    @applyRequest.NationalArmyQuantity
                                                </td>
                                                <td align="center">
                                                    @applyRequest.NationalArmyDays
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function Delete(id) {
            if (!window.confirm('確定要刪除?')) {
                return;
            };
            var deleteUrl = '@Url.Action("Delete", "ApplyPeople")?id=' + id;
            $.ajax({
                url: deleteUrl,
                method: 'Post',
                success: function (data) {
                        alert('刪除成功');
                        location.reload();
                },
                error: function (data) {
                    alert('刪除失敗');
                }
            });
        }
    </script>
}