@model MyEPA.Models.RecResourceModel
@using MyEPA.Models

@{
    ViewBag.Title = "資源調度 - 修改";
    Layout = "~/Views/_Layout.cshtml";

    int type = ViewBag.Type;

    List<CityModel> Citys = ViewBag.Citys;
}
<link rel="stylesheet" href="~/Content/flatpickr.css">
<link rel="stylesheet" href="~/Content/confirmDate.css">

<h3>
    修改@(type == 1 ? "調度需求" : "提供資源")
</h3>

@using (Html.BeginForm("Edit", "RecResource", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

<div class="form-horizontal">
    <hr />
    @*<input type="hidden" name="ResourceTypeId" value="@Model.ResourceTypeId">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="CityId" name="CityId">
                @foreach (var item in Citys)
                {
                    <option value="@item.Id" @(Model.CityId == item.Id ? "selected" : string.Empty)>@item.City</option>
                }
            </select>
            @*@Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ContactMobilePhone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ContactMobilePhone, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Items, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Items, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Spec, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Spec, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @{
            string lblUSDate = "";
            if (type == 1)
            { lblUSDate = "需用時間(起)"; }
            else if (type == 2)
            { lblUSDate = "提供時間(起)"; }
        }
        
        <label class="control-label col-md-2" for="">
            <span class="text-danger">*</span>
            @lblUSDate
        </label>        
        <div class="col-md-10">
            @Html.TextBox("USDate", Model.USDate.ToString("yyyy-MM-dd"), new { @type = "Date", required = "required" })
        </div>
    </div>
    <div class="form-group">
        @{
            string lblUEDate = "";
            if (type == 1)
            { lblUEDate = "需用時間(迄)"; }
            else if (type == 2)
            { lblUEDate = "提供時間(迄)"; }
        }
        <label class="control-label col-md-2" for="">
            <span class="text-danger">*</span>
            @lblUEDate
        </label>

        <div class="col-md-10">
            @Html.TextBox("UEDate", Model.UEDate.ToString("yyyy-MM-dd"), new { @type = "Date", required = "required" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="修改" class="btn btn-success" />
            <a href="@Url.Action("Index")?type=@type&diasterId=@Model.DiasterId">
                <div class="btn align-center">取消</div>
            </a>
        </div>
    </div>
</div>
}
<script src="~/Scripts/confirmDate.js"></script>
<script src="~/Scripts/flatpickr.js"></script>