@model IEnumerable<MyEPA.Models.RecResourceModel>
@using MyEPA.Models;
@using MyEPA.Enums;
@{
    ViewBag.Title = "資源調度";
    Layout = "~/Views/_Layout.cshtml";
    UserBriefModel user = ViewBag.User;
    List<DiasterModel> diasters = ViewBag.Diasters;
    List<CityModel> citys = ViewBag.Citys;

    //querystring
    int type = ViewBag.Type ?? 0;
    int diasterId = ViewBag.DiasterId;
}

<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-primary btn-white dropdown-toggle" aria-expanded="false">
        @(diasters.FirstOrDefault(e => e.Id == diasterId).DiasterName)<i class="ace-icon fa fa-angle-down icon-on-right"></i>
    </button>
    <ul class="dropdown-menu">
        @foreach (DiasterModel Item in diasters)
        {
            <li>
                <a href="@Url.Action("Index", new { diasterId = Item.Id})">@Item.DiasterName</a>
            </li>
        }
    </ul>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <h2> 資源調度 </h2>
            <p>                
                <a href="#" class="btn btn-primary" onclick="Create('@diasterId')">新增</a>
            </p>

            <div id="Tabs2">
                <ul>
                    <li type="1"><a href="#tabs-1">調度需求</a></li>
                    <li type="2"><a href="#tabs-2">提供調度</a></li>
                    <li type="3"><a href="#tabs-3">配置資源</a></li>
                </ul>
                <div id="tabs-1">
                    @*調度需求*@
                    <table class="table">
                        <tr>
                            <th>
                                編修細目
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CityId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Reason)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactPerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Spec)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Unit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.USDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UEDate)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit", new { item.Id})">編輯</a>
                                    <a href="#" onclick="Delete(@item.Id)">删除</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => citys.Where(a => a.Id == item.CityId).FirstOrDefault().City)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactPerson)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Items)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Spec)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UEDate)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <div id="tabs-2">
                    @*提供調度*@
                    <table class="table">
                        <tr>
                            <th>
                                編修細目
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CityId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Reason)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactPerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Spec)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Unit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.USDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UEDate)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit", new { item.Id})">編輯</a>
                                    <a href="#" onclick="Delete(@item.Id)">删除</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => citys.Where(a => a.Id == item.CityId).FirstOrDefault().City)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactPerson)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Items)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Spec)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UEDate)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <div id="tabs-3">
                    33333333
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/chart.js"></script>

    <script>
        $(function () {
            $("#Tabs2").tabs();
        });

        //新增
        function Create(diasterId) {
            var type = $('#Tabs2 .ui-state-active').attr('type');

            if (type == "1") {
                //調度需求
                var url = '@Url.Action("Create")?type=' + type + '&diasterId=' + diasterId;
                location.href = url;
            }
            else if (type == "2") {
                //提供調度
                var url = '@Url.Action("Create")?type=' + type + '&diasterId=' + diasterId;
                location.href = url;
            }
            else if (type == "3") {
                //配置資源
            }
        }

        //刪除
        function Delete(id) {
        if (!window.confirm('確定要刪除?')) {
            return;
        };
        var root = '@Url.Action("Delete")?id=' + id;
        $.ajax({
            url: root,
            method: 'Post',
            success: function (data) {
                    if (data.IsSuccess) {
                        alert('刪除成功');
                        location.reload();
                    }
                    else {
                        alert('刪除失敗,' + data.ErrorMessage);
                    }
                },
            error: function (data) {
                    alert('刪除失敗');
                }
            });
        };
    </script>
}