@model IEnumerable<MyEPA.Models.RecResourceModel>
@using MyEPA.Models;
@using MyEPA.Enums;
@{
    ViewBag.Title = "資源調度";
    Layout = "~/Views/_Layout.cshtml";
    UserBriefModel user = ViewBag.User;
    List<DiasterModel> diasters = ViewBag.Diasters;
    List<CityModel> citys = ViewBag.Citys;

    //querystring
    int type = ViewBag.Type ?? 0;
    int diasterId = ViewBag.DiasterId;
}

<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-primary btn-white dropdown-toggle" aria-expanded="false">
        @(diasters.FirstOrDefault(e => e.Id == diasterId).DiasterName)<i class="ace-icon fa fa-angle-down icon-on-right"></i>
    </button>
    <ul class="dropdown-menu">
        @foreach (DiasterModel Item in diasters)
        {
            <li>
                <a href="@Url.Action("Index", new { diasterId = Item.Id })">@Item.DiasterName</a>
            </li>
        }
    </ul>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <h2> 資源調度 </h2>
            <p>                
                <a href="#" class="btn btn-primary" onclick="Create('@diasterId')">新增</a>
            </p>

            <div id="Tabs2">
                <ul>
                    <li type="1"><a href="#tabs-1" data-toggle="tab">調度需求</a></li>
                    <li type="2"><a href="#tabs-2" data-toggle="tab">提供資源</a></li>
                    <li type="3"><a href="#tabs-3" data-toggle="tab">可提供調度</a></li>
                </ul>
                <div id="tabs-1">
                    @*調度需求*@
                    <table class="table">
                        <tr>
                            <th>
                                編修細目
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CityId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Reason)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactPerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Spec)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Unit)
                            </th>
                            <th>
                                需用時間(起)
                            </th>
                            <th>
                                需用時間(迄)
                            </th>
                        </tr>

                        @{
                            @*1.調度需求(全部看，改自己)*@
                            IEnumerable<RecResourceModel> iquery1;
                            if (!user.IsAdmin)
                            {
                                //自己縣市
                                var a1 = Model.Where(a => a.CityId == user.CityId).OrderByDescending(a => a.Id);
                                //其它縣市
                                var a2 = Model.Where(a => a.CityId != user.CityId).OrderByDescending(a => a.Id);
                                iquery1 = a1.Concat(a2);
                            }
                            else
                            {
                                iquery1 = Model;
                            }

                            var datas_1 = iquery1.Where(a => a.Type == 1).ToList();
                        }

                        @foreach (var item in datas_1)
                        {
                            <tr>
                                <td>
                                    @if (user.IsAdmin
                                        || (!user.IsAdmin && item.CityId == user.CityId))
                                    {
                                        <a href="@Url.Action("Edit", new { item.Id })">編輯</a>
                                        <a href="#" onclick="Delete(@item.Id)">删除</a>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => citys.Where(a => a.Id == item.CityId).FirstOrDefault().City)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactPerson)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Items)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Spec)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UEDate)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <div id="tabs-2">
                    @*提供資源*@
                    <table class="table">
                        <tr>
                            <th>
                                編修細目
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CityId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Reason)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactPerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Spec)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Unit)
                            </th>
                            <th>
                                提供時間(起)
                            </th>
                            <th>
                                提供時間(迄)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </th>
                        </tr>

                        @*2.提供需求(看自己，改自己)*@
                        @{
                            IEnumerable<RecResourceModel> iquery2;
                            if (!user.IsAdmin)
                            {
                                iquery2 = Model.Where(a => a.CityId == user.CityId);
                            }
                            else
                            {
                                iquery2 = Model;
                            }

                            var datas_2 = iquery2.Where(a => a.Type == 2).ToList();
                        }

                        @foreach (var item in datas_2)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit", new { item.Id})">編輯</a>
                                    <a href="#" onclick="Delete(@item.Id)">删除</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => citys.Where(a => a.Id == item.CityId).FirstOrDefault().City)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactPerson)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Items)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Spec)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UEDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <div id="tabs-3">
                    @*可提供調度*@
                    <table class="table">
                        <tr>
                            <th>
                                編修
                            </th>
                            <th>
                                結案
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CityId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactPerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Spec)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                需用時間
                            </th>
                        </tr>

                        @{
                            @*1.調度需求(全部看，改自己)*@
                            IEnumerable<RecResourceModel> iquery3;
                            iquery3 = Model.Where(a => a.Type == 1);
                            iquery3 = iquery3.OrderBy(a => a.Status).ThenByDescending(a => a.Id);

                            var datas_3 = iquery3.ToList();
                        }
                        @foreach (var item in datas_3)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("List", "RecResourceSet", new { type = 3, diasterId = diasterId, recResourceId = item.Id })">調度</a>
                                </td>
                                <td>
                                    @if (item.Status == 2)
                                    {
                                        //已結案
                                        <span style="color: #ADADAD">@Code.GetRecStatus().Where(a => a.Key == 2).FirstOrDefault().Value</span>
                                    }
                                    else if (item.Status == 1)
                                    {
                                        <a class="text-primary" href="#" onclick="Finish(@item.Id)">結案</a>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => citys.Where(a => a.Id == item.CityId).FirstOrDefault().City)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactPerson)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Items)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Spec)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USDate)
                                    ~
                                    @Html.DisplayFor(modelItem => item.UEDate)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-tabs .ui-tabs-nav li.ui-state-default.active > a {
        color: #eb8f00;
    }
</style>

@section scripts
{
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/chart.js"></script>

    <script>
        $(function () {
            $("#Tabs2").tabs();

            //新增按鈕(Tab 點選)
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var addContent = '新增(' + $('#Tabs2 .ui-state-active').text() + ')';
                $('.page-content .btn-primary').text(addContent);

                var type = $('#Tabs2 .ui-state-active').attr('type');
                if (type == "3") {
                    //可提供調度
                    $('.page-content .btn-primary').hide();
                }
                else {
                    $('.page-content .btn-primary').show();
                }
            })

            //Tab預設切換
            if (@type != 0) {
                $('#Tabs2 [type=' + @type + ']').find('a').trigger('click');
            }
        });

        //新增
        function Create(diasterId) {
            var type = $('#Tabs2 .ui-state-active').attr('type');

            if (type == "1") {
                //調度需求
                var url = '@Url.Action("Create")?type=' + type + '&diasterId=' + diasterId;
                location.href = url;
            }
            else if (type == "2") {
                //提供資源
                var url = '@Url.Action("Create")?type=' + type + '&diasterId=' + diasterId;
                location.href = url;
            }
        }

        //刪除
        function Delete(id) {
        if (!window.confirm('確定要刪除?')) {
            return;
        };
        var root = '@Url.Action("Delete")?id=' + id;
        $.ajax({
            url: root,
            method: 'Post',
            success: function (data) {
                    if (data.IsSuccess) {
                        alert('刪除成功');
                        location.reload();
                    }
                    else {
                        alert('刪除失敗,' + data.ErrorMessage);
                    }
                },
            error: function (data) {
                    alert('刪除失敗');
                }
            });
        };

        //結案
        function Finish(id) {
        if (!window.confirm('確定要結案?')) {
            return;
        };
        var root = '@Url.Action("Finish")?id=' + id;
        $.ajax({
            url: root,
            method: 'Post',
            success: function (data) {
                    if (data.IsSuccess) {
                        alert('結案成功');
                        location.reload();
                    }
                    else {
                        alert('結案失敗,' + data.ErrorMessage);
                    }
                },
            error: function (data) {
                    alert('結案失敗');
                }
            });
        };
    </script>
}