@model IEnumerable<MyEPA.Models.RecResourceModel>
@using MyEPA.Models;
@using MyEPA.Enums;
@using Newtonsoft.Json.Linq;
@using System.Web.Script.Serialization;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "資源調度";
    Layout = "~/Views/_Layout.cshtml";
    UserBriefModel user = ViewBag.User;
    List<DiasterModel> diasters = ViewBag.Diasters;
    List<CityModel> citys = ViewBag.Citys;
    var countIdNeeds = ViewBag.CountIdNeeds;

    List<VehicleTypeModel> vehicleTypes = ViewBag.VehicleTypeRepository;
    List<DisinfectorTypeModel> disinfectorTypes = ViewBag.DisinfectorTypeRepository;
    List<DisinfectantTypeModel> disinfectantTypes = ViewBag.DisinfectantTypeRepository;

    //querystring
    int type = ViewBag.Type ?? 0;
    int diasterId = ViewBag.DiasterId;
    bool IsAdmin = ViewBag.IsAdmin;
    bool IsTeam = ViewBag.IsTeam;
}

<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-primary btn-white dropdown-toggle" aria-expanded="false">
        @(diasters.FirstOrDefault(e => e.Id == diasterId).DiasterName)<i class="ace-icon fa fa-angle-down icon-on-right"></i>
    </button>
    <ul class="dropdown-menu">
        @foreach (DiasterModel Item in diasters)
        {
            <li>
                <a href="@Url.Action("Index", new { diasterId = Item.Id })">@Item.DiasterName</a>
            </li>
        }
    </ul>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <h2> 資源調度 </h2>
            <p>
                <a href="#" class="btn btn-primary" onclick="Create('@diasterId')">新增</a>
            </p>

            <div id="Tabs2">
                <ul>
                    <li type="1"><a id="tab1" href="#tabs-1" data-toggle="tab">調度需求</a></li>
                    <li type="2"><a id="tab2" href="#tabs-2" data-toggle="tab">可提供資源</a></li>
                    <li type="3"><a id="tab3" href="#tabs-3" data-toggle="tab">調度審核情形</a></li>
                </ul>
                <div id="tabs-1">
                    @*調度需求*@
                    <table class="table">
                        <tr>
                            <th>
                                編修細目
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CityId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Reason)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactPerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TypeItems)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Spec)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Unit)
                            </th>
                            <th>
                                需用期間(起)
                            </th>
                            <th>
                                需用期間(迄)
                            </th>
                            <th>
                                鍵入時間
                            </th>
                        </tr>

                        @{
                            @*1.調度需求(全部看，改自己)*@
                            IEnumerable<RecResourceModel> iquery1;
                            if (!IsAdmin)
                            {
                                //自己縣市
                                var a1 = Model.Where(a => a.CityId == user.CityId).OrderByDescending(a => a.Id);
                                //其它縣市
                                var a2 = Model.Where(a => a.CityId != user.CityId).OrderByDescending(a => a.Id);
                                iquery1 = a1.Concat(a2);
                            }
                            else
                            {
                                iquery1 = Model;
                            }

                            var datas_1 = iquery1.Where(a => a.Type == 1).ToList();
                        }

                        @foreach (var item in datas_1)
                        {
                            <tr>
                                <td>
                                    @if (IsAdmin
|| (!IsAdmin && item.CityId == user.CityId))
                                    {
                                        <a href="@Url.Action("Edit", new { item.Id })">編輯</a>
                                        <a href="#" onclick="Delete(@item.Id, @diasterId)">删除</a>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => citys.Where(a => a.Id == item.CityId).FirstOrDefault().City)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason)
                                    <br />
                                    <a href="@Url.Action("DownPDF", new { Id = item.Id })">
                                        <img width="30" height="30" src="../../images/icon_pdf.png" alt="PDF">
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactPerson)
                                    <br />
                                    @Html.DisplayFor(modelItem => item.ContactMobilePhone)
                                </td>
                                <td>
                                    @{
                                        string strTypeItems = "";
                                        var v = Code.GetRecTypeItems().Where(a => a.Key == item.TypeItems);

                                        strTypeItems = v.Count() > 0 ? v.First().Value : "";
                                    }
                                    @strTypeItems
                                </td>
                                <td>
                                    @{
                                        string strItems = item.Items;
                                        if (item.TypeItems == 1)
                                        {
                                            var dd1 = vehicleTypes.Where(a => a.Type == item.Items).FirstOrDefault();
                                            strItems = dd1 != null ? dd1.Name : item.Items;
                                        }
                                        else if (item.TypeItems == 2)
                                        {
                                            var dd2 = disinfectorTypes.Where(a => a.Type == item.Items).FirstOrDefault();
                                            strItems = dd2 != null ? dd2.Name : item.Items;
                                        }
                                        else if (item.TypeItems == 3)
                                        {
                                            var dd3 = disinfectantTypes.Where(a => a.Type == item.Items).FirstOrDefault();
                                            strItems = dd3 != null ? dd3.Name : item.Items;
                                        }
                                    }
                                    @strItems
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Spec)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UEDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <div id="tabs-2">
                    @*可提供資源*@
                    <table class="table">
                        <tr>
                            <th>
                                編修細目
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CityId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Reason)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactPerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TypeItems)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Spec)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Unit)
                            </th>
                            <th>
                                提供期間(起)
                            </th>
                            <th>
                                提供期間(迄)
                            </th>
                            <th>
                                鍵入時間
                            </th>
                        </tr>

                        @*2.提供需求(看自己，改自己)*@
                        @{
                            IEnumerable<RecResourceModel> iquery2;
                            if (IsAdmin)
                            {
                                iquery2 = Model;
                            }
                            else if (IsTeam)
                            {
                                iquery2 = Model;
                            }
                            else
                            {
                                iquery2 = Model.Where(a => a.CityId == user.CityId);
                            }

                            var datas_2 = iquery2.Where(a => a.Type == 2).ToList();
                        }

                        @foreach (var item in datas_2)
                        {
                            <tr>
                                <td>
                                    @if (IsAdmin
|| (!IsAdmin && item.CityId == user.CityId))
                                    {
                                        <a href="@Url.Action("Edit", new { item.Id })">編輯</a>
                                        <a href="#" onclick="Delete(@item.Id, @diasterId)">删除</a>
                                    }
                                    </td>
                                <td>
                                    @Html.DisplayFor(modelItem => citys.Where(a => a.Id == item.CityId).FirstOrDefault().City)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason)
                                    <br />
                                    <a href="@Url.Action("DownPDF", new { Id = item.Id })">
                                        <img width="30" height="30" src="../../images/icon_pdf.png" alt="PDF">
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactPerson)
                                    <br />
                                    @Html.DisplayFor(modelItem => item.ContactMobilePhone)
                                </td>
                                <td>
                                    @{
                                        string strTypeItems = "";
                                        var v = Code.GetRecTypeItems().Where(a => a.Key == item.TypeItems);

                                        strTypeItems = v.Count() > 0 ? v.First().Value : "";
                                    }
                                    @strTypeItems
                                </td>
                                <td>
                                    @{
                                        string strItems = item.Items;
                                        if (item.TypeItems == 1)
                                        {
                                            var dd1 = vehicleTypes.Where(a => a.Type == item.Items).FirstOrDefault();
                                            strItems = dd1 != null ? dd1.Name : item.Items;
                                        }
                                        else if (item.TypeItems == 2)
                                        {
                                            var dd2 = disinfectorTypes.Where(a => a.Type == item.Items).FirstOrDefault();
                                            strItems = dd2 != null ? dd2.Name : item.Items;
                                        }
                                        else if (item.TypeItems == 3)
                                        {
                                            var dd3 = disinfectantTypes.Where(a => a.Type == item.Items).FirstOrDefault();
                                            strItems = dd3 != null ? dd3.Name : item.Items;
                                        }
                                    }
                                    @strItems
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Spec)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UEDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <div id="tabs-3">
                    @*調度審核情形*@
                    <table class="table">
                        <tr>
                            <th>
                                編修
                            </th>
                            <th>
                                結案
                            </th>
                            <td>
                                已調度總數量
                            </td>
                            <th>
                                @Html.DisplayNameFor(model => model.CityId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactPerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Spec)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                需用期間
                            </th>
                        </tr>

                        @{
                            @*1.調度需求(全部看，改自己)*@
                            IEnumerable<RecResourceModel> iquery3;
                            iquery3 = Model.Where(a => a.Type == 1);
                            iquery3 = iquery3.OrderBy(a => a.Status).ThenByDescending(a => a.Id);

                            var datas_3 = iquery3.ToList();
                        }
                        @foreach (var item in datas_3)
                        {
                            <tr>
                                <td>
                                    @{ 
                                        string btnText = "";
                                        if (IsTeam)
                                        {
                                            //三區只能檢視
                                            btnText = "檢視";
                                        }
                                        else if (item.Status == 2)
                                        {
                                            btnText = "檢視";
                                        }
                                        else
                                        {
                                            btnText = "編輯";
                                        }
                                    }
                                    <a style="color:red" href="@Url.Action("List", "RecResourceSet", new { type = 3, diasterId = diasterId, recResourceId = item.Id })">
                                        @btnText
                                    </a>
                                </td>
                                <td>
                                    @if (item.Status == 2)
                                    {
                                        //已結案
                                        <span style="color: #ADADAD">@Code.GetRecStatus().Where(a => a.Key == 2).FirstOrDefault().Value</span>
                                        <br />
                                        <a class="text-primary" href="#" onclick="UpdateStatus(@item.Id, @diasterId, 1)">取消結案</a>
                                    }
                                    else if (item.Status == 1)
                                    {
                                        <a class="text-primary" href="#" onclick="UpdateStatus(@item.Id, @diasterId, 2)">結案</a>
                                    }
                                </td>
                                <td>
                                    @foreach (var v in countIdNeeds)
                                    {
                                        if (v != null)
                                        {
                                            string text = new JavaScriptSerializer().Serialize(v);
                                            //var data = (JObject)JsonConvert.DeserializeObject(text);

                                            JObject obj = JObject.Parse(text);
                                            int Id = 0;
                                            int Count = 0;
                                            int.TryParse((string)obj["Id"], out Id);
                                            int.TryParse((string)obj["Count"], out Count);

                                            if (Id == item.Id)
                                            {
                                                @Count;
                                                continue;
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => citys.Where(a => a.Id == item.CityId).FirstOrDefault().City)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactPerson)
                                    <br />
                                    @Html.DisplayFor(modelItem => item.ContactMobilePhone)
                                </td>
                                <td>
                                    @{
                                        string strItems = item.Items;
                                        if (item.TypeItems == 1)
                                        {
                                            var dd1 = vehicleTypes.Where(a => a.Type == item.Items).FirstOrDefault();
                                            strItems = dd1 != null ? dd1.Name : item.Items;
                                        }
                                        else if (item.TypeItems == 2)
                                        {
                                            var dd2 = disinfectorTypes.Where(a => a.Type == item.Items).FirstOrDefault();
                                            strItems = dd2 != null ? dd2.Name : item.Items;
                                        }
                                        else if (item.TypeItems == 3)
                                        {
                                            var dd3 = disinfectantTypes.Where(a => a.Type == item.Items).FirstOrDefault();
                                            strItems = dd3 != null ? dd3.Name : item.Items;
                                        }
                                    }
                                    @strItems
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Spec)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USDate)
                                    ~
                                    @Html.DisplayFor(modelItem => item.UEDate)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-tabs .ui-tabs-nav li.ui-state-default.active > a {
        color: #eb8f00;
    }
</style>

@section scripts
{
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/chart.js"></script>

    <script>

        var IsAdmin = '@IsAdmin'.toLowerCase() == 'true';
        var IsTeam = '@IsTeam'.toLowerCase() == 'true';

        $(function () {
            $("#Tabs2").tabs();

            if (!(IsAdmin) && !(IsTeam)) {
                $('#tab3').hide();
            }

            //新增按鈕(Tab 點選)
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var addContent = '新增(' + $('#Tabs2 .ui-state-active').text() + ')';
                $('.page-content .btn-primary').text(addContent);

                var type = $('#Tabs2 .ui-state-active').attr('type');
                if (type == "3") {
                    //調度審核情形
                    $('.page-content .btn-primary').hide();
                }
                else {
                    $('.page-content .btn-primary').show();
                }
            })

            //Tab預設切換
            if (@type != 0) {
                $('#Tabs2 [type=' + @type + ']').find('a').trigger('click');
            }
        });

        //新增
        function Create(diasterId) {
            var type = $('#Tabs2 .ui-state-active').attr('type');

            if (type == "1") {
                //調度需求
                var url = '@Url.Action("Create")?type=' + type + '&diasterId=' + diasterId;
                location.href = url;
            }
            else if (type == "2") {
                //可提供資源
                var url = '@Url.Action("Create")?type=' + type + '&diasterId=' + diasterId;
                location.href = url;
            }
        }

        //刪除
        function Delete(id, diasterId) {
        if (!window.confirm('確定要刪除?')) {
            return;
        };
        var root = '@Url.Action("Delete")?id=' + id;
        $.ajax({
            url: root,
            method: 'Post',
            success: function (data) {
                    if (data.IsSuccess) {
                        alert('刪除成功');
                        var type = $('#Tabs2 .ui-state-active').attr('type');
                        var url = '@Url.Action("Index")?type=' + type + '&diasterId=' + diasterId;
                        location.href = url;
                    }
                    else {
                        alert('刪除失敗,' + data.ErrorMessage);
                    }
                },
            error: function (data) {
                    alert('刪除失敗');
                }
            });
        };

        //結案
        function UpdateStatus(id, diasterId, status) {

            var act = '';
            if (status == '1') {
                act = '取消結案';
            }
            else {
                act = '結案';
            }

            if (!window.confirm(act + '確定?')) {
                return;
            };

            var root = '@Url.Action("UpdateStatus")?id=' + id + "&status=" + status;
            $.ajax({
                url: root,
                method: 'Post',
                success: function (data) {
                    if (data.IsSuccess) {
                        alert(act + '成功');
                        //location.reload();
                        var type = $('#Tabs2 .ui-state-active').attr('type');
                        var url = '@Url.Action("Index")?type=' + type + '&diasterId=' + diasterId;
                        location.href = url;
                    }
                    else {
                        alert(act + '失敗,' + data.ErrorMessage);
                    }
                },
                error: function (data) {
                    alert(act + '錯誤');
                }
            });
        };
    </script>
}