@model MyEPA.ViewModels.HomeIndexViewModel
@using MyEPA.Enums
@using MyEPA.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <h5> @Model.UserBrief.Name (@Model.UserBrief.Duty.GetDescription()) 您好, @(string.IsNullOrWhiteSpace(@Model.RunningDiasterNames) ? string.Empty : string.Format("目前災害名稱： {0}", @Model.RunningDiasterNames))   </h5>
            <div id="Tabs2">
                <ul><li><a href="#tabs-1">通報資源</a></li><li><a href="#tabs-2">氣象資源</a></li><li><a href="#tabs-3">公告 / 新聞</a></li></ul>
                <div id="tabs-1">
                    <div class="container-fluid pc" align="center">
                        <img width="100%" src="../images/banner_car.jpg" alt="ADbanner">
                    </div>
                    <hr class="pc">
                    <div id="accordion" class="accordion-style1 panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                                        <h5>
                                            <i class="bigger-110 ace-icon fa fa-angle-down" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            &nbsp;第一步：資源通報&nbsp;&nbsp;
                                        </h5><small>平時是建置資源資訊的最佳時機</small>
                                    </a>
                                </h4>
                            </div>
                            @{
                                Html.RenderAction("C3x1", "Cleaner", new { });
                            }
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"@(((bool)ViewBag.IsDiasterRuning) ? "style=background-color:pink" : string.Empty)>
                                        <h5>
                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            &nbsp;第二步：整備通報&nbsp;&nbsp;
                                        </h5><small>整備通報是災害主題建置後的第一步</small>
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapseTwo" aria-expanded="false">
                                <div class="panel-body">
                                    @Html.ActionLink("整備通報", "Index", "Defend", null, new { @class = "btn btn-primary btn-large" })
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">
                                        <h5>
                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            &nbsp;第三步：災情及環境清理通報&nbsp;&nbsp;

                                        </h5><small>災情的現況照片及空間資料也很重要</small>
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapseThree" aria-expanded="false">
                                <div class="panel-body">
                                    @Html.ActionLink("災情通報", "B1c", "EPBxDamage", null, new { @class = "btn btn-primary btn-large" })
                                </div>
                            </div>
                        </div>

                        <div style="display:none" class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false">
                                        <h5>
                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            &nbsp;第四步：請求支援&nbsp;&nbsp;
                                        </h5><small>你隨時可提出人力、消毒藥劑等支援請求</small>
                                    </a>
                                </h4>
                            </div>
                            <!--第四步:請求支援(collapse)-->
                            <div class="panel-collapse collapse" id="collapseFour" aria-expanded="false">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr align="center" bgcolor="#FAFAFA">
                                                <td colspan="2">請求支援通報</td>
                                            </tr>
                                            <tr>
                                                <td>鄉鎮市名稱：</td>
                                                <td>
                                                    <form>
                                                        <select id="city" name="city">
                                                            <option value="@Model.UserBrief.CityId">@Model.UserBrief.City</option>

                                                        </select>
                                                        <select id="town" name="town">
                                                            <option value="@Model.UserBrief.TownId">@Model.UserBrief.Town</option>
                                                        </select>
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>災害名稱：</td>
                                                <td>
                                                    <form>
                                                        <select id="disaster" name="disaster">
                                                            <option value="0">請選擇</option>
                                                            @foreach (var diaster in Model.Diasters)
                                                            {
                                                                <option value="@diaster.Id" selected="@diaster.Status.Equals(NormalActiveStatusEnum.Active.ToInteger())"> @diaster.DiasterName</option>
                                                            }
                                                        </select>
                                                    </form>
                                                </td>
                                            </tr>
                                            <!--
                                            <tr>
                                                <td>災區狀況說明：</td>
                                                <td><textarea class="col-lg-10">&nbsp;</textarea></td>
                                            </tr>
                                            -->
                                        </tbody>
                                    </table>

                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr align="center">
                                                <td bgcolor="#FAFAFA">請求支援項目</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-4 pad-1" style="">
                                                                <a onclick="Redirect('Index','ApplyPeople')">
                                                                    <button class="btn btn-primary">
                                                                        <h5><i class="ace-icon fa fa-users"></i>&nbsp;人力資源<br></h5>
                                                                        <small id="ApplyPeopleMsg">載入中....<br>未核定</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplyMedicine')">
                                                                    <button class="btn btn-primary">
                                                                        <h5><i class="ace-icon fa fa-flask"></i>&nbsp;環境消毒藥劑<br></h5>
                                                                        <small id="ApplyMedicineMsg">載入中....<br>未核定</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplySubsidy')">
                                                                    <button class="btn btn-primary">
                                                                        <h5><i class="ace-icon fa fa-paint-brush"></i>&nbsp;請求補助款<br></h5>
                                                                        <small id="ApplySubsidyMsg">載入中....</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplyOther')">
                                                                    <button class="btn btn-primary">
                                                                        <h5>&nbsp;其他&nbsp;<small style="color: white">(包括垃圾場災損)</small><br></h5>
                                                                        <small id="ApplyOtherMsg">載入中....</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplyCar')">
                                                                    <button class="btn btn-primary">
                                                                        <h5><i class="ace-icon fa fa-car"></i>&nbsp;車輛設備<br></h5>
                                                                        <small id="ApplyCarMsg">載入中....</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplyDisinfectionEquipment')">
                                                                    <button class="btn btn-primary">
                                                                        <h5><i class="ace-icon fa fa-paint-brush"></i>&nbsp;環境消毒設備<br></h5>
                                                                        <small id="ApplyDisinfectionEquipmentMsg">載入中....</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    @*<div class="btn">資料儲存確認</div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tabs-2">
                    <div class="container pc">
                        <iframe scrolling="no" height="820" width="100%" src="https://e-service.cwb.gov.tw/HistoryDataQuery/index.jsp" frameborder="0"></iframe>
                        <hr>
                    </div>

                    <div class="container">
                        <h4><i class="ace-icon fa fa-bar-chart-o"></i>&nbsp;溫度及累積雨量圖&nbsp;<small>(單位:度/毫米)</small></h4>
                        <div class="pc">
                            <canvas id="mixed-chart-0"></canvas>
                        </div>
                        <hr>

                        <div class="col-lg-4">
                            <h5>北部地區</h5>
                            <canvas id="mixed-chart-1"></canvas>

                        </div>

                        <div class="col-lg-4">
                            <h5>中部地區</h5>
                            <canvas id="mixed-chart-2"></canvas>
                        </div>

                        <div class="col-lg-4">
                            <h5>南部地區</h5>
                            <canvas id="mixed-chart-3"></canvas>

                        </div>

                        <div class="col-lg-4">
                            <h5>東部及離島地區</h5>
                            <canvas id="mixed-chart-4"></canvas>
                        </div>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="container">
                        <h3>最新公告</h3>

                        <table class="table">
                            <tr>
                                <th width="15%">
                                    @Html.DisplayNameFor(model => model.Notices[0].CreateDate)
                                </th>
                                <th width="10%">
                                    @Html.DisplayNameFor(model => model.Notices[0].Title)
                                </th>
                                <th width="75%">
                                    @Html.DisplayNameFor(model => model.Notices[0].Content)
                                </th>
                            </tr>

                            @foreach (var item in Model.Notices)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Content)
                                    </td>
                                </tr>
                            }

                        </table>

                        <div class="row">
                        </div>
                        <h3>最新新聞</h3>
                        <table class="table">
                            <tr>
                                <th width="15%">
                                    @Html.DisplayNameFor(model => model.News[0].CreateDate)
                                </th>
                                <th width="10%">
                                    @Html.DisplayNameFor(model => model.News[0].Title)
                                </th>
                                <th width="75%">
                                    @Html.DisplayNameFor(model => model.News[0].Content)
                                </th>
                            </tr>

                            @foreach (var item in Model.News)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Content)
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>


            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

@section scripts
    {
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/chart.js@2.8.0"></script>
    <script>
        $(document).ready(function () {
            UpdateApplyData();
            $('#disaster').change(function () { UpdateApplyData(); });
        });
        function UpdateApplyData() {
            var cityId = $('#city').val();
            var townId = $('#town').val();
            var diasterId = $('#disaster').val();
            GetApplyData('ApplyPeople', cityId, townId, diasterId);
            GetApplyData('ApplyMedicine', cityId, townId, diasterId);
            GetApplyData('ApplySubsidy', cityId, townId, diasterId);
            GetApplyData('ApplyOther', cityId, townId, diasterId);
            GetApplyData('ApplyCar', cityId, townId, diasterId);
            GetApplyData('ApplyDisinfectionEquipment', cityId, townId, diasterId);
        }

        var full = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');
        function GetApplyData(controller, cityId, townId, diasterId) {

            var action = 'Get'

            var _url = `${full}/${controller}/${action}?cityId=${cityId}&townid=${townId}&diasterId=${diasterId}`

            $(`#${controller}Msg`).html("載入中....");

            $.ajax({
                url: _url,
                type: 'get',
                cache: false,
                //async: false,
                dataType: 'json',
                success: function (data) {
                    if (data === null) {
                        $(`#${controller}Msg`).html("尚未請求");
                    }
                    else if (data.Status === 0) {
                        $(`#${controller}Msg`).html(`最新請求 ${data.Quantity}<br>未核定`);
                    }
                    else if (data.Status === 1) {
                        $(`#${controller}Msg`).html(`最新請求 ${data.Quantity}<br>審核中`);
                    }
                    else if (data.Status === 2) {
                        $(`#${controller}Msg`).html(`最新請求 ${data.Quantity}<br>已轉呈環保署`);
                    }
                    else if (data.Status === 3) {
                        $(`#${controller}Msg`).html(`最新請求 ${data.Quantity}<br>已核定`);
                    }
                    else if (data.Status === 4) {
                        $(`#${controller}Msg`).html(`最新請求 ${data.Quantity}<br>被退回`);
                    }
                    else {
                        $(`#${controller}Msg`).html(`Status =${data.Status}`);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }

            });
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $("#Tabs2").tabs();
        });
    </script>
    <script type="text/javascript">
        new Chart(document.getElementById("mixed-chart-0"), {
            type: 'bar',
            data: {
                labels: ["基隆市", "臺北市", "新北市", "桃園市", "新竹市", "新竹縣", "苗栗縣", "臺中市", "彰化縣", "南投縣", "嘉義市", "嘉義縣", "雲林縣", "臺南市", "高雄市", "屏東縣", "宜蘭縣", "花蓮縣", "澎湖縣", "金門縣", "連江縣"],
                datasets: [{
                    label: "溫度",
                    type: "line",
                    borderColor: "#f39800",
                    backgroundColor: "#f39800",
                    data: [25.0, 24.1, 24.2, 24.5, 23, 23.5, 24.1, 25.0, 24.1, 24.2, 24.5, 23, 23.5, 24.1, 25.0, 24.1, 24.2, 24.5, 23, 23.5, 24.1],
                    fill: false
                }, {
                    label: "雨量",
                    type: "bar",
                    backgroundColor: "rgba(3, 110, 184, 0.6)",
                    data: [12.0, 15.2, 13.2, 17.3, 23.0, 25.2, 12.2, 12.0, 15.2, 13.2, 17.3, 23.0, 25.2, 12.2, 12.0, 15.2, 13.2, 17.3, 23.0, 25.2, 12.2],
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: { beginAtZero: true }
                    }]
                },
                title: {
                    display: false,
                    text: '各縣市目前溫度及累積雨量圖'
                },
                legend: {
                    position: 'right',
                    display: true,
                }
            }
        });
    </script>
    <script type="text/javascript">
        new Chart(document.getElementById("mixed-chart-1"), {
            type: 'bar',
            data: {
                labels: ["基隆市", "臺北市", "新北市", "桃園市", "新竹市", "新竹縣", "苗栗縣"],
                datasets: [{
                    label: "溫度",
                    type: "line",
                    borderColor: "#f39800",
                    backgroundColor: "#f39800",
                    data: [25.0, 24.1, 24.2, 24.5, 23, 23.5, 24.1],
                    fill: false
                }, {
                    label: "雨量",
                    type: "bar",
                    backgroundColor: "rgba(3, 110, 184, 0.6)",
                    data: [12.0, 15.2, 13.2, 17.3, 23.0, 25.2, 12.2],
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: { beginAtZero: true }
                    }]
                },
                title: {
                    display: false,
                    text: '各縣市目前溫度及累積雨量圖'
                },
                legend: {
                    position: 'bottom',
                    display: false,
                }
            }
        });
    </script>
    <script type="text/javascript">
        new Chart(document.getElementById("mixed-chart-2"), {
            type: 'bar',
            data: {
                labels: ["臺中市", "彰化縣", "南投縣", "嘉義市", "嘉義縣"],
                datasets: [{
                    label: "溫度",
                    type: "line",
                    borderColor: "#f39800",
                    backgroundColor: "#f39800",
                    data: [12, 15, 13, 17, 23, 25],
                    fill: false
                }, {
                    label: "雨量",
                    type: "bar",
                    backgroundColor: "rgba(3, 110, 184, 0.6)",
                    data: [12, 15, 13, 17, 23, 25],
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: { beginAtZero: true }
                    }]
                },
                title: {
                    display: false,
                    text: '各縣市目前溫度及累積雨量圖'
                },
                legend: {
                    position: 'bottom',
                    display: false,
                }
            }
        });
    </script>
    <script type="text/javascript">
        new Chart(document.getElementById("mixed-chart-3"), {
            type: 'bar',
            data: {
                labels: ["雲林縣", "臺南市", "高雄市", "屏東縣"],
                datasets: [{
                    label: "溫度",
                    type: "line",
                    borderColor: "#f39800",
                    backgroundColor: "#f39800",
                    data: [10, 12, 15, 13],
                    fill: false
                }, {
                    label: "雨量",
                    type: "bar",
                    backgroundColor: "rgba(3, 110, 184, 0.6)",
                    data: [15, 12, 15, 13],
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: { beginAtZero: true }
                    }]
                },
                title: {
                    display: false,
                    text: '各縣市目前溫度及累積雨量圖'
                },
                legend: {
                    position: 'bottom',
                    display: false,
                }
            }
        });
    </script>
    <script type="text/javascript">
        new Chart(document.getElementById("mixed-chart-4"), {
            type: 'bar',
            data: {
                labels: ["宜蘭縣", "花蓮縣", "澎湖縣", "金門縣", "連江縣"],
                datasets: [{
                    label: "溫度",
                    type: "line",
                    borderColor: "#f39800",
                    backgroundColor: "#f39800",
                    data: [12, 15, 13, 17, 23],
                    fill: false
                }, {
                    label: "雨量",
                    type: "bar",
                    backgroundColor: "rgba(3, 110, 184, 0.6)",
                    data: [12, 15, 13, 17, 23],
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: { beginAtZero: true }
                    }]
                },
                title: {
                    display: false,
                    text: '各縣市目前溫度及累積雨量圖'
                },
                legend: {
                    position: 'bottom',
                    display: false,
                }
            }
        });
    </script>
    <script>
        var full = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');
        function Redirect(action, controller) {
            var cityId = $('#city').val()
            var townId = $('#town').val()
            var diasterId = $('#disaster').val()
            full = app.siteRoot + `${controller}/${action}?cityId=${cityId}&townid=${townId}&diasterId=${diasterId}`
            window.location = full
        }
    </script>
}