
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "民間志工";
}
<div class="text-center">
    <br />
    <h5>民間志工</h5>
    <br />
    <br />
</div>

<div class="container-fluid">
    <div class="row">
        <div id="DeleteArea" class="text-center" style="display:none; width:100%">
            @using (Html.BeginForm("Delete", "EPBxVolunteer"))
            {
                <br /> <br />
                @Html.TextBox("DeleteId", "", new { @readonly = "readonly", style = "width:0px;height:0px;backgroun-color:gray; border:none;" })
                <input type="submit" class="btn btn-warning" style="margin:5px;padding:5px" value="確定刪除" />
                <br /><span class="text-warning">※刪除後無法回復</span>
                <br /> <br /> <br /> <br />
            }
            <br />
        </div>

        <div id="EditArea" class="text-center" style="display:none; padding:0px; width:100%">
            <h1>EditArea</h1>
        </div>
        <div id="AddArea" class="text-center" style="display:none;width:100%">
            <br />
            @using (Html.BeginForm("Add", "EPBxVolunteer"))
            {
            <table class="table table-bordered table-striped  text-center">
                <tr>
                    <td>聯繫人姓名</td>
                    <td>@Html.TextBox("ContactPerson")</td>
                </tr>
                <tr>
                    <td>電話</td>
                    <td>@Html.TextBox("Phone")</td>
                </tr>
                <tr>
                    <td>行動電話</td>
                    <td>@Html.TextBox("MobilePhone")</td>
                </tr>
                <tr>
                    <td>傳真</td>
                    <td>@Html.TextBox("Fax")</td>
                </tr>
                <tr>
                    <td>電郵</td>
                   
                    <td>@Html.TextBox("Mail")</td>

                </tr>
                <tr>
                    <td>能提供的服務</td>
                    <td>@Html.TextBox("Service")</td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" class="btn btn-danger" style="margin:10px" value="確認儲存" onsubmit="return ValidateInput();" />
                    </td>
                </tr>
            </table>
            }
        </div>
    </div>
    <div class="row">
        <div id="DataArea" style="height:400px;overflow:auto; width:100%">
            @{Html.RenderPartial("~/Views/Components/ShowVolunteerForEdit.cshtml");}
        </div>
    </div>
</div>


<script>
    function PickItemForEdit(x) {
        $.post("/EPBxDisinfectant/Edit", { Id: x }, function (data) {
            $("#AddArea").hide();
            $("#DeleteArea").hide();
            $("#EditArea").show();
            $("#EditId").val(x);
            $("#EditContactUnit").val(data.ContactUnit);
            $("#EditDrugName").val(data.DrugName);
            $("#EditDrugType").val(data.DrugType);
            $("#EditDrugState").val(data.DrugState);
            $("#EditAmount").val(data.Amount);
            $("#EditDensity").val(data.Density);
            $("#EditArea").val(data.Area);
            $("#EditServiceLife").val(data.ServiceLife);
        });
    }
</script>

<script>
    function PickItemForDelete(Id) {
        $("#AddArea").hide();
        $("#EditArea").hide();
        $("#DeleteArea").show();
        $("#DeleteId").val(Id);
    }
</script>

<script>
    function AddItem() {
        $("#EditArea").hide(); $("#DeleteArea").hide();
        $("#AddArea").show();
    }
</script>

<script>
    function ValidateInput() {
        return true;
        //以下程式可抓到ContactUnit的值
        //var x = $("#ContactUnit").val();
        //alert(x);
        //return true;
        //再配合 return false; 以及if else 理論上可在此驗證資料格式
        //但不知為何字串無法比對？
    }
</script>


