
@{
    Layout = "~/Views/_Layout.cshtml";
}
<br />
@Html.ActionLink("返回", "B1b14", "EPBxDefend", "", new { @class = "btn btn-primary fa fa-arrow-circle-left", @style = "color:white;padding:4px" })
<br />
<br />
<font size="2">
    <table class="table table-bordered table-striped">
        <tr>
            <th>資料確認</th>
            <th>縣市鄉鎮名稱</th>
            <th>鄉鎮通報細目</th>
            <th>資料確認</th>
        </tr>
        @foreach (var Item in ViewBag.Data)
        {
            <tr>
                <td style="text-align:center" width="30%">
                    @using (Html.BeginForm("ConformReport", "EPBxDefend"))
                    {
                        <input style="display:none" value="@ViewBag.DiasterId" name="DiasterId" />
                        <input style="display:none" value="@Item.City" name="City" />
                        <input style="display:none" value="@Item.Town" name="Town" />
                        <input type="submit" class="btn btn-success" style="padding:0px;" value="確認" />
                    }
                </td>
                <td style="text-align:center">@Item.City@Item.Town</td>
                <td style="text-align:center">
                    <button class="btn btn-success" style="padding:0px" onclick="PickItemForEdit('@Item.City','@Item.Town','@Item.Ans1','@Item.Note1','@Item.Ans2','@Item.Note2','@Item.Ans3','@Item.Note3','@Item.Ans4','@Item.Note4','@Item.Ans5','@Item.Note5','@Item.Ans6','@Item.Note6','@Item.Note','@Item.ReportTime','@Item.UpdateTime','@Item.ConfirmTime')">顯示</button>
                </td>
                <td>
                    @Item.ConfirmTime
                </td>
            </tr>
        }
    </table>
    <div id="ReportArea" style="display:none">
        <table class="table table-bordered table-striped" id="table">
            <tr>
                <th>縣市</th>
                <th>項目</th>
                <th>是/否</th>
                <th>說明</th>
            </tr>
            <tr>
                <td rowspan="6"></td>
                <td>一、清潔隊員、環境整頓動員完成待命準備</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>二、環境消毒藥劑完成準備</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>三、飲用水抽驗完成準備</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>四、成立緊急應變小組</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>五、派員進駐轄區防救中心</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>六、垃圾場完成安全防護整備</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <br /><br />
</font>

<script>
    function PickItemForEdit(City, Town, Ans1, Note1, Ans2, Note2, Ans3, Note3, Ans4, Note4, Ans5, Note5, Ans6, Note6, Note, ReportTime, UpdateTime, ConfirmTime) {
        $("#ReportArea").show();
        $("#City").val(City);
        var t = document.getElementById("table");
        t.rows[1].cells[0].innerHTML = City + Town;
        t.rows[1].cells[2].innerHTML = Ans1;
        t.rows[1].cells[3].innerHTML = Note1;
        t.rows[2].cells[1].innerHTML = Ans2;
        t.rows[2].cells[2].innerHTML = Note2;
        t.rows[3].cells[1].innerHTML = Ans3;
        t.rows[3].cells[2].innerHTML = Note3;
        t.rows[4].cells[1].innerHTML = Ans4;
        t.rows[4].cells[2].innerHTML = Note4;
        t.rows[5].cells[1].innerHTML = Ans5;
        t.rows[5].cells[2].innerHTML = Note5;
        t.rows[6].cells[1].innerHTML = Ans6;
        t.rows[6].cells[2].innerHTML = Note6;
    }
</script>
