@using MyEPA.Models;
@using MyEPA.Helper;
@{
    Layout = "~/Views/_Layout.cshtml";
    DiasterModel diaster = ViewBag.Diaster;
    List<TownModel> towns = ViewBag.Towns;
    UserBriefModel user = ViewBag.User;
    //垃圾場
    List<SelectListItem> landfills = ViewBag.Landfills;
    //焚化廠
    List<SelectListItem> incinerators = ViewBag.Incinerators;
    ViewBag.Title = "災情通報";
}

<h2>災時通報</h2>
<br />
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-1 align-middle">
            <button style="height:50px" onclick="NotDamage('@diaster.Id','@ViewBag.ReportDay.ToString("yyyy/MM/dd")')">本日無災情</button>
        </div>
        <div class="col-md-11">
            <label>通報日期：@(ViewBag.ReportDay.ToString("yyyy/MM/dd"))</label>
            <br />
            <label>災害主題：@diaster.DiasterName</label>
            <span id="iptNote">
                <br />
                <label class="mt-30" style="font-size: 30px; background-color: #77FFCC">請勿重複填寫清潔隊災情通報內容</label>
            </span>
        </div>
    </div>
</div>

@using (Html.BeginForm("Report", "EPBxDamage", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return ValidateInput(this);" }))
{
    <div class="form-horizontal">
        <hr />
        <input type="hidden" name="ReportDay" value="@ViewBag.ReportDay.ToString("yyyy/MM/dd")" />
        <input type="hidden" name="DiasterId" value="@diaster.Id" />
        @*<input type="hidden" name="DiasterName" value="@diaster.DiasterName" />*@

        @if (user.Duty == MyEPA.Enums.DutyEnum.Cleaning)
        {
            <div class="form-group">
                <label class="control-label col-md-2">鄉鎮市區</label>
                <div class="col-md-10">
                    <select name="TownId">
                        <option value="@user.TownId">@user.Town</option>
                    </select>
                </div>
            </div>
        }
        <div class="form-group">
            <label class="control-label col-md-2">主要受災(區村里)</label>
            <div class="col-md-10">
                @Html.TextBox("DamagePlace", string.Empty)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">垃圾場損壞情形</label>
            <div class="col-md-10">
                @Html.TextBox("DumpSiteDesc", string.Empty, new { })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">垃圾掩埋場</label>
            <div class="col-md-10">
                @for (int i = 0; i < landfills.Count; i++)
                {
                    var item = landfills[i];

                    <input id="landfillIds[@i]" name="landfillIds" value="@item.Value" type="checkbox" />
                    <label for="landfillIds[@i]">@item.Text</label>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">焚化廠損壞情形</label>
            <div class="col-md-10">
                @Html.TextBox("IncinerationPlantDesc", string.Empty, new { })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">焚化廠</label>
            <div class="col-md-10">
                @for (int i = 0; i < incinerators.Count; i++)
                {
                    var item = incinerators[i];

                    <input id="incineratorIds[@i]" name="incineratorIds" value="@item.Value" type="checkbox" />
                    <label for="incineratorIds[@i]">@item.Text</label>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">其他損壞情形</label>
            <div class="col-md-10">
                @Html.TextBox("Other", string.Empty, new { })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">照片上傳</label>
            <div class="col-md-10">
                <button type="button" onclick="addimg()">新增</button>
                <input class="imgs" type="file" name="DamageImage" accept=".jpg, .jpeg, .png" />
                <span class="text-primary mt-2">限定(.jpg, .jpeg, .png)</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">檔案上傳</label>
            <div class="col-md-10">
                <button type="button" onclick="add()">新增</button>
                <input class="files" type="file" name="DamageFile" accept=".png, .pdf, .jpg, .jpeg, .docx, .mp4" />
                <span class="text-primary mt-2">限定(.png, .pdf, .jpg, .jpeg, .docx, .mp4)</span>
            </div>
            <br />
        </div>

        <input type="submit" class="btn btn-danger" style="margin:10px" value="確認通報" />
    </div>
}


<script>
    function ValidateInput(form) {

        //清潔隊不提示
        if (!isCleaning) {
            if (!confirm('請勿重複填寫清潔隊災情通報內容？')) {
                return false;
            }
        }
    }
</script>

@section scripts{

    <script src="~/Scripts/assets/jquery-2.1.4.min.js"></script>

    <script>
        //是否為清潔隊
        var isCleaning = '@(user.Duty == MyEPA.Enums.DutyEnum.Cleaning)'.toLowerCase() == 'true';

        $(document).ready(function () {
            //清潔隊不提示
            if (isCleaning) {
                $('#iptNote').hide();
            }
        });


        function add() {
            $('.files:last').clone().insertAfter('.files:last')
            $('.files:last').val('');
        }
        function addimg() {
            $('.imgs:last').clone().insertAfter('.imgs:last')
            $('.imgs:last').val('');
        }

        function NotDamage(diasterId, reportDay) {

            var TownId = $('select[name="TownId"]').val();

            var model = {};
            model.DiasterId = diasterId;
            model.ReportDay = reportDay;
            model.TownId = TownId;

            $.ajax({
                url: '@Url.Action("NotDamage","Damage",new { })',
                type: 'Post',
                data: { model: model, hType: 1 },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.IsSuccess) {
                        window.location = `@Url.Action("B1c", "EPBxDamage",new { })`;
                    }
                    else {
                        alert(data.ErrorMessage);
                        location.reload();
                    }
                },
            });
        }
    </script>
}

<script>

</script>