@{
    Layout = "~/Views/_Layout.cshtml";
}
@{Html.RenderPartial("~/Views/Components/JSforB1c17.cshtml");}
@using (Html.BeginForm("ConfirmReport2", "EPBxApply"))
{
    foreach (var Item in ViewBag.Data)
    {
        <h4>請求環境消毒藥劑</h4>
        <h6>災害編號： @Html.TextBox("DiasterId", (string)ViewBag.DiasterId, new { @readonly = "readonly", style = "border:none" })</h6>
        <h6>災害主題： @Html.TextBox("DiasterName", (string)ViewBag.DiasterName, new { @readonly = "readonly", style = "border:none;" })</h6>
        <span>藥劑類別：</span>
        @Html.DropDownList("DrugType", new List<SelectListItem>
               {
                new SelectListItem{Text = "請選擇",Value = "未填",Selected=true},
               new SelectListItem{Text = "殺菌劑(公升)",Value = "殺菌劑(公升)"},
               new SelectListItem{Text = "殺蟲劑(公升)",Value = "殺蟲劑(公升)"},
               new SelectListItem{Text = "漂白水(公升)",Value = "漂白水(公升)"},
               })
        <span>數量:</span>@Html.TextBox("Count", "", new { style = "width:50px" })
        <h6>
            <span>需用日期(例如2019/09/25)：</span> @Html.TextBox("NeedDay", (string)Item.NeedDay, new { style = "width:200px" })
        </h6>
        <span>估算方法(限1000字)：</span>
        <br />
        @Html.TextArea("DiasterRegionDescribe", (string)Item.DiasterRegionDescribe, new { @style = "width:400px;height:100px" })
        <br />
        <br />
        <span style="font-size:large">照片上傳</span>
        <span style="font-size:small">
            說明：1.上傳照片(限JPG檔)請按"瀏覽"鈕，待全部欄位填寫完成後按下方”新增”或”修改”鈕，統一上傳   2.下方提供照片說明填寫(限100字)。
        </span>
        <input type="file" name="file" id="file" accept=".jpg, .jpeg, .png" />
        <span class="text-primary mt-2">限定(.jpg, .jpeg, .png)</span>
        <br>
        <span>說明:</span>
        <br />
        @Html.TextArea("DiasterPictureDescribe", (string)Item.DiasterPictureDescribe, new { @style = "width:200px;height:100px" })
        <br />
        <br />
        <h6>
            <span>聯絡人姓名：</span> @Html.TextBox("ReportMan", (string)Item.ReportMan, new { style = "width:100px" })
            <span>聯絡電話：</span> @Html.TextBox("ReportPhone", (string)Item.ReportPhone, new { style = "width:150px" })
            <span>聯絡手機：</span> @Html.TextBox("ReportMobilePhone", (string)Item.ReportMobilePhone, new { style = "width:100px" })
        </h6>
    }
    <input type="submit" class="btn btn-danger" style="margin:10px" value="儲存確認" />
    @Html.ActionLink("取消", "B2", "EPBxApply", "", new { @class = "btn btn-basic fa fa-arrow-circle-left", @style = "color:white;padding:4px" })
}

<script>
    $(document).ready(function () {
        $("#NeedDay").datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>

