@{
    Layout = "~/Views/_Layout.cshtml";
}
<br />
@Html.ActionLink("返回", "B3a", "EPBxResource", "", new { @class = "btn btn-primary fa fa-arrow-circle-left", @style = "color:white;padding:4px" })
<br /><br />
<font size="2">
    <table class="table table-bordered table-striped">
        <tr>
            <th>縣市</th>
            <th>鄉鎮市</th>
            <th>聯繫單位名稱</th>
            <th>消毒藥品名稱</th>
            <th>類別</th>
            <th>型態</th>
            <th>數量(公升、公斤)</th>
            <th>濃度%</th>
            <th>可消毒面積(公頃)</th>
            <th>使用年限(西元)</th>
            <th>更新時間</th>
        </tr>
        @foreach (var Item in ViewBag.Data)
        {
            <tr>

                <td>@Item.City</td>
                <td>@Item.Town</td>
                <td>@Item.ContactUnit</td>
                <td>@Item.DrugName</td>
                <td>@Item.DrugType</td>
                <td>@Item.DrugState</td>
                <td>@Item.Amount</td>
                <td>@Item.Density</td>
                <td>@Item.Area</td>
                <td>@Item.ServiceLife</td>
                <td>@Item.UpdateTime</td>
            </tr>
        }
    </table>
    <br /><br />
</font>
