@using MyEPA.Models
@{
    Layout = "~/Views/_Layout.cshtml";
    var positions = (List<PositionModel>)ViewBag.Positions;
}

@{Html.RenderPartial("~/Views/Components/JSforB7x3Register.cshtml");}

@using (Html.BeginForm("InputRegister", "EPBxUser"))
{
    <table class="table table-bordered table-striped " style="border: 1px solid gray;">
        <tr>
            <th colspan="2" style="text-align:center;font-size:large" class="text-info">線上註冊</th>
        </tr>
        <tr>
            <td colspan="2" align="center" bgcolor="#fffcec">
                基本資料
            </td>
        </tr>

        <tr>
            <td style="text-align:center">姓名</td>
            <td>
                @Html.TextBox("Name", "", new { style = "border-style:groove;width:200px;" })

            </td>
        </tr>

        <tr>
            <td style="text-align:center">帳號</td>
            <td>
                @Html.TextBox("Id", "", new { style = "border-style:groove;width:200px;" })
            </td>
        </tr>

        <tr>
            <td style="text-align:center">密碼</td>
            <td>
                @Html.TextBox("Pwd", "", new { style = "border-style:groove;width:200px;" })
            </td>
        </tr>

        <tr>
            <td style="text-align:center">語音密碼</td>
            <td>
                @Html.TextBox("VoicePwd", "", new { style = "border-style:groove;width:200px;" })
            </td>
        </tr>
        <tr>
            <td style="text-align:center">機關類別(角色)</td>
            <td> 地方機關環保局 </td>
        </tr>
        <tr>
            <td style="text-align:center">機關名稱(縣市)</td>
            <td> @ViewBag.City </td>
        </tr>

        <tr>
            <td style="text-align:center">單位(鄉鎮區)名稱</td>
            <td>
                @Html.DropDownList("Town", new List<SelectListItem>
       {
        new SelectListItem{Text = "請選擇",Value = "未填",Selected=true}
       })
            </td>
        </tr>
        <tr>
            <td style="text-align:center">人員類別</td>
            <td>
                @Html.DropDownList("HumanType", new List<SelectListItem>
            {
             new SelectListItem{Text = "請選擇",Value = "未填",Selected=true},
            new SelectListItem{Text = "災情通報人員",Value = "災情通報人員"},
            new SelectListItem{Text = "飲用水緊急應變小組連絡人員",Value = "飲用水緊急應變小組連絡人員"},
            new SelectListItem{Text = "災害防救緊急應變連絡人員",Value = "災害防救緊急應變連絡人員"},
            new SelectListItem{Text = "中央專責及進駐人員",Value = "中央專責及進駐人員"},
            new SelectListItem{Text = "署內進駐人員",Value = "署內進駐人員"},
            new SelectListItem{Text = "車輛機具連絡人員",Value = "車輛機具連絡人員"}
            })
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><b style="color:red">(必填)</b>職稱</td>
            <td>
                @Html.DropDownList("PositionId", positions.Select(e => new SelectListItem
                {
                    Text = e.Name,
                    Value = e.Id.ToString()
                }).ToList())
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" bgcolor="#fffcec">
                聯絡資料
            </td>
        </tr>
        <tr>
            <td style="text-align:center">行動電話</td>
            <td>
                @Html.TextBox("MobilePhone", "", new { style = "border-style:groove;margin-top:10px;border-width:2px;width:200px;" })


            </td>
        </tr>

        <tr>
            <td colspan="2" align="center" bgcolor="#fffcec">
                權級資料
            </td>
        </tr>

        <tr>
            <td style="text-align:center">是否為該單位主要聯絡</td>
            <td>
                @Html.DropDownList("MainContacter", new List<SelectListItem>
        {
        new SelectListItem{Text = "請選擇",Value = "未填",Selected=true},
        new SelectListItem{Text = "是",Value = "是"},
        new SelectListItem{Text = "否",Value = "否"}
        })
            </td>
        </tr>

        <tr>
            <td style="text-align:center">通報優先順序</td>
            <td>
                @Html.DropDownList("ReportPriority", new List<SelectListItem>
    {
    new SelectListItem{Text = "不限", Value = "不限",Selected=true},
    new SelectListItem{Text = "0",Value = "0"},
    new SelectListItem{Text = "1",Value = "1"},
    new SelectListItem{Text = "2",Value = "2"},
    new SelectListItem{Text = "3",Value = "3"},
    new SelectListItem{Text = "4",Value = "4"},
    new SelectListItem{Text = "5",Value = "5"},
    new SelectListItem{Text = "6",Value = "6"},
    new SelectListItem{Text = "7",Value = "7"},
    new SelectListItem{Text = "8",Value = "8"},
    new SelectListItem{Text = "9",Value = "9"},
    new SelectListItem{Text = "10",Value = "10"}
    })
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" class="btn btn-info" style="margin:10px" value="資料確認儲存" />
            </td>
        </tr>

    </table>

}



