@model MyEPA.ViewModels.ApplySupportProcessingDetailViewModel
@using MyEPA.Models;
@{
    ViewBag.Title = "請求環境消毒設備支援-開始辦理核定";
    Layout = "~/Views/_Layout.cshtml";
    List<ApplyDisinfectionEquipmentHandlingSituationModel> handlingSituations = ViewBag.HandlingSituations;
}

@section styles{
}

<div class="page-content">
    <div>
        <h3 align="center">開始辦理核定</h3>
        <h5 class="header blue">請求內容</h5>
        <div class="dataTable">
            <div class="">
                鄉鎮市名稱：@Model.CityName @Model.TownName <br />
                災區狀況說明：@Model.EstimationMethodDescribe <br />
                需用日期：@Model.RequireDate.ToString("yyyy/MM/dd") <br />
                項目：@string.Join(",", Model.ReqeustDescirptions) <br />
                @{
                    var src = "";
                    if (Model.FileData != null)
                    {
                        src = Url.Action("Url", "FileData", new { Id = Model.FileData.Id });
                    }
                }
                照片預覽：<img class="imagen" id="blah" src="@src" alt="preview photo" /> <br />
                照片說明：@Model.PhotoDescribe <br />
                聯絡人姓名：@Model.ContactPerson <br />
                連絡電話：@Model.ContactPhone <br />
                連絡手機：@Model.ContactMobilePhone <br />
                @{
                    var epbStatusString = Model.EPBConfirmStatus.HasValue ? Model.EPBConfirmStatus.Value.GetDescription() : "";
                    var epaStatusString = Model.EPAConfirmStatus.HasValue ? Model.EPAConfirmStatus.Value.GetDescription() : "";
                }
                環保局辦理情形：@epbStatusString <br />
                環保局辦理情形描述：@Model.EPBConfirmDescribe <br />
                環保署辦理情形：@epaStatusString <br />
                環保署辦理情形描述：@Model.EPAConfirmDescribe <br />
            </div>
        </div>
        <br>
        <h5 class="header blue">核定方式</h5>
        <div class="pager">
            <input type="hidden" value="@Model.Id" id="applyId">
            <table id="checkboxGroup" class="table table-detail" width="100%" border="1">
                <tbody>
                    <tr class="table-header">
                        <td colspan="2">第一步:辦理方式</td>
                    </tr>
                    <tr align="left">
                        <td width="15%">
                            <input id="checkConfirm" name="checkConfirm" type="checkbox"><label for="checkConfirm">&nbsp;核定，說明</label>
                        </td>
                        <td width="85%">
                            <textarea style="width: 500px" name="textConfirm">&nbsp;</textarea>(限500字)
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <input id="checkReject" name="checkReject" type="checkbox"><label for="checkReject">&nbsp;退回，說明</label>
                        </td>
                        <td>
                            <textarea style="width: 500px" name="textReject">&nbsp;</textarea>(限500字)
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="dataTable" class="table table-detail">
                <tbody>
                    <tr class="table-header">
                        <td colspan="4">
                            第二步:辦理情形
                        </td>
                    </tr>
                    <tr>

                        <td width="15%">
                            請求項目<br>
                        </td>
                        <td width="70%">
                            細項
                        </td>
                        <td width="15%">
                            <button id="add" onclick="add()">+&nbsp;新增</button>&nbsp;&nbsp;
                        </td>
                    </tr>
                    @foreach (var item in handlingSituations)
                    {
                        <tr class="sampleTr">
                            <td>
                                <select class="typeSelect" name="Type">
                                    @foreach (var option in ViewBag.Options)
                                    {
                                        <option value="@option.Value" selected="@option.Value.Equals(item.Type)"> @option.Key</option>
                                    }
                                </select>

                            </td>
                            <td class="otherItem">
                                設備名稱
                                <input type="text" name="Name" value="@item.Name" />
                            </td>
                             <td class="otherItem">
                                台
                                <input type="number" name="Day" value="@item.Day" min="1" step="1" />
                            </td>
                            <td class="subsidyItem">
                                金額
                                <input type="number" name="Subsidy" value="@item.Subsidy.ToString("0")" min="1" step="1" />
                            </td>
                            <td>
                                <button id="add" onclick="del(this)">+&nbsp;刪除</button>&nbsp;&nbsp;
                            </td>
                        </tr>
                    }
                    @if (handlingSituations.Count == 0)
                    {
                        <tr class="sampleTr">
                            <td>
                                <select class="typeSelect" name="Type">
                                    @foreach (var option in ViewBag.Options)
                                    {
                                        <option value="@option.Value" selected="@option.Value.Equals(0)"> @option.Key</option>
                                    }
                                </select>
                            </td>
                            <td class="otherItem">
                                設備名稱
                                <input type="text" name="Name" value="" />
                            </td>
                             <td class="otherItem">
                                天
                                <input type="number" name="Day" value="1" min="1" step="1" />
                            </td>
                            <td colspan="1" class="subsidyItem">
                                <label>金額</label>
                                <input type="number" name="Subsidy" value="1" min="1" step="1" />
                            </td>
                            <td>
                                <button id="add" onclick="del(this)">+&nbsp;刪除</button>&nbsp;&nbsp;
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <table class="table table-detail" width="100%" border="1">
                <tbody>
                    <tr class="table-header">
                        <td>第三步:送出資訊</td>
                    </tr>
                    <tr align="center">
                        <td>
                            <button class="btn btn-danger" onclick="send()">
                                <i class="fa fa-save"></i>&nbsp;確認送出
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{
    <script>
        typeSelectChange();
        function typeSelectChange() {

            $(".typeSelect").change(function () {
                var vm = this;
                typeSelect(vm);
            });
        }
        function add() {
            $('.sampleTr:last').clone().insertAfter('.sampleTr:last')

            var vm = $('.sampleTr:last');
            vm.find('[name="Type"]').val(0);
            vm.find('[name="Name"]').val('');
            vm.find('[name="Day"]').val(0);
            vm.find('[name="Subsidy"]').val(1);

            typeSelect(vm);
            typeSelectChange();
        }

        function del(item) {
            if ($('.sampleTr').length > 1) {
                $(item).parent().parent('tr').remove()
            }
        }
        function typeSelect(vm) {

            var index = $(".typeSelect").index(vm);

            var tr = $('.sampleTr').eq(index);

            if (vm.value == "1") {
                tr.find(".otherItem").show();
                tr.find(".subsidyItem").hide();
            }
            else if (vm.value == "2") {
                tr.find(".otherItem").hide();
                tr.find(".subsidyItem").show();
            }
            else {
                tr.find(".otherItem").hide();
                tr.find(".subsidyItem").hide();
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.imagen[src=""]').hide();
            $('.imagen:not([src=""])').show();
            autoTypeSelect();
        });
        function autoTypeSelect() {
            var list = $(".typeSelect");
            for (var i = 0; i < list.length; i++) {

                list.eq(i).change()
            }
        }

        $('#checkboxGroup tr td input').click(function () {
            if ($(this).prop('checked')) {
                $('#checkboxGroup tr td input:checkbox').prop('checked', false);
                $(this).prop('checked', true);
            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                    $('.imagen:not([src=""])').show();
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file").change(function () {
            readURL(this);
        });

       function send() {
            var data = new FormData();

            //Hidden 取法
            data.append('ApplyId', $('#applyId').val())

            data.append('CheckConfirm', $('#checkConfirm').prop('checked'))
            data.append('TextConfirm', $('[name=textConfirm]').val())
            data.append('CheckSendToEPA', $('#checkSendToEPA').prop('checked'))
            data.append('TextSendToEPA', $('[name=textSendToEPA]').val())
            data.append('CheckReject', $('#checkReject').prop('checked'))
            data.append('TextReject', $('[name=textReject]').val())

           var trCount = $('.sampleTr').length;

           var addItemCount = 0;

           for (var i = 0; i < trCount; i++) {
               var typeId = $('[name=Type]')[i].value;
               if (typeId > 0) {
                   data.append('HandlingSituations[' + i + '].Type', $('[name=Type]')[i].value);
                   data.append('HandlingSituations[' + i + '].Name', $('[name=Name]')[i].value);
                   data.append('HandlingSituations[' + i + '].Subsidy', $('[name=Subsidy]')[i].value);
                   data.append('HandlingSituations[' + i + '].Day', $('[name=Day]')[i].value);
                   addItemCount++;
               }
           }
           if ($('#checkConfirm').prop('checked')) {
               if (addItemCount == 0) {
                   alert('請選擇[辦理情形項目]並填寫[數量]！')
                   return;
               }
           }

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateApplyDisinfectionEquipmentEpaStatus", "ApplyDisinfectionEquipment")',
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    alert('更新成功')
                    close()
                },
                error: function (xhr, status) {
                 alert('更新失敗')
               }
            });
        }
    </script>
}


