@model IEnumerable<MyEPA.ViewModels.ShiftScheduleViewModel>
@using MyEPA.Models;
@using MyEPA.ViewModels;
@{
    List<DepartmentModel> departments = ViewBag.Departments;
    int departmentId = ViewBag.DepartmentId;
    ViewBag.Title = departments.FirstOrDefault(e => e.Id == departmentId).Name + "輪班表";
    Layout = "~/Views/_Layout.cshtml";
    List<UsersModel> users = ViewBag.Users;
    List<UsersModel> managers = ViewBag.Managers;
    List<DiasterModel> diasters = ViewBag.Diasters;

    var diasterId = ViewBag.DiasterId;
}
<h3>@ViewBag.Title</h3>
<link rel="stylesheet" href="~/Content/flatpickr.css">
<link rel="stylesheet" href="~/Content/confirmDate.css">

災害名稱：
<select name="diasterId" onchange="Change(this)">
    @foreach (var item in diasters)
    {
        <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
    }
</select>
<p>
    @Html.ActionLink("新增", "Create", new { departmentId, diasterId }, new { @class = "btn btn-success" })
</p>
@using (Html.BeginForm("Index", "ShiftSchedule", new { }, FormMethod.Post, new { @class = "inputForm" }))
{
    <table class="table inputForm">
        <tr>
            <th></th>
            <th>
                輪值
                班別
            </th>
            <th>日期</th>
            <th>
                日/夜
            </th>
            <th>
                科長以上 / 電話
            </th>
            <th>
                人員 / 電話
            </th>
            <th>
                人員2 / 電話
            </th>
            <th></th>
        </tr>
        @for (int i = 0; i < Model.Count(); i++)
        {

            ShiftScheduleViewModel item = Model.ToList()[i];
            int? previousId = null;
            int? nextId = null;
            if (i + 1 < Model.Count())
            {
                nextId = Model.ToList()[i + 1].Id;
            }
            if (i > 0)
            {
                previousId = Model.ToList()[i - 1].Id;
            }
            <tr>
                <td>
                    @Html.ActionLink("刪除", "Delete", new { diasterId, departmentId, id = item.Id })
                </td>
                <td>
                    @(i + 1)
                    <input type="hidden" name="[@i][Id]" value="@item.Id" />
                    <input type="hidden" name="[@i][DiasterId]" value="@diasterId" />
                </td>
                <td>

                    <input name="[@i][Date]" class="form-control flatpickr flatpickr-input" value="@item.Date" />
                </td>
                <td>
                    <select name="[@i][IsNight]" class="form-control">
                        <option value="false" @(item.IsNight ? "" : "selected")>日班</option>
                        <option value="true" @(item.IsNight ? "selected" : "")>夜班</option>
                    </select>
                </td>
                <td>
                    <select name="[@i][ManagerUserId]" class="form-control">
                        <option></option>
                        @foreach (var u in managers)
                        {
                            <option value="@u.Id" @(item.ManagerUserId == u.Id ? "selected" : string.Empty)>@u.Name / @u.MobilePhone</option>
                        }
                    </select>
                </td>
                <td>
                    <select name="[@i][LeaderUserId]" class="form-control">
                        <option></option>
                        @foreach (var u in users)
                        {
                            <option value="@u.Id" @(item.LeaderUserId == u.Id ? "selected" : string.Empty)>@u.Name / @u.MobilePhone</option>
                        }
                    </select>
                </td>
                <td>
                    <select name="[@i][WorkerUserId]" class="form-control">
                        <option></option>
                        @foreach (var u in users)
                        {
                            <option value="@u.Id" @(item.WorkerUserId == u.Id ? "selected" : string.Empty)>@u.Name / @u.MobilePhone</option>
                        }
                    </select>
                </td>
                <td>
                    @if (previousId.HasValue)
                    {
                        <a href="@Url.Action("Moving", new {  diasterId,departmentId, Id = item.Id , changId = previousId })">上移</a>
                    }
                    else
                    {
                        @:上移
                    }
                    /
                    @if (nextId.HasValue)
                    {
                        <a href="@Url.Action("Moving", new { diasterId,departmentId, Id = item.Id , changId = nextId })">下移</a>
                    }
                    else
                    {
                        @:下移
                    }
                </td>
            </tr>
        }

    </table>
}
<a href="#" onclick="Edit()" class="btn btn-success">儲存修改</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.js"></script>
<script src="~/Scripts/confirmDate.js"></script>
<script src="~/Scripts/flatpickr.js"></script>
<script>
    function Edit() {

        var dataForm =  $('.inputForm').serialize();
        var url = '@Url.Action("Edit",new {departmentId })';
        var type = 'post';
        $.ajax({
            url: url,
            type: type,
            data: dataForm,
            success: function (data) {
                if (data.IsSuccess) {
                    alert("修改成功");

                } else {
                    alert(data.ErrorMessage);
                }
            },
        })
    }
</script>
<script>
        function Change(target)
        {
            window.location = `@Html.Raw(Url.Action("Index","ShiftSchedule",new { Id = ""}))?diasterId=${target.value}&departmentId=@departmentId`
        }
</script>
