@model IEnumerable<MyEPA.Models.AllShiftScheduleQueryModel>
@using MyEPA.Models;
@{
    ViewBag.Title = "輪班總表查詢";
    Layout = "~/Views/_Layout.cshtml";
    List<DiasterModel> diasters = ViewBag.Diasters;
    var diasterId = ViewBag.DiasterId;
    DateTime date = ViewBag.Date;
    bool? isNight = ViewBag.IsNight;
}

<link rel="stylesheet" href="~/Content/flatpickr.css">
<link rel="stylesheet" href="~/Content/confirmDate.css">

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <h3>輪班總表查詢</h3>
                    <hr>
                    <p align="right"><img width="30" height="30" src="~/Content/assets/css/images/icon_pdf.png" alt="PDF">
                    <a href="">PDF匯出</a>│
                    <img width="30" height="30" src="~/Content/assets/css/images/icon_odf.png" alt="ODF">
                    <a href="">ODF下載</a>│
                    <img width="30" height="30" src="~/Content/assets/css/images/Print.ico" alt="Print">
                    <a href="">友善列印</a></p>
                </div>
                <div class="row">
                    <form name="SearchForm">

                        <table border="0">
                            <tbody>
                                <tr>
                                    <td><h5>主題：</h5></td>
                                    <td>
                                        <label class="mr-sm-2 sr-only">主題</label>
                                        <select Name="diasterId">
                                            @foreach (var item in diasters)
                                            {
                                                <option value="@item.Id" @(item.Id == diasterId ? "selected" : "")>@item.DiasterName </option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h5>日期：</h5></td>
                                    <td><input name="date" type="date" value="@date.ToString("yyyy-MM-dd")" /></td>
                                </tr>
                                <tr>
                                    <td><h5>班別：</h5></td>
                                    <td>
                                        <select name="IsNight" class="form-control">
                                            <option value="">全部</option>
                                            <option value="false" @(isNight.HasValue && isNight.Value == false ? "selected" : "")>日班</option>
                                            <option value="true" @(isNight.HasValue && isNight.Value ? "selected" : "")>夜班</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr align="center">
                                    <td colspan="2">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>查詢</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <hr>
                </div>
                <div class="row">
                    <table class="table table-bordered" width="100%" border="1">
                        <tbody>
                            <tr class="table-header" align="center">
                                <td><i class="fa fa-briefcase"></i>&nbsp;  @Html.DisplayNameFor(model => model.IsNight)</td>
                                <td><i class="fa fa-sitemap"></i>&nbsp; @Html.DisplayNameFor(model => model.DepartmentName)</td>
                                <td><i class="fa fa-user"></i>&nbsp; @Html.DisplayNameFor(model => model.Name)</td>
                                <td><i class="fa fa-mobile"></i>&nbsp; @Html.DisplayNameFor(model => model.MobilePhone)</td>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr bgcolor="@(item.IsNight?"lightblue":"lightyellow")">
                                    <td>
                                        <i class="fa @(item.IsNight?"fa-moon-o":"fa-sun-o")"></i>@(item.IsNight ? "夜班" : "日班")
                                    </td>
                                    <td>
                                        @if (item.DepartmentId == 3)
                                        {
                                            @Html.ActionLink(item.DepartmentName, "Index", "MainShiftSchedule", new { diasterId = diasterId }, new { })

                                        }
                                        else
                                        {
                                            @Html.ActionLink(item.DepartmentName, "Index", "ShiftSchedule", new { diasterId = diasterId, departmentId = item.DepartmentId }, new { })
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MobilePhone)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                    <!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div>
    </div>

</div>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.js"></script>
    <script src="~/Scripts/confirmDate.js"></script>
    <script src="~/Scripts/flatpickr.js"></script>
    <script>
        flatpickr('.anotherSelector', {
            enableTime: false
        });
    </script>
