@model IEnumerable<MyEPA.Models.UserGroupModel>

@{
    ViewBag.Title = "發送群組簡訊";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>@ViewBag.Title </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>發送</th>
    </tr>

    @foreach (var group in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(group.GroupName, "Index",new { groupId = group.Id })
            </td>
            <td>
                @Html.ActionLink("發送簡訊", "SendGroupSMS", new { id = group.Id })
            </td>
        </tr>
    }
</table>
@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]')
    </script>
}

