@using MyEPA.Models;
@using MyEPA.Extensions;
@model ApplySupportReportModel
@{
    ViewBag.Title = "請求支援處理查詢";
    Layout = "~/Views/_Layout.cshtml";
    int diasterId = ViewBag.DiasterId;
    List<DiasterModel> Diasters = ViewBag.Diasters;
    int? cityId = ViewBag.CityId;
    List<CityModel> citys = ViewBag.Citys;
    int? applyTypeId = ViewBag.ApplyTypeId;
    Dictionary<string, int> applyTypes = ViewBag.ApplyTypes;
}
@section styles{
    <style>
        .table tr:nth-child(odd) {
            background-color: #F7F7DE;
        }
    </style>
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <h3>@ViewBag.Title</h3>
                    <h5 class="red">目前災害名稱：@Diasters.Where(e => e.Id == diasterId).Select(e => e.DiasterName).FirstOrDefault()</h5>
                    <hr>
                </div>
                <div class="row">
                    @using (Html.BeginForm("Search", "ApplySupport", new { }, FormMethod.Get, new { }))
                    {
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td><h5>災害名稱：</h5></td>
                                    <td>
                                        <select name="diasterId">
                                            @foreach (var item in Diasters)
                                            {
                                                <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h5>通報單位：</h5></td>
                                    <td>
                                        <select name="cityId">
                                            <option value="">全部縣市</option>
                                            @foreach (var item in citys)
                                            {
                                                <option value="@item.Id" @(cityId == item.Id ? "selected" : string.Empty)>@item.City</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h5>指定類別：</h5></td>
                                    <td>
                                        <select name="applyTypeId">
                                            <option value="0">請選擇</option>
                                            @foreach (var item in applyTypes)
                                            {
                                                <option value="@item.Value" @(applyTypeId == item.Value ? "selected" : string.Empty)>@item.Key</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr align="center">
                                    <td colspan="2"><button type="submit" class="btn btn-primary" href=""><i class="fa fa-search"></i>&nbsp;查詢</button></td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    <hr>
                </div>
                <div class="row">
                    <p align="right">
                        <img width="30" height="30" src="../../images/icon_pdf.png" alt="PDF">
                        <a href="@Url.Action("DownSearchPDF", new { diasterId,cityId,applyTypeId })">PDF匯出</a>│<img width="30" height="30" src="../../images/icon_odf.png" alt="ODF">
                        <a href="@Url.Action("DownSearchODS", new { diasterId,cityId,applyTypeId })">ODF下載</a>│<img width="30" height="30" src="../../images/Print.ico" alt="Print"><a href="">友善列印</a>
                    </p>

                </div>
                <div class="row">
                    <div class="widget-body">
                        <div class="widget-main no-padding table-responsive">

                            <table class="table table-bordered">
                                <thead class="thin-border-bottom">
                                    <tr>
                                        @{
                                            var titleString = "各縣市" + Model.TitleString + "需求及支援處理情形";
                                        }
                                        <td colspan="12" align="center" bgcolor="darkgreen" class="white">@titleString</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" align="left" bgcolor="#FFFFFF">
                                            @Html.Raw(Model.AbstractString)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" align="right" bgcolor="#9AAC95" class="white"><i class="fa fa-clock-o"></i>&nbsp;製表時間：@System.DateTime.Now.ToString("yyyy/MM/dd HH:mm")</td>
                                    </tr>
                                    <tr bgcolor="">
                                        <td bgcolor="#fff8d7">縣市</td>
                                        <td bgcolor="#fff8d7">鄉鎮</td>
                                        <td bgcolor="#fff8d7">請求日期</td>
                                        <td bgcolor="#fff8d7">需用日期</td>
                                        <td bgcolor="#fff8d7">@Model.QuantityField</td>
                                        <td bgcolor="#fff8d7">請求說明</td>
                                        <td bgcolor="#fff8d7">環保局辦理情形</td>
                                        <td bgcolor="#fff8d7">環保局辦理日期</td>
                                        <td bgcolor="#fff8d7">轉呈環保署</td>
                                        <td bgcolor="#fff8d7">核定</td>
                                        <td bgcolor="#fff8d7">環保署處理情形</td>
                                        <td bgcolor="#fff8d7">環保署處理日期</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        for (var i = 0; i < Model.Details.Count; i++)
                                        {
                                            var bgColor = i % 2 == 0 ? "#FFFFFF" : "#F7F7DE";
                                            var detail = Model.Details[i];
                                            <tr bgcolor="@bgColor">
                                                <td>@detail.CityName</td>
                                                <td>@detail.TownName</td>
                                                <td>@detail.CreateDate.ToString("yyyy-MM-dd")</td>
                                                <td>@detail.RequireDate.ToString("yyyy-MM-dd")</td>
                                                <td>@Html.Raw(detail.QuantityString)</td>
                                                <td>@detail.EstimationMethodDescribe</td>
                                                <td>@detail.EPBConfirmDescribe</td>
                                                <td>@detail.EPBConfirmUpdateTime.ToDateTimeString()</td>
                                                <td>@(detail.IsToEpa ? "是":"否")</td>
                                                <td>@detail.Status.GetDescription()</td>
                                                <td>@detail.EPAConfirmDescribe</td>
                                                <td>@detail.EPAConfirmUpdateTime.ToDateTimeString()</td>
                                            </tr>
                                        }
                                    }

                                    <tr>
                                        <td colspan="12" bgcolor="#9AAC95" class="white">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

    </script>
}