@using MyEPA.Models
@using MyEPA.ViewModels
@using MyEPA.Enums
@model ApplySupportSubsidyReportViewModel

@{
    ViewBag.Category = "請求支援作業";
    ViewBag.Title = "請求核定(補助款)";
    Layout = "~/Views/_Layout.cshtml";

    int diasterId = ViewBag.DiasterId;
    List<DiasterModel> Diasters = ViewBag.Diasters;
    //int applyStatusId = ViewBag.ApplyStatusId;
    //Dictionary<string, int> ApplyStatuses = ViewBag.ApplyStatuses;
}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h3>請求核定(補助款)</h3>
                <hr>
                <table class="pc" align="right">
                    <tr>
                        <td><a href="@Url.Action("SubsidyReportDownPDF",new {diasterId })">PDF匯出</a></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;│&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><a href="@Url.Action("SubsidyReportDownExcel",new {diasterId })">EXCEL下載</a></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;│&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><a href="@Url.Action("SubsidyReportDownODS",new {diasterId })">ODF下載</a></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;│&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><a href="">友善列印</a></td>
                    </tr>
                </table>
                @using (Html.BeginForm("SubsidyReport", "ApplySupport", new { }, FormMethod.Get, new { }))
                {
                    <table border="0">
                        <tbody>
                            <tr>
                                <td><h5>災害名稱：</h5></td>
                                <td>
                                    <select name="diasterId" onchange="Change(this)">
                                        @foreach (var item in Diasters)
                                        {
                                            <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            @*<tr>
                                    <td><h5>狀態查詢：</h5></td>
                                    <td>
                                        <select name="applyStatusId">
                                            @foreach (var item in ApplyStatuses)
                                            {
                                                <option value="@item.Value" @(applyStatusId == item.Value ? "selected" : string.Empty)>@item.Key</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                            *@

                        </tbody>
                    </table>
                }
                <hr>
            </div>
            <div class="container-fluid">
                <h3><i class="ace-icon glyphicon glyphicon-leaf green"></i>&nbsp;環境部&nbsp;<small></small></h3>
                <div class="row">
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <table class="table table-bordered table-striped">
                                <thead class="thin-border-bottom">
                                    <tr>
                                        <th>
                                            內容
                                        </th>
                                        <th>
                                            <i class="ace-icon glyphicon glyphicon-time blue"></i>待審核
                                        </th>

                                        <th>
                                            <i class="ace-icon fa fa-clipboard blue"></i>審核中
                                        </th>

                                        <th>
                                            <i class="ace-icon fa fa-check blue"></i>已核定
                                        </th>

                                        <th>
                                            <i class="ace-icon glyphicon glyphicon-remove blue"></i>退回
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        var viewSettingDictionary = new Dictionary<string, ApplyTypeEnum>()
                                                                    {
                                           {"車輛設備", ApplyTypeEnum.ApplyCar },
                                           { "環境消毒藥劑",ApplyTypeEnum.ApplyMedicine},
                                           { "環境消毒設備",ApplyTypeEnum.ApplyDisinfectionEquipment},
                                           { "人力支援",ApplyTypeEnum.ApplyPeople},
                                           { "請求補助款",ApplyTypeEnum.ApplySubsidy},
                                           { "其他",ApplyTypeEnum.ApplyOther}
                                        };

                                        foreach (var pair in viewSettingDictionary)
                                        {
                                            var record = Model.EPACountingReport.FirstOrDefault(c => c.ApplyType == pair.Value);
                                                                        <tr>
                                                                            <td>@pair.Key</td>
                                                                            <td>
                                                                                <a href="@Url.Action("EPAProcessing", "ApplySupportCheck", new { diasterId, applyTypeId = pair.Value.ToInteger(), status = ApplyStatusEnum.Pending })">@record.Pending</a>
                                                                            </td>
                                                                            <td>
                                                                                <a href="@Url.Action("EPAProcessing", "ApplySupportCheck", new { diasterId, applyTypeId = pair.Value.ToInteger(), status = ApplyStatusEnum.Processing })">@record.Processing</a>
                                                                            </td>
                                                                            <td>
                                                                                <a href="@Url.Action("EPAProcessing", "ApplySupportCheck", new { diasterId, applyTypeId = pair.Value.ToInteger(), status = ApplyStatusEnum.Confrim})">@record.Confrim</a>
                                                                            </td>
                                                                            <td>
                                                                                <a href="@Url.Action("EPAProcessing", "ApplySupportCheck", new { diasterId, applyTypeId = pair.Value.ToInteger(), status = ApplyStatusEnum.Reject })">@record.Reject</a>
                                                                            </td>
                                                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="container-fluid">
                <h3><i class="ace-icon glyphicon glyphicon-leaf green"></i>&nbsp;環保局&nbsp;<small></small></h3>
                <div class="row">
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <table class="table table-bordered table-striped">
                                <thead class="thin-border-bottom">
                                    <tr>
                                        <th>
                                            內容
                                        </th>
                                        <th>
                                            <i class="ace-icon glyphicon glyphicon-time blue"></i>待審核
                                        </th>

                                        <th>
                                            <i class="ace-icon fa fa-clipboard blue"></i>審核中
                                        </th>

                                        <th>
                                            <i class="ace-icon fa fa-check blue"></i>已核定
                                        </th>

                                        <th>
                                            <i class="ace-icon glyphicon glyphicon-remove blue"></i>退回
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        foreach (var pair in viewSettingDictionary)
                                        {
                                            var record = Model.EPBCountingReport.FirstOrDefault(c => c.ApplyType == pair.Value);
                                            <tr>
                                                <td>@pair.Key</td>
                                                <td>@record.Pending</td>
                                                <td>@record.Processing</td>
                                                <td>@record.Confrim</td>
                                                <td>@record.Reject</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function Change(target)
        {
            window.location = '@Html.Raw(Url.Action("SubsidyReport","ApplySupport"))'+ `?diasterId=${target.value}` 
        }
    </script>

}