
@model IEnumerable<MyEPA.ViewModels.OpenContractDetailViewModel>
@using MyEPA.ViewModels;
@{
    ViewBag.Title = "合約資料細目";
    Layout = "~/Views/_Layout.cshtml";

    OpenContractViewModel openContract = ViewBag.OpenContract;
}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <h2> 
                合約：@openContract.Name
            </h2>

            <div>
                @Html.ActionLink("新增合約細目", "Create", new { OpenContractId = openContract.Id }, new { @class = "btn btn-success" })
                <span style="font-size:medium">
                    (數量：<span class="text-primary">@Model.Count()</span>)
                </span>
                <br /><br />
            </div>

            <table class="table">
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Count)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Budge)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemCategory)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("修改", "Edit", new { id = item.Id }) |
                            <a href="#" onclick="DeleteDetail(@item.OpenContractId,@item.Id)">删除</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Items)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Budge)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemCategory)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


<script>
    function DeleteDetail(openContractId,id) {
        if (!window.confirm('確定要刪除?')) {
            return;
        };
        var root = '@Url.Action("Delete", "OpenContractNewDetail")?id=' + id;
        $.ajax({
            url: root,
            method: 'Post',
            success: function (data) {
                if (data.IsSuccess) {
                    alert('刪除成功');
                    location.reload();
                }
                else {
                    alert('刪除失敗,' + data.ErrorMessage);
                }
            },
            error: function (data) {
                alert('刪除失敗');
            }
        });
    };
</script>