@model IEnumerable<MyEPA.Models.PolymerDetailModel>

@{
    ViewBag.Title = "高分子凝聚劑使用紀錄細項-查詢";
    Layout = "~/Views/_Layout.cshtml";
    int polymerId = ViewBag.PolymerId;
}
<div>
    @Html.ActionLink("返回上一頁", "Search", "Polymer", new { }, new { })
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrugAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turbidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalInventory)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.UseDate.ToString("yyyy/MM/dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turbidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalInventory)
            </td>
        </tr>
    }

</table>

