@model IEnumerable<MyEPA.Models.DefendReportModel>
@using MyEPA.Helper;
@using MyEPA.Models;
@{
    ViewBag.Title = "整備通報";
    Layout = "~/Views/_Layout.cshtml";
    int diasterId = ViewBag.DiasterId;
    List<DiasterModel> Diasters = ViewBag.Diasters;
    int? cityId = ViewBag.CityId;
    List<CityModel> citys = ViewBag.Citys;
}
<style>
    .table tr:nth-child(odd){
	background-color:#F7F7DE;
	}
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <h3>整備通報</h3>
                <hr>
            </div>
            <div class="row">
                @using (Html.BeginForm("Report", "Defend", new { }, FormMethod.Get, new { }))
                {
                    <table border="0">
                        <tbody>
                            <tr>
                                <td><h5>災害名稱：</h5></td>
                                <td>
                                    <select name="diasterId">
                                        @foreach (var item in Diasters)
                                        {
                                            <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><h5>通報單位：</h5></td>
                                <td>
                                    <select name="cityId">
                                        <option value="">全部縣市</option>
                                        @foreach (var item in citys)
                                        {
                                            <option value="@item.Id" @(item.Id == cityId ? "selected" : string.Empty)>@item.City</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr align="center">
                                <td colspan="2"><button type="submit" class="btn btn-primary" href=""><i class="fa fa-search"></i>&nbsp;查詢</button></td>
                            </tr>
                        </tbody>
                    </table>
                }
                <hr>
            </div>
            <div class="row">
                <h3>整備通報管考統計表</h3>
                <h5 class="red">目前災害名稱：@Diasters.Where(e => e.Id == diasterId).Select(e => e.DiasterName).FirstOrDefault()</h5>
                <p align="right"><img width="30" height="30" src="~/Content/assets/css/images/icon_pdf.png" alt="PDF">
                <a href="@Url.Action("DownReportPDF", new { diasterId, cityId })">PDF匯出</a>│
                <img width="30" height="30" src="../../images/icon_odf.png" alt="ODF">
                <a href="@Url.Action("DownReportODS", new { diasterId, cityId })">ODF下載</a>
                @*│
                <img width="30" height="30" src="../../images/Print.ico" alt=""><a href="Print">友善列印</a></p>*@

            </div>
            <div class="row">
                <div class="widget-body">
                    <div class="widget-main no-padding table-responsive">
                        <table class="table table-bordered">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <td colspan="12" align="right" bgcolor="#9AAC95" class="white"><i class="fa fa-clock-o"></i>&nbsp;製表時間：@(DateTimeHelper.GetCurrentTime().ToString("yyyy/MM/dd HH:mm"))</td>
                                </tr>
                                <tr bgcolor="">
                                    <td bgcolor="#fff8d7" rowspan="2">
                                        <h5>縣市</h5>
                                    </td>
                                    <td bgcolor="#fff8d7" rowspan="2">
                                        <h5>督察大隊</h5>
                                    </td>
                                    <td bgcolor="#fff8d7" rowspan="2">
                                        <h5>大隊確認情形<br><span class="blue">◎已確認</span><br><span class="green">△未確認</span><br><span class="red">●未通報</span></h5>
                                    </td>
                                    <td bgcolor="#fff8d7" colspan="3">
                                        <h5>縣市、鄉鎮通報</h5>
                                    </td>
                                    <td rowspan="2" bgcolor="#fff8d7">
                                        <h5>通報負責人姓名</h5>
                                    </td>
                                    <td rowspan="2" bgcolor="#fff8d7">
                                        <h5>通報負責人電話</h5>
                                    </td>
                                    <td rowspan="2" bgcolor="#fff8d7">
                                        <h5>詳細資料</h5>
                                    </td>
                                    <td rowspan="2" bgcolor="#fff8d7">
                                        <h5>縣市通報時間</h5>
                                    </td>
                                    <td rowspan="2" bgcolor="#fff8d7">
                                        <h5>縣市更新時間</h5>
                                    </td>
                                    <td rowspan="2" bgcolor="#fff8d7">
                                        <h5>區大隊確認時間</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#fff8d7">已確認</td>
                                    <td bgcolor="#fff8d7">未確認</td>
                                    <td bgcolor="#fff8d7">未通報</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.ActionLink(item.CityName,"TownReport","Defend",new { diasterId,cityId = item.CityId},new { })</td>
                                        <td>@item.AreaName</td>
                                        @if (item.Status == MyEPA.Enums.DefendStatusEnum.Confirm)
                                        {
                                            <td class="blue">◎</td>
                                        }
                                        else if (item.Status == MyEPA.Enums.DefendStatusEnum.Waiting)
                                        {
                                            <td class="green">△</td>
                                        }
                                        else
                                        {
                                            <td class="red">●</td>
                                        }
                                        <td>@item.ConfirmCount</td>
                                        <td>@item.WaitingCount</td>
                                        <td>@item.UnNotificationCount</td>
                                        <td>@item.UserName</td>
                                        <td>@item.OfficePhone</td>
                                        <td>
                                            @if (item.TownId.HasValue)
                                            {
                                                <a class="btn btn-default" href="@Url.Action("TownQuestions","Defend",new { diasterId,cityId = item.CityId})">查看</a>
                                            }
                                            else
                                            {
                                                <button class="btn btn-default" disabled>查看</button>
                                            }
                                        </td>
                                        <td>@item.CreateDate</td>
                                        <td>@item.UpdateDate</td>
                                        <td>@item.ConfirmTime</td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div>
</div><!-- /.main-content -->
