@model IEnumerable<MyEPA.Models.DefendTeamConfirmViewModel>
@using MyEPA.Models;
@{
    ViewBag.Title = "整備通報確認(環保局)";
    Layout = "~/Views/_Layout.cshtml";
    int diasterId = ViewBag.DiasterId;
    List<DiasterModel> diasters = ViewBag.Diasters;
}
    <h3>@ViewBag.Title</h3>
    <div class="">
        @using (Html.BeginForm("TeamConfirmList", "Defend", new { }, FormMethod.Get, new { }))
        {
            <table border="0">
                <tbody>
                    <tr>
                        <td><h5>災害名稱：</h5></td>
                        <td>
                            <select name="diasterId">
                                @foreach (var item in diasters)
                                {
                                    <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr align="center">
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary" href=""><i class="fa fa-search"></i>&nbsp;查詢</button>
                            <button id="btnConfirmDuty" class="btn btn-primary" onclick="ConfirmDuty()">&nbsp;全部資料確認</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        <hr>
    </div>
<table class="table" nums ="@Model.Count()">
    <tr>
        <th> @Html.DisplayNameFor(model => model.Status)</th>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th>
            鄉鎮資料
        </th>
    </tr>

@foreach (var defend in Model) {
    <tr>
        <td>
            @if (defend.Status == MyEPA.Enums.DefendStatusEnum.Waiting)
            {
                <!--<a href="#" id="@defend.Id" name="chkteams" onclick="Confirm(@defend.Id,@(MyEPA.Enums.DefendStatusEnum.Confirm.ToInteger()))">確認</a>-->
                <span id="@defend.Id" name="chkteams">未確認</span>
            }
            else if (defend.Status == MyEPA.Enums.DefendStatusEnum.Confirm)
            {
                <!--<a href="#" id="@defend.Id" onclick="Confirm(@defend.Id,@(MyEPA.Enums.DefendStatusEnum.Waiting.ToInteger()))">取消確認</a>-->
                <span id="@defend.Id">已確認</span>
            }
            else
            {
                <span style="color:red">@defend.Status.GetDescription()</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => defend.CityName)
        </td>
        <td>
            <a class="btn btn-default" href="@Url.Action("TownQuestions","Defend",new { diasterId,cityId = defend.CityId})">查看</a>
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(document).ready(function () {

            var nums = $('.table').attr('nums');

            var oPass = $('.table tr td span');
            var ids = oPass.map(function () {
                return $(this).attr('id');
            }).get();
     
            $("#btnConfirmDuty").prop('disabled', nums > ids.length);
        });
    </script>   
}

<script>
    function Confirm(id,status) {
        var url = `@Url.Action("Confirm",new { })?id=${id}&status=${status}`;
        var type = 'get';
        $.ajax({
            url: url,
            type: type,
            success: function (data) {
                if (data.IsSuccess) {
                    alert("成功");
                    location.reload();
                } else {
                    alert(data.ErrorMessage);
                    location.reload();
                }
            },
        })
    }

    function ConfirmDuty() {

        var chkteams = $('.table tr td').find('[name="chkteams"]');
        ////if (chkteams == null)
        ////    return;

        var ids = chkteams.map(function () {
            return $(this).attr('id');
        }).get();

        if (ids.length == 0) {
            alert('無資料確認');
            return;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("ConfirmDuty", new { })',
            data: { ids: ids },
            success: function (data) {
                if (data.IsSuccess) {
                    //alert("成功：資料確認" + data.Count + "筆");
                    alert("成功：資料確認");
                    location.reload();
                } else {
                    alert(data.ErrorMessage);
                    location.reload();
                }
            },
            error: function (xhr, status) {
                alert('更新失敗')
            }
        });
    }

</script>