@model IEnumerable<MyEPA.Models.OpenContractModel>
@using MyEPA.Models;
@{
    ViewBag.Title = "開口合約";
    Layout = "~/Views/_Layout.cshtml";
    var type = ViewBag.Type;
    var types = (List<ResourceTypeModel>)ViewBag.Types;
}
<h2>開口合約</h2>
<p>
    @Html.ActionLink("新增合約", "Create", new { type = type }, new { @class = "btn btn-success" })
</p>
<ul class="nav nav-tabs">
    @foreach (var item in types)
    {
        <li class="nav-item">
            @Html.ActionLink(item.Name, "Index", new { type = item.Id }, new { @class = (type == item.Id ? "nav-link active" : "nav-link") })
        </li>
    }
    <li class="nav-item">
        @Html.ActionLink("查詢", "Search", new { Year = MyEPA.Helper.DateTimeHelper.GetCurrentTime().Year }, new { @class = (type == null ? "nav-link active" : "nav-link") })
    </li>
</ul>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyInDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OContractDateBegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OContractDateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileTEL)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.KeyInDate.ToString("yyyy/MM/dd")
            </td>
            <td>
                @item.OContractDateBegin.ToString("yyyy/MM/dd")
            </td>
            <td>
                @item.OContractDateEnd.ToString("yyyy/MM/dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileTEL)
            </td>
            <td>
                @Html.ActionLink("合約資料細目", "Index", "OpenContract", new { id = item.Id }, new { }) |
                @Html.ActionLink("修改", "Edit", new { id = item.Id }) |
                <a id="DeleteBtn" href="#" onclick="Delete(@item.Id)">删除</a>
            </td>
        </tr>


    }
</table>
@if (Model.Any())
{
    { Html.RenderAction("Index", "OpenContractDetail", new { openContractId = ViewBag.Id }); }
}
<script>
    function Delete(id) {
        if (!window.confirm('確定要刪除?')) {
            return;
        };
        var root = '@Url.Action("Delete", "OpenContract")?id=' + id;
    $.ajax({
        url: root,
        method: 'Post',
        success: function (data) {
                if (data.IsSuccess) {
                    alert('刪除成功');
                    location.reload();
                }
                else {
                    alert('刪除失敗,' + data.ErrorMessage);
                }
            },
        error: function (data) {
                alert('刪除失敗');
            }
        });
    };
</script>

