@model IEnumerable<MyEPA.Models.LogDisinfectantViewModel>
@using MyEPA.Models;
@using MyEPA.Enums;

@{
    ViewBag.Title = "(閥值)消毒藥劑";
    Layout = "~/Views/_Layout.cshtml";

    List<DiasterModel> diasters = ViewBag.Diasters;

    //querystring
    bool CanUpdate = ViewBag.CanUpdate;
    int diasterId = ViewBag.DiasterId;
    int? selectDDLCt = ViewBag.selectDDLCt;
    int? selectServiceLifeDay = ViewBag.selectServiceLifeDay;
}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <h2> (閥值)消毒藥劑 </h2>

            <div>
                @using (Html.BeginForm("Index", "LogDisinfectant", new { }, FormMethod.Get, new { diasterId = @diasterId }))
                {
                    <table border="0">
                        <tbody>
                            <tr>
                                <td><h5>災害名稱：</h5></td>
                                <td>
                                    <select id="diasterId" name="diasterId">
                                        @foreach (var item in diasters)
                                        {
                                            <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><h5>閥值：</h5></td>
                                <td>
                                    <select id="selectDDLCt" name="selectDDLCt">
                                        <option value="">請選擇閥值</option>
                                        @foreach (var item in Code.GetDDLCt())
                                        {
                                            <option value="@item.Key" @(item.Key == selectDDLCt ? "selected" : string.Empty)>@item.Value</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><h5>效期：</h5></td>
                                <td>
                                    <input type="number" id="selectServiceLifeDay" name="selectServiceLifeDay" value="@selectServiceLifeDay" />
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr align="center">
                                <td colspan="2">
                                    <button type="submit" class="btn btn-primary" href=""><i class="fa fa-search"></i>&nbsp;查詢</button>
                                    <input id="divUpdate" style="display:none" value="更新閥值" class="btn btn-danger align-center" onclick="Update()" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                <br />
            </div>

            <table class="table">
                <tr>
                    <th>縣市</th>
                    <th>鄉鎮市</th>
                    <th>聯繫單位名稱</th>
                    <th>
                        消毒藥劑名稱
                        <br />
                        使用年限
                    </th>
                    <th>數量</th>
                    <th>閥值</th>
                    <th>閥值建置時間</th>
                    <th>閥值更新人員</th>
                    <th>現有數量</th>
                </tr>
                @foreach (var Item in Model)
                {
                    <tr>
                        <td>@Item.City</td>
                        <td>@Item.Town</td>
                        <td>@Item.ContactUnit</td>
                        <td>
                            @Item.DrugName
                            <br />
                            @(Item.ServiceLife != null ?DateFormat.ToDate4((DateTime)Item.ServiceLife) : "")
                        </td>
                        <td>@Item.Amount</td>
                        <td>@Item.CtPoint</td>
                        <td>@(DateFormat.ToDate7(Item.LogBDate))</td>
                        <th>@Item.LogBUser</th>
                        <td>
                            @Item.CurAmount
                            <br />
                            @Html.Raw(Item.CurYearDesc)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {

            var CanUpdate = '@CanUpdate'.toLowerCase() == 'true';
            if (CanUpdate) {
                //預設值不給更新
                $('#divUpdate').show()
            }
        });

        function Update() {

            if (!window.confirm('確定要更新：(閥值)消毒藥劑?')) {
                return;
            };

            var diasterId = @diasterId;
            var root = "@Url.Content("/LogDisinfectant/Update")";

            $.ajax({
                url: root,
                method: 'Post',
                data: { diasterId: diasterId },
                success: function (data) {
                    if (data.IsSuccess) {
                        isChanged = false;
                        alert('閥值更新成功');
                        location.reload();
                    }
                    else {
                        alert('閥值更新失敗,' + data.ErrorMessage);
                    }
                },
                error: function (data) {
                    alert('閥值更新失敗');
                }
            });

        }
    </script>
}