@model IEnumerable<MyEPA.Models.LogDisinfectantModel>
@using MyEPA.Models;
@using MyEPA.Enums;

@{
    ViewBag.Title = "(閥值)消毒藥劑";
    Layout = "~/Views/_Layout.cshtml";

    List<DiasterModel> diasters = ViewBag.Diasters;

    //querystring
    int diasterId = ViewBag.DiasterId;
    bool CanUpdate = ViewBag.CanUpdate;
}

<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-primary btn-white dropdown-toggle" aria-expanded="false">
        @(diasters.FirstOrDefault(e => e.Id == diasterId).DiasterName)<i class="ace-icon fa fa-angle-down icon-on-right"></i>
    </button>
    <ul class="dropdown-menu">
        @foreach (DiasterModel Item in diasters)
        {
            <li>
                <a href="@Url.Action("Index", new { diasterId = Item.Id })">@Item.DiasterName</a>
            </li>
        }
    </ul>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <h2> (閥值)消毒藥劑 </h2>

            <div id="divUpdate">
                <input type="submit" value="更新閥值" class="btn btn-danger align-center" onclick="Update()" />
                <br /><br />
            </div>

            <table class="table">
                <tr>
                    <th>縣市</th>
                    <th>鄉鎮市</th>
                    <th>聯繫單位名稱</th>
                    <th>用途</th>
                    <th>
                        消毒藥劑名稱
                        <br />
                        使用年限(民國)
                    </th>
                    <th>數量</th>
                    <th>閥值</th>
                    <th>閥值建置時間</th>
                    <th>閥值更新人員</th>
                </tr>
                @foreach (var Item in Model)
                {
                    <tr>
                        <td>@Item.City</td>
                        <td>@Item.Town</td>
                        <td>@Item.ContactUnit</td>
                        <td>@(((DisinfectorUseTypeEnum?)Item.UseType).GetDescription())</td>
                        <td>
                            @Item.DrugName
                            <br />
                            @(Item.ServiceLife != null ?DateFormat.ToDate4((DateTime)Item.ServiceLife) : "")
                        </td>
                        <td>@Item.Amount</td>
                        <td>@Item.CtPoint</td>
                        <td>@(DateFormat.ToDate7(Item.LogBDate))</td>
                        <th>@Item.LogBUser</th>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {

            var CanUpdate = '@CanUpdate'.toLowerCase() == 'true';
            if (!CanUpdate) {
                //預設值不給更新
                $('#divUpdate').hide()
            }
        });

        function Update() {

            var diasterId = @diasterId;
            var root = "@Url.Content("/LogDisinfectant/Update")";

            $.ajax({
                url: root,
                method: 'Post',
                data: { diasterId: diasterId },
                success: function (data) {
                    if (data.IsSuccess) {
                        isChanged = false;
                        alert('閥值更新成功');
                        location.reload();
                    }
                    else {
                        alert('閥值更新失敗,' + data.ErrorMessage);
                    }
                },
                error: function (data) {
                    alert('閥值更新失敗');
                }
            });

        }
    </script>
}