@model IEnumerable<MyEPA.Models.OpenContractCountModel>
@using MyEPA.Models;
@{
    ViewBag.Title = "開口合約-查詢";
    Layout = "~/Views/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th width="20%">合約名稱</th>
        <th width="7%">簽約日期</th>
        <th width="7%">合約起始</th>
        <th width="7%">合約截止</th>
        <th width="8%">合約廠商</th>
        <th width="8%">負責人</th>
        <th width="11%">聯絡電話</th>
        <th width="8%">行動電話</th>
        <th width="6%">跨縣市支援</th>
        <th width="8%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @DateFormat.ToDate4(item.KeyInDate)
            </td>
            <td>
                @DateFormat.ToDate4(item.OContractDateBegin)
            </td>
            <td>
                @DateFormat.ToDate4(item.OContractDateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileTEL)
            </td>
            <td>
                @if (item.IsSupportCity != null)
                {
                    @(item.IsSupportCity == true ? "是" : "否")
                }
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.Id }) |
                <a id="DeleteBtn" href="#" onclick="DeleteMain(@item.Id)">删除</a>
                <br />
                @{
                    string strDetailCount = "(" + (item.DetailCount ?? 0).ToString() + ")";
                }
                @Html.ActionLink("合約細目" + strDetailCount, "Index", "OpenContractNew", new { id = item.Id }, new { })
                @*@if (item.Id == ViewBag.Id)
        {
            string strDetailCount = item.Id == ViewBag.Id ? "(" + ViewBag.DetailCount + ")" : "";
            @Html.ActionLink("合約細目" + strDetailCount, "Index", "OpenContractNew", new { id = item.Id }, new { style = "color:blue;font-weight:bold" })
        }
        else
        {
            @Html.ActionLink("合約細目", "Index", "OpenContractNew", new { id = item.Id }, new { });
        }*@


            </td>
        </tr>


    }
</table>

