@model IEnumerable<MyEPA.Models.OpenContractCountModel>
@using MyEPA.Models;
@{
    ViewBag.Title = "開口合約";
    Layout = "~/Views/_Layout.cshtml";

    List<ResourceTypeModel> types = ViewBag.Types;
    var citys = (List<CityModel>)ViewBag.Citys;
    var towns = (List<TownModel>)ViewBag.Towns;
    UserBriefModel user = ViewBag.User;

    int? resourceTypeId = ViewBag.ResourceTypeId;
    int? yearRange = ViewBag.YearRange;
    int? cityId = ViewBag.CityId;
    int? townId = ViewBag.TownId;
    bool isEffective = ViewBag.IsEffective ?? false;    
    bool isEPB = ViewBag.IsEPB ?? false;
}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <h2> 開口合約 </h2>
            
            <div>
                @using (Html.BeginForm("Index", "OpenContractNew", new { }, FormMethod.Get))
                {
                    <table border="0">
                        <tbody>
                            <tr>
                                <td><h5>承辦單位：</h5></td>
                                <td>
                                    <select id="City" Name="CityId">
                                        @if (citys.Count > 1)
                                        {
                                            <option value="">全部縣市</option>
                                        }
                                        @foreach (var city in citys)
                                        {
                                            string selected = city.Id == ViewBag.CityId ? "selected" : "";
                                            <option value="@city.Id" @selected>@city.City</option>
                                        }
                                    </select>
                                    <select id="Town" name="TownId">
                                        <option value="">全部鄉鎮</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><h5>合約種類：</h5></td>
                                <td>
                                    <select id="resourceTypeId" name="resourceTypeId">
                                        <option value="">全部</option>
                                        @foreach (var item in types)
                                        {
                                            string selected = @item.Id == resourceTypeId ? "selected" : "";
                                            <option value="@item.Id" @selected>@item.Name</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><h5>合約期間：</h5></td>
                                <td>
                                    <select id="yearRange" name="yearRange">
                                        <option value="">全部年度</option>
                                        @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 5; i--)
                                        {
                                            {
                                                string selected = @i == yearRange ? "selected" : "";
                                                <option value="@i" @selected>@i</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><h5>合約狀態：</h5></td>
                                <td>
                                    <input type="checkbox" name="isEffective" id="isEffective" value="true" @(isEffective ? "checked" : "")>
                                    <label for="isEffective">合約中</label>
                                </td>
                            </tr>
                            <tr>
                                <td><h5>環保局：</h5></td>
                                <td>
                                    <input type="checkbox" name="isEPB" id="isEPB" value="true" @(isEPB ? "checked" : "")>
                                    <label for="isEPB">是</label>
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2">
                                    @Html.ActionLink("新增合約", "Create", null, new { @class = "btn btn-danger" })
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查詢</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                <br />
            </div>

            <table class="table">
                <tr>
                    <th width="7%"></th>
                    <th width="9%">承辦單位(建檔者)</th>
                    <th width="9%">合約種類</th>
                    <th width="15%">合約名稱</th>
                    <th width="7%">細目連結</th>
                    <th width="7%">簽約日期</th>
                    <th width="7%">合約起始</th>
                    <th width="7%">合約截止</th>
                    <th width="7%">合約廠商</th>
                    <th width="5%">跨縣市支援</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center">
                            @{
                                if (item.CanEdit ?? false)
                                {
                                    @Html.ActionLink("修改", "Edit", new { id = item.Id })
                                    <span>|</span>
                                    <a id="DeleteBtn" href="#" onclick="DeleteMain(@item.Id)">删除</a>
                                }
                                else
                                {
                                    @Html.ActionLink("檢視", "Edit", new { id = item.Id })
                                }
                            }
                        </td>
                        <td>
                            @(item.CityName + item.TownName)
                        </td>
                        <td>
                            @item.ResourceTypeName
                        </td>
                        <td>
                            @{
                                if (item.Name.IndexOf("oooo") > -1
                                     || item.KeyInDate.Year == DateFormat.MinDate.Year
                                     || item.OContractDateBegin.Year == DateFormat.MinDate.Year
                                     || item.OContractDateEnd.Year == DateFormat.MinDate.Year
                                   )
                                {
                                    <span style="color:red">***</span>
                                }

                                @item.Name
                            }
                        </td>
                        <td>
                            @Html.ActionLink((item.DetailCount ?? 0).ToString(), "Index", "OpenContractNewDetail", new { openContractId = item.Id }, new { @style = "color:blue;font-size:large;text-decoration: underline;" })
                        </td>
                        <td>
                            @DateFormat.ToDate4(item.KeyInDate)
                        </td>
                        <td>
                            @DateFormat.ToDate4(item.OContractDateBegin)
                        </td>
                        <td>
                            @DateFormat.ToDate4(item.OContractDateEnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fac)
                        </td>
                        <td>
                            @if (item.IsSupportCity != null)
                            {
                                @(item.IsSupportCity == true ? "是" : "否")
                            }
                        </td>
                    </tr>


                }
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/assets/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        //選定縣市(ex.縣市下拉查詢)
        GetTowns();

        $('#City').change(function ()
        {
            GetTowns();
        });
    });

    function DeleteMain(id) {
        if (!window.confirm('確定要刪除?')) {
            return;
        };
        var root = '@Url.Action("Delete", "OpenContractNew")?id=' + id;
        $.ajax({
            url: root,
            method: 'Post',
            success: function (data) {
                if (data.IsSuccess) {
                    alert('刪除成功');
                    //location.reload();
                    location.href = '@Url.Action("Index")';
                }
                else {
                    alert('刪除失敗,' + data.ErrorMessage);
                }
            },
            error: function (data) {
                alert('刪除失敗');
            }
        });
    };

    function GetTowns() {

        $('#Town').empty();
        $('#Town').append($('<option></option>').val('').text('全部鄉鎮'));

        cityId = $('#City option:selected').val();
        if (cityId == null) {
            alert("cityId錯誤：null");
            return;
        }
        else if (cityId == "") {
            return;
        }

        $.ajax({
            url: '@Url.Action("Towns", "Geolocation")'+'?cityId='+cityId,
            type: 'get',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {

                    $.each(data, function (i, item) {
                        var townId = String(item.Id);
                        if (townId === '@ViewBag.TownId') {
                            $('#Town').append($('<option selected="selected"></option>').val(item.Id).text(item.Name));
                        }
                        else {
                            $('#Town').append($('<option ></option>').val(item.Id).text(item.Name));
                        }
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }

        });
    }
</script>