@model IEnumerable<MyEPA.Models.WaterEquipmentViewModel>
@using MyEPA.Models;
@using MyEPA.Enums;
@{
    ViewBag.Title = "供水設備受損通報";
    Layout = "~/Views/_Layout.cshtml";
    int diasterId = ViewBag.DiasterId;
    List<DiasterModel> diasters = ViewBag.Diasters;
}

<h1>供水設備受損通報</h1>

<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-primary btn-white dropdown-toggle" aria-expanded="false">
        @(diasters.FirstOrDefault(e => e.Id == diasterId).DiasterName)<i class="ace-icon fa fa-angle-down icon-on-right"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="max-height:250px;overflow-y:scroll;">
        @foreach (DiasterModel Item in diasters)
        {
            <li>
                <a href="@Url.Action("Search","WaterEquipment",new { diasterId = Item.Id})">@Item.DiasterName</a>
            </li>
        }
    </ul>
</div>
<table class="table">
    <tbody>
        <tr style="color:White;background-color:#9AAC95;font-weight:bold;white-space:nowrap;">
            <td rowspan="2">@Html.DisplayNameFor(model => model.TownName)</td>
            <td rowspan="2"> @Html.DisplayNameFor(model => model.Name)</td>
            <td rowspan="2">@Html.DisplayNameFor(model => model.Description)</td>
            <td colspan="2">供水量情形</td>
            <td colspan="2">供水戶數</td>
            <td colspan="2">供水範圍</td>
            <td rowspan="2"> @Html.DisplayNameFor(model => model.DoneDate)</td>
            <td rowspan="2">   @Html.DisplayNameFor(model => model.Remark)</td>
            <td rowspan="2">   @Html.DisplayNameFor(model => model.CreateDate)</td>
        </tr>
        <tr style="color:White;background-color:#9AAC95;font-weight:bold;white-space:nowrap;">
            <th scope="col" style="font-size:X-Small;">
                @Html.DisplayNameFor(model => model.NormalAmount)
            </th>
            <th scope="col" style="font-size:X-Small;">
                @Html.DisplayNameFor(model => model.AbnormalAmount)
            </th>
            <th scope="col" style="font-size:X-Small;">
                @Html.DisplayNameFor(model => model.NormalCount)
            </th>
            <th scope="col" style="font-size:X-Small;">
                @Html.DisplayNameFor(model => model.AbnormalCount)
            </th>
            <th scope="col" style="font-size:X-Small;">
                @Html.DisplayNameFor(model => model.NormalArea)
            </th>
            <th scope="col" style="font-size:X-Small;">
                @Html.DisplayNameFor(model => model.AbnormalArea)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TownName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AbnormalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AbnormalCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AbnormalArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoneDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
            </tr>
        }
    </tbody>
</table>