@model IEnumerable<MyEPA.Models.WaterCheckDetailModel>
@using MyEPA.Enums;
@{
    ViewBag.Title = "水質抽驗統計-明細";
    Layout = "~/Views/_Layout.cshtml";
}
    <style>
        .table th {
            text-align: center;
            vertical-align: middle !important;
        }

        .table td {
            text-align: center;
            vertical-align: middle !important;
        }
    </style>
<table class="table table-bordered">
    <tr>
        <th rowspan="2">
            日期
        </th>
        <th rowspan="2">
            水樣別
        </th>
        <th rowspan="2">
            檢驗地點
        </th>
        <th colspan="4">檢驗項目</th>
        <th rowspan="2">
            檢驗結果
        </th>
    </tr>
    <tr>
        <th>
            自由有效餘氯
        </th>
        <th>
            大腸桿菌群
        </th>
        <th>
            pH
        </th>
        <th>
            濁度
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @item.CheckTime.ToString("yyyy/MM/dd")
    </td>

    <td>
        @item.Type.GetDescription()
    </td>
    <td>
        @(item.CityName + item.TownName + item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Chlorine)
    </td>
    <td>
        @{
            switch (item.EColiType)
            {
                case 0:
                <p>檢驗中</p>
                    break;
                case 1:
    <p>未檢出</p>
                    break;
                case 2:
    <p>&lt;1</p>
                    break;
                case 3:
    <p>過多無法計數(TNTC)</p>
                    break;
                case 4:
                    @Html.DisplayFor(modelItem => item.EColi)
                    break;
                case 5:
    <p>不檢驗</p>
                    break;








            }






        }


    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hydrogen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Turbidity)
    </td>
    <td>
            @switch (item.Status)
            {
                case WaterCheckDetailStatusEnum.Success:
                    @:抽驗件數：1 合格件數：1 不合格件數：0 檢驗中件數：0
                    break;
                case WaterCheckDetailStatusEnum.Failed:
                    @:抽驗件數：1 合格件數：0 不合格件數：1 檢驗中件數：0
                    break;
                case WaterCheckDetailStatusEnum.Testing:
                    @:抽驗件數：1 合格件數：0 不合格件數：0 檢驗中件數：1
                    break;
            }
    </td>
</tr>
}

</table>
