@model IEnumerable<MyEPA.ViewModels.WaterCheckStatisticsViewModel>
@using MyEPA.ViewModels;
@using MyEPA.Models;
@using MyEPA.Enums;
@using MyEPA.Helper
@{
    ViewBag.Title = "水質抽驗統計";
    Layout = "~/Views/_Layout.cshtml";
    List<DiasterModel> diasters = ViewBag.Diasters;
    int? diasterId = ViewBag.DiasterId;
}
<style>
    .table_th {
        text-align: center;
    }

    .table_td {
        text-align: center;
        vertical-align: middle !important;
    }
</style>
<h3>@ViewBag.Title</h3>
災害：
<select name="diasterId" onchange="Change(this)">
    @foreach (var item in diasters)
    {
        <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
    }
</select>
<table class="table table-bordered ">
    <tr>
        <th class="table_th">
            分類
        </th>
        <th colspan="2" class="table_th">
            @Html.DisplayNameFor(model => model.EPs)
        </th>
        <th colspan="3" class="table_th">
            @Html.DisplayNameFor(model => model.Water)
        </th>
    </tr>
    <tr>
        <th class="table_th">
            @Html.DisplayNameFor(model => model.EPs.FirstOrDefault().City)
        </th>
        <th class="table_th">
            @Html.DisplayNameFor(model => model.EPs.FirstOrDefault().Count)
        </th>
        <th class="table_th">
            @Html.DisplayNameFor(model => model.EPs.FirstOrDefault().DisqualifiedCount)
        </th>
        <th class="table_th">
            @Html.DisplayNameFor(model => model.Water.Count)
        </th>
        <th class="table_th">
            @Html.DisplayNameFor(model => model.Water.DisqualifiedCount)
        </th>
        <th class="table_th">
            @Html.DisplayNameFor(model => model.WaterDivision)
        </th>
    </tr>
    <tr>
        <td class="table_td">
            總計
        </td>
        <td class="table_td">
            @Model.SelectMany(e => e.EPs).Sum(e => e.Count)
        </td>
        <td class="table_td">
            @Model.SelectMany(e => e.EPs).Sum(e => e.DisqualifiedCount)
        </td>
        <td class="table_td">
            @Model.Sum(e => e.Water.Count)
        </td>
        <td class="table_td">
            @Model.Sum(e => e.Water.DisqualifiedCount)
        </td>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        @for (int i = 0; i < item.EPs.Count && i < 1; i++)
        {
            var ep = item.EPs[i];
            <td class="table_td">
                @Html.DisplayFor(modelItem => ep.City)
            </td>
            <td class="table_td">
                <a href="@Url.Action("DetailStatistics","WaterCheck",new { ep.CityId, diasterId,Type = WaterCheckTypeEnum.EPPersonnel })"> @ep.Count</a>
            </td>
            <td class="table_td">
                <a href="@Url.Action("DetailStatistics","WaterCheck",new { ep.CityId, diasterId,Type = WaterCheckTypeEnum.EPPersonnel,Recheck =WaterCheckDetailRecheckEnum.Disqualified })"> @ep.DisqualifiedCount</a>
            </td>
        }

        <td class="table_td" rowspan="@item.EPs.Count">
            <a href="@Url.Action("DetailStatistics","WaterCheck",new { item.WaterDivisionId, diasterId,type = WaterCheckTypeEnum.Water })"> @item.Water.Count</a>
        </td>
        <td class="table_td" rowspan="@item.EPs.Count">
            <a href="@Url.Action("DetailStatistics","WaterCheck",new { item.WaterDivisionId, diasterId,Type = WaterCheckTypeEnum.Water,Recheck =WaterCheckDetailRecheckEnum.Disqualified })"> @item.Water.DisqualifiedCount</a>
        </td>
        <td class="table_td" rowspan="@item.EPs.Count">
            @Html.DisplayFor(modelItem => item.WaterDivision)
        </td>

    </tr>
        for (int i = 1; i < item.EPs.Count; i++)
        {

            var ep = item.EPs[i];
            <tr>
                <td class="table_td">
                    @Html.DisplayFor(modelItem => ep.City)
                </td>
                <td class="table_td">
                    <a href="@Url.Action("DetailStatistics","WaterCheck",new { ep.CityId, diasterId,type = WaterCheckTypeEnum.EPPersonnel })"> @ep.Count</a>
                </td>
                <td class="table_td">
                    <a href="@Url.Action("DetailStatistics","WaterCheck",new { ep.CityId, diasterId,Type = WaterCheckTypeEnum.EPPersonnel,Recheck =WaterCheckDetailRecheckEnum.Disqualified })"> @ep.DisqualifiedCount</a>
                </td>
            </tr>
        }
    }
</table>
@section Scripts{
    <script>
        function Change(target)
        {
            window.location = `@Html.Raw(Url.Action("Statistics","WaterCheck",new { Id = ""}))?diasterId=${target.value}`
        }
    </script>

}