@model IEnumerable<MyEPA.ViewModels.WaterCheckStatisticsViewModel>
@using MyEPA.ViewModels;
@using MyEPA.Models;
@using MyEPA.Enums;
@using MyEPA.Helper
@{
    ViewBag.Title = "水質抽驗統計";
    Layout = "~/Views/_Layout.cshtml";
    List<DiasterModel> diasters = ViewBag.Diasters;
    int? diasterId = ViewBag.DiasterId;
}
<style>
    .table_th {
        text-align: center;
    }

    .table_td {
        text-align: center;
        vertical-align: middle !important;
    }
</style>
<h3>@ViewBag.Title</h3>
災害：
<select name="diasterId" onchange="Change(this)">
    @foreach (var item in diasters)
    {
        <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
    }
</select>
<table class="table table-bordered ">
    <tr>
        <th class="table_th">
            分類
        </th>
        <th colspan="2" class="table_th">
            環保單位
        </th>
        <th colspan="3" class="table_th">
            自來水單位
        </th>
    </tr>
    <tr>
        <th class="table_th">
            單位別
        </th>
        <th class="table_th">
            抽驗件數
        </th>
        <th class="table_th">
            不合格件數
        </th>
        <th class="table_th">
            抽驗件數
        </th>
        <th class="table_th">
            不合格件數
        </th>
        <th class="table_th">
            供水單位
        </th>
    </tr>
    <tr>
        <td class="table_td">
            總計
        </td>
        <td class="table_td">
            @Model.Sum(e => e.EPsCount)
        </td>
        <td class="table_td">
            @Model.Sum(e => e.EPsDisqualifiedCount)
        </td>
        <td class="table_td">
            @Model.Sum(e => e.WaterCount)
        </td>
        <td class="table_td">
            @Model.Sum(e => e.WaterDisqualifiedCount)
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="table_td">
                @item.City
            </td>
            <td class="table_td">                
                <a href="@Url.Action("DetailStatistics","WaterCheck",new { item.CityId, diasterId,Type = WaterCheckTypeEnum.EPPersonnel })">@item.EPsCount</a>
            </td>
            <td class="table_td">                
                <a href="@Url.Action("DetailStatistics","WaterCheck",new { item.CityId, diasterId,Type = WaterCheckTypeEnum.EPPersonnel,Status=WaterCheckDetailStatusEnum.Failed.GetHashCode()})">@item.EPsDisqualifiedCount</a>
            </td>
            <td class="table_td">                
                <a href="@Url.Action("DetailStatistics","WaterCheck",new { item.CityId, diasterId,type = WaterCheckTypeEnum.Water })">@item.WaterCount</a>
            </td>
            <td class="table_td">                
                <a href="@Url.Action("DetailStatistics","WaterCheck",new { item.CityId, diasterId,Type = WaterCheckTypeEnum.Water,Status=WaterCheckDetailStatusEnum.Failed.GetHashCode() })">@item.WaterDisqualifiedCount</a>
            </td>
            <td class="table_td">
                @item.WaterDivision
            </td>
        </tr>
    }
</table>
@section Scripts{
    <script>
        function Change(target)
        {
            window.location = `@Html.Raw(Url.Action("Statistics","WaterCheck",new { Id = ""}))?diasterId=${target.value}`
        }
    </script>

}