@using MyEPA.Models
@model Registers
@{
    Layout = "~/Views/Home/_FirstLayout.cshtml";
    var positions = (List<PositionModel>)ViewBag.Positions;
    ViewBag.Title = "線上註冊";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@{Html.RenderPartial("~/Views/Components/JSforRegister.cshtml");}
<script>

    $('html, body').animate({
        scrollTop: 300
    }, 1000);

</script>
<style>
    legend {
        font-size: 1rem;
    }
</style>
<div class="container">
    <br />
    <h2>線上註冊</h2>
    <br />
    @using (Html.BeginForm("InputRegister", "HomexRegister"))
    {
        <table class="table table-bordered" style="border: 1px solid gray;">
            <tbody>
                
                    <tr>
                        <td colspan="2" align="center" bgcolor="#fffcec">
                            <label>基本資料</label>                     
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center"><label for="Name">姓名</label></td>
                        <td>
                            @Html.TextBoxFor(m => m.Name, "", new { style = "border-style:groove;margin-top:10px;border-width:2px;width:200px;", @required = "required", @placeholder = "必填", @maxlength = "200" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @style = "color:red" })
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center"><label for="Id">帳號</label></td>
                        <td>
                            @Html.TextBoxFor(m => m.Id, "", new { style = "border-style:groove;width:200px;", @required = "required", @placeholder = "必填", oninput = "preventChineseInput(this);" })
                            @Html.ValidationMessageFor(m => m.Id, "", new { @style = "color:red" })
                            <span class="text-danger ps-3">*請輸入英文或數字</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center"><label for="Pwd">密碼</label></td>
                        <td>
                            <input name="Pwd" id="Pwd" style="border-style:groove;width:200px;" required placeholder="必填" />
                            @Html.ValidationMessageFor(m => m.Pwd, "", new { @style = "color:red" })
                            <span class="text-danger">*密碼應為12碼及英數特殊符號併行</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center"><label for="Duty">機關類別(角色)</label></td>
                        <td>
                            @Html.DropDownList("Duty", new List<SelectListItem>
                                                    {
                                                    new SelectListItem{Text = "請選擇",Value = "", Selected=true},
                                                    new SelectListItem{Text = "環境部(中央機關)", Value = "環境部"},
                                                    new SelectListItem{Text = "環保局(地方機關)",Value = "環保局"},
                                                    new SelectListItem{Text = "清潔隊(地方機關)", Value = "清潔隊"},
                                                    new SelectListItem{Text = "自來水公司",Value = "自來水公司"},
                                                    }, new { onclick = "DutyChanged()", @required = "required" })
                            @Html.ValidationMessageFor(m => m.Duty, "", new { @style = "color:red" })
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center"><label for="City">機關名稱(縣市)</label></td>
                        <td>
                            @Html.DropDownList("City", new List<SelectListItem>
                                                     {
                                                           new SelectListItem{Text = "請選擇",Value = "",Selected=true}
                                                     }, new { @disabled = "disabled", onclick = "CityChanged()", @required = "required" })
                            @Html.ValidationMessageFor(m => m.City, "", new { @style = "color:red" })
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center"><label for="Town">單位(鄉鎮區)名稱</label></td>
                        <td>
                            @Html.DropDownList("Town", new List<SelectListItem>
                                                     {
                                                         new SelectListItem{Text = "請選擇", Value = "",Selected=true}
                                                     }, new { @disabled = "disabled", @required = "required" })
                            @Html.ValidationMessageFor(m => m.Town, "", new { @style = "color:red" })
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center"><label for="HumanType">人員類別</label></td>
                        <td>
                            <input type="checkbox" class="options" name="HumanType" id="HumanType[0]" required value="災情通報人員" /><label for="HumanType[0]">災情通報人員</label><br />
                            <input type="checkbox" class="options" name="HumanType" id="HumanType[1]" required value="飲用水緊急應變小組連絡人員" /><label for="HumanType[1]">飲用水緊急應變小組連絡人員</label><br />
                            <input type="checkbox" class="options" name="HumanType" id="HumanType[2]" required value="災害防救緊急應變連絡人員" /><label for="HumanType[2]">災害防救緊急應變連絡人員</label><br />
                            <input type="checkbox" class="options" name="HumanType" id="HumanType[3]" required value="中央專責及進駐人員" /><label for="HumanType[3]">中央專責及進駐人員</label><br />
                            <input type="checkbox" class="options" name="HumanType" id="HumanType[4]" required value="署內進駐人員" /><label for="HumanType[4]">署內進駐人員</label><br />
                            <input type="checkbox" class="options" name="HumanType" id="HumanType[5]" required value="車輛機具連絡人員" /><label for="HumanType[5]">車輛機具連絡人員</label><br />
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center"><label for="PositionId">職稱</label></td>
                        <td>
                            @Html.DropDownList("PositionId", positions.Select(e => new SelectListItem
                           {
                               Text = e.Name,
                               Value = e.Id.ToString()
                                }).ToList(), new { @required = "required" })
                        </td>
                    </tr>


                    <tr>
                        <td colspan="2" align="center" bgcolor="#fffcec">
                            <label>聯絡資料</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center"><label for="MobilePhone">行動電話</label></td>
                        <td>
                            @Html.TextBoxFor(m => m.MobilePhone, "", new { style = "border-style:groove;margin-top:10px;border-width:2px;width:200px;", @required = "required", @placeholder = "必填" })
                            @Html.ValidationMessageFor(m => m.MobilePhone)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center"><label for="OfficePhone"> 辦公室電話</label></td>
                        <td>
                            @Html.TextBoxFor(m => m.OfficePhone, "", new { style = "border-style:groove;margin-top:10px;border-width:2px;width:200px;", @required = "required", @placeholder = "必填" })
                            @Html.ValidationMessageFor(m => m.OfficePhone)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center"><label for="Email">Email</label></td>
                        <td>
                            @Html.TextBoxFor(m => m.Email, "", new { style = "border-style:groove;margin-top:10px;border-width:2px;width:200px;", @required = "required", @placeholder = "必填" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </td>
                    </tr>


                    <tr>
                        <td colspan="2" align="center" bgcolor="#fffcec">
                            <label>權級資料</label>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center"><label for="MainContacter">是否為該單位主要聯絡</label></td>
                        <td>
                            @Html.DropDownList("MainContacter", new List<SelectListItem>
                                                {
                                                new SelectListItem{Text = "是",Value = "是"},
                                                new SelectListItem{Text = "否",Value = "否",Selected=true}
                                                })
                            @Html.ValidationMessageFor(m => m.MainContacter, "", new { @style = "color:red", @required = "required" })
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: center "><label for="ReportPriority">通報優先順序</label></td>
                        <td>
                            @Html.DropDownList("ReportPriority", new List<SelectListItem>
                            {

                            new SelectListItem{Text = "1", Value = "1",Selected=true},
                            new SelectListItem{Text = "2",Value = "2"},
                            new SelectListItem{Text = "3",Value = "3"},
                            new SelectListItem{Text = "4",Value = "4"},
                            new SelectListItem{Text = "5",Value = "5"},
                            new SelectListItem{Text = "6",Value = "6"},
                            new SelectListItem{Text = "7",Value = "7"},
                            new SelectListItem{Text = "8",Value = "8"},
                            new SelectListItem{Text = "9",Value = "9"},
                            new SelectListItem{Text = "10",Value = "10"}
                            })
                            @Html.ValidationMessageFor(m => m.ReportPriority, "", new { @style = "color:red" })
                        </td>
                    </tr>


                    <tr>
                        <td colspan="2" align="center" bgcolor="white"><input type="submit" class="btn btn-danger" role="button" value="確認註冊" /></td>
                    </tr>
            </tbody>
        </table>
    }
    <br />
    <br />
</div>
<script>
    @if(ViewBag.Msg != null)
    {
        @:alert('@ViewBag.Msg');
    }
    $(function () {
        var requiredCheckboxes = $('.options');
        requiredCheckboxes.change(function () {
            if (requiredCheckboxes.is(':checked')) {
                requiredCheckboxes.removeAttr('required');
            } else {
                requiredCheckboxes.attr('required', 'required');
            }
        });
    });



    function preventChineseInput(inputElement) {
        // 使用正則表達式檢查是否有中文字符
        let pattern = /[\u4e00-\u9fa5\u3100-\u312F]/g;
        if (pattern.test(inputElement.value)) {
            // 將中文字符和注音符號替換為空字符串
            inputElement.value = inputElement.value.replace(pattern, "");
        }
    }
</script>

