@using MyEPA.ViewModels
@model ApplyCarViewModel

@{
    ViewBag.Title = "請求車輛支援-修改";
    Layout = "~/Views/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/Content/flatpickr.css">
    <link rel="stylesheet" href="~/Content/confirmDate.css">
}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <h3>請求車輛支援</h3>
                <hr>
            </div>
            <div class="row">
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        @{
                            ApplyRequestViewModel requestViewModel = ViewBag.RequestViewModel;
                            <input type="hidden" name="CityId" value="@requestViewModel.CityId" />
                            <input type="hidden" name="TownId" value="@requestViewModel.TownId" />
                            <input type="hidden" name="DiasterId" value="@requestViewModel.DiasterId" />
                            <input type="hidden" name="Id" value="@Model.Id" />

                        }
                        <table id="dataTable" class="table table-bordered">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <td colspan="4" align="center" bgcolor="#ED7B73"></td>
                                </tr>
                                <tr>
                                    <td colspan="4" align="center" bgcolor="#fff8d7">
                                        <h5>填寫需請求資料</h5>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>需用日期：</td>
                                    <td colspan="2">
                                        @Html.EditorFor(model => model.RequireDate, new { htmlAttributes = new { @class = "flatpickr flatpickr-input", @placeholder = "需用日期", @Value = Model.RequireDate.ToString("yyyy-MM-dd") } })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        車輛名稱<br>
                                    </td>
                                    <td>數量</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                @foreach (var detail in Model.Details)
                                {
                                    <tr class="sampleTr">
                                        <td>
                                            <select class="sampleSelect" name="Type">
                                                @foreach (var option in ViewBag.Options)
                                                {
                                                    <option value="@option.Value" selected="@detail.ApplyCarTypeId.Equals(option.Value)"> @option.Key</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" name="Quantity" value="@detail.Quantity" min="0" step="1" />
                                        </td>
                                        <td>
                                            <span style="color:Red; font-weight:normal;">*</span>請確認已完成以下調度方式：<br>
                                            <label><input type="checkbox" name="PrefectureDescriptionCheckBox" checked>已確認調度轄區內設備仍不足。</label><span style="color:Red; font-weight:normal;">(必填)</span><br> &nbsp;&nbsp;&nbsp;&nbsp; 調度情形說明：
                                            <input name="PrefectureDescription" type="text" value="@detail.PrefectureDescription" maxlength="200" style="width:400px;" placeholder="限兩百字以內">
                                            <br>
                                            <label> <input type="checkbox" name="NearPrefectureDescriptionCheckBox" checked>已確認調度鄰近縣市轄區內設備仍不足。</label><span style="color:Red; font-weight:normal;">(必填)</span><br> &nbsp;&nbsp;&nbsp;&nbsp; 調度情形說明：
                                            <input name="NearPrefectureDescription" type="text" value="@detail.NearPrefectureDescription" maxlength="200" style="width:400px;" placeholder="限兩百字以內">
                                            <br>
                                            <label><input type="checkbox" name="OpenContractDescriptionCheckBox" checked>已確認調度轄區內開口合約設備仍不足。</label><span style="color:Red; font-weight:normal;">(必填)</span><br> &nbsp;&nbsp;&nbsp;&nbsp; 調度情形說明：
                                            <input name="OpenContractDescription" type="text" value="@detail.NearPrefectureDescription" maxlength="200" style="width:400px;" placeholder="限兩百字以內">
                                        </td>
                                        <td>
                                            <button onclick="add()">+&nbsp;新增</button>&nbsp;&nbsp;
                                            <button onclick="del(this)">+&nbsp;刪除</button>&nbsp;&nbsp;
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td>估算方法(限1000字內)</td>
                                    <td colspan="2">
                                        @Html.TextAreaFor(model => model.EstimationMethodDescribe, new { style = "width:100%" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <td colspan="3" align="center" bgcolor="#fff8d7">
                                        <h5>照片上傳</h5>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3">說明:1.上傳照片(限JPG檔)請按"選擇檔案"鈕，待全部欄位填寫完成後按下方”新增”或”修改”鈕，統一上傳   2.下方提供照片說明填寫(限100字)。</td>
                                </tr>
                                <tr align="left">
                                    <td>
                                        照片預覽
                                        <br>
                                        @{
                                            var src = "";
                                            if (Model.FileData != null)
                                            {
                                                src = Url.Action("Url", "FileData", new { Id = Model.FileData.Id });
                                            }
                                        }
                                        <img class="imagen" id="blah" src="@src" alt="your image" />
                                        <input type="file" name="file" id="file" accept=".jpg, .jpeg, .png" />
                                        <span class="text-primary mt-2">限定(.jpg, .jpeg, .png)</span>
                                        <br>照片說明
                                        <br>
                                        @Html.TextAreaFor(model => model.PhotoDescribe, new { style = "width:100%" })
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <td colspan="3" align="center" bgcolor="#fff8d7">
                                        <h5>現場聯絡人員</h5>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>聯絡人姓名</td>
                                    <td>@Html.TextBoxFor(model => model.ContactPerson)</td>
                                </tr>
                                <tr>
                                    <td>連絡電話：</td>
                                    <td>@Html.TextBoxFor(model => model.ContactPhone)</td>
                                </tr>
                                <tr>
                                    <td>連絡手機：</td>
                                    <td>@Html.TextBoxFor(model => model.ContactMobilePhone)</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <a href="javascript:window.close();" onclick="SendRequest()"><div class="btn align-center">確認送出</div></a>
                        <br>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/confirmDate.js"></script>
    <script src="~/Scripts/flatpickr.js"></script>
    <script>
        var full = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');
        $(document).ready(function () {
            $('.imagen[src=""]').hide();
            $('.imagen:not([src=""])').show();
        });

        function add() {
            $('.sampleTr:last').clone().insertAfter('.sampleTr:last')
            $('.sampleTr:last').find('[name="Type"]').val(0)
            $('.sampleTr:last').find('[name="Quantity"]').val(0)
            $('.sampleTr:last').find('[name="PrefectureDescriptionCheckBox"]').attr("checked", false)
            $('.sampleTr:last').find('[name="NearPrefectureDescriptionCheckBox"]').attr("checked", false)
            $('.sampleTr:last').find('[name="OpenContractDescriptionCheckBox"]').attr("checked", false)
            $('.sampleTr:last').find('[name="PrefectureDescription"]').val('')
            $('.sampleTr:last').find('[name="NearPrefectureDescription"]').val('')
            $('.sampleTr:last').find('[name="OpenContractDescription"]').val('')
        }

        function del(item) {
            if ($('.sampleTr').length > 1) {
                $(item).parent().parent('tr').remove()
            }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                    $('.imagen:not([src=""])').show();
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file").change(function () {
            readURL(this);
        });

        function SendRequest()
        {
            var data = new FormData();
            //Hidden 取法
            data.append('DiasterId', $('[name=DiasterId]').attr("value"))
            data.append('CityId', $('[name=CityId]').attr("value"))
            data.append('TownId', $('[name=TownId]').attr("value"))
            data.append('Id', $('[name=Id]').attr("value"))

            data.append('DiasterId',$('[name=DiasterId]').val())
            data.append('RequireDate', $('[name=RequireDate]').val())
            data.append('EstimationMethodDescribe', $('[name=EstimationMethodDescribe]').val())
            data.append('PhotoDescribe', $('[name=PhotoDescribe]').val())
            data.append('ContactPerson', $('[name=ContactPerson]').val())
            data.append('ContactPhone', $('[name=ContactPhone]').val())
            data.append('ContactMobilePhone', $('[name=ContactMobilePhone]').val())

            var trCount = $('.sampleTr').length
            for (var i = 0; i < trCount; i++) {
                data.append('Details[' + i + '].ApplyCarTypeId', $('[name=Type]')[i].value)
                data.append('Details[' + i + '].Quantity', $('[name=Quantity]')[i].value)
                data.append('Details[' + i + '].PrefectureDescription', $('[name=PrefectureDescription]')[i].value)
                data.append('Details[' + i + '].NearPrefectureDescription', $('[name=NearPrefectureDescription]')[i].value)
                data.append('Details[' + i + '].OpenContractDescription', $('[name=OpenContractDescription]')[i].value)
            }

            data.append('file',$('#file').get(0).files[0])
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditModel","ApplyCar")',
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    window.location = '@Html.Raw(Url.Action("Index","ApplyCar",  ViewBag.RequestViewModel))'
                },
                error: function (xhr, status) {
                 alert('更新失敗')
               }
            });
        }

    </script>
}
