@model MyEPA.ViewModels.ApplySupportProcessingDetailViewModel
@using MyEPA.Models;
@{
    ViewBag.Title = "請求車輛支援-開始辦理核定";
    Layout = "~/Views/_Layout.cshtml";
    List<ApplyCarHandlingSituationModel> handlingSituations = ViewBag.HandlingSituations;
}

@section styles{
}

<div class="page-content">
    <div>
        <h3 align="center">開始辦理核定</h3>
        <h5 class="header blue">請求內容</h5>
        <div class="dataTable">
            <div class="">
                鄉鎮市名稱：@Model.CityName @Model.TownName <br />
                災區狀況說明：@Model.EstimationMethodDescribe <br />
                需用日期：@Model.RequireDate.ToString("yyyy/MM/dd") <br />
                項目：@string.Join(",", Model.ReqeustDescirptions) <br />
                @{
                    var src = "";
                    if (Model.FileData != null)
                    {
                        src = Url.Action("Url", "FileData", new { Id = Model.FileData.Id });
                    }
                }
                照片預覽：<img class="imagen" id="blah" src="@src" alt="preview photo" /> <br />
                照片說明：@Model.PhotoDescribe <br />
                聯絡人姓名：@Model.ContactPerson <br />
                連絡電話：@Model.ContactPhone <br />
                連絡手機：@Model.ContactMobilePhone <br />
                @{
                    var epbStatusString = Model.EPBConfirmStatus.HasValue ? Model.EPBConfirmStatus.Value.GetDescription() : "";
                    var epaStatusString = Model.EPAConfirmStatus.HasValue ? Model.EPAConfirmStatus.Value.GetDescription() : "";
                }
                環保局辦理情形：@epbStatusString <br />
                環保局辦理情形描述：@Model.EPBConfirmDescribe <br />
                環境部辦理情形：@epaStatusString <br />
                環境部辦理情形描述：@Model.EPAConfirmDescribe <br />
            </div>
        </div>
        <br>
        <h5 class="header blue">核定方式</h5>
        <div class="pager">
            <input type="hidden" value="@Model.Id" id="applyId">
            <table id="checkboxGroup" class="table table-detail" width="100%" border="1">
                <tbody>
                    <tr class="table-header">
                        <td colspan="2">第一步:辦理方式</td>
                    </tr>
                    <tr align="left">
                        <td width="15%">
                            <input id="checkConfirm" name="checkConfirm" type="checkbox"><label for="checkConfirm">&nbsp;核定，說明</label>
                        </td>
                        <td width="85%">
                            <textarea style="width: 500px" name="textConfirm">&nbsp;</textarea>(限500字)
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <input id="checkReject" name="checkReject" type="checkbox"><label for="checkReject">&nbsp;退回，說明</label>
                        </td>
                        <td>
                            <textarea style="width: 500px" name="textReject">&nbsp;</textarea>(限500字)
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="dataTable" class="table table-detail">
                <tbody>
                    <tr class="table-header">
                        <td colspan="5">
                            <h5>第二步:辦理情形</h5>
                        </td>
                    </tr>
                    <tr>

                        <td>請求項目</td>
                        <td colspan="3">細項</td>

                        <td></td>
                    </tr>
                    @foreach (var item in handlingSituations)
                    {
                        <tr class="sampleTr">
                            <td>
                                <select class="typeSelect" name="Type">
                                    <option value=""> 請選擇</option>
                                    <option value="1" @(item.Type == 1 ? "selected" : "")> 車輛設備</option>
                                    <option value="2" @(item.Type == 2 ? "selected" : "")> 補助款</option>
                                </select>
                                
                            </td>
                            <td class="carItem">
                                車輛名稱
                                <select id="sampleSelect" name="CarType">
                                    @foreach (var option in ViewBag.Options)
                                    {
                                        <option value="@option.Value" selected="@item.Type.Equals(option.Value)"> @option.Key</option>
                                    }
                                </select>
                            </td>
                            <td class="carItem">
                                數量
                                <input type="number" name="Quantity" value="@item.Quantity" min="1" step="1" />
                            </td>
                            <td class="carItem">
                                天
                                <input type="number" name="Day" value="@item.Day" min="1" step="1" />
                            </td>
                             <td colspan="3" class="subsidyItem">
                                <input type="number" name="Subsidy" value="@item.Subsidy.ToString("0")" min="1" step="1" />
                            </td>
                            <td>
                                <button id="add" onclick="add()">+&nbsp;新增</button>&nbsp;&nbsp;
                                <button id="add" onclick="del(this)">+&nbsp;刪除</button>&nbsp;&nbsp;
                            </td>
                        </tr>
                    }
                    @if (handlingSituations.Count == 0)
                    {
                        <tr class="sampleTr">
                            <td>
                                <select class="typeSelect" name="Type">
                                    <option value=""> 請選擇</option>
                                    <option value="1"> 車輛設備</option>
                                    <option value="2"> 補助款</option>
                                </select>
                            </td>
                            <td class="carItem">
                                <label>車輛名稱</label>
                                <select id="sampleSelect" name="CarType">
                                </select>
                            </td>
                            <td class="carItem">
                                <label>數量</label>
                                <input type="number" name="Quantity" value="1" min="1" step="1"/>
                            </td>
                            <td class="carItem">
                                <label>天</label>
                                <input type="number" name="Day" value="1" min="1" step="1"/>
                            </td>
                            <td colspan="3" class="subsidyItem">
                                <input type="number" name="Subsidy" value="1" min="1" step="1" />
                            </td>
                            <td>
                                <button id="add" onclick="add()">+&nbsp;新增</button>&nbsp;&nbsp;
                                <button id="add" onclick="del(this)">+&nbsp;刪除</button>&nbsp;&nbsp;
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <table class="table table-detail" width="100%" border="1">
                <tbody>
                    <tr class="table-header">
                        <td>第三步:送出資訊</td>
                    </tr>
                    <tr align="center">
                        <td>
                            <button class="btn btn-danger" onclick="send()">
                                <i class="fa fa-save"></i>&nbsp;確認送出
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/confirmDate.js"></script>
    <script src="~/Scripts/flatpickr.js"></script>
    <script>
        var full = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');
        $(document).ready(function () {
            $('.imagen[src=""]').hide();
            $('.imagen:not([src=""])').show();


            var url = full + "/ApplyCar/CarOptions"
            $.getJSON(url, function (data) {
                var options = "";
                Object.keys(data).forEach((key) => {
                    options += '<option value = "' + data[key] + '" > ' + key + '</option >'
                })
                $('#sampleSelect').append(options);
            })

        });

        function add() {
            $('.sampleTr:last').clone().insertAfter('.sampleTr:last')

            console.log($('.sampleTr:last'));
            $('.sampleTr:last').find('[name="Type"]').val();
            $('.sampleTr:last').find('[name="CarType"]').val(0);
            $('.sampleTr:last').find('[name="Quantity"]').val(1);
            $('.sampleTr:last').find('[name="Day"]').val(1);
            $('.sampleTr:last').find('[name="Subsidy"]').val(0);
            
            typeSelectChange();
        }

        function del(item) {
            if ($('.sampleTr').length > 1) {
                $(item).parent().parent('tr').remove()
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.imagen[src=""]').hide();
            $('.imagen:not([src=""])').show();
            autoTypeSelect();
        });

        $('#checkboxGroup tr td input').click(function () {
            if ($(this).prop('checked')) {
                $('#checkboxGroup tr td input:checkbox').prop('checked', false);
                $(this).prop('checked', true);
            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                    $('.imagen:not([src=""])').show();
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        
        typeSelectChange();
        
        function typeSelectChange() {
           
            $(".typeSelect").change(function () {
                var vm = this;
                typeSelect(vm);
            });
        }
        function autoTypeSelect() {
            var list = $(".typeSelect");
            for (var i = 0; i < list.length; i++) {

                list.eq(i).change()
            }
        }

        function typeSelect(vm) {

            var index = $(".typeSelect").index(vm);

            var tr = $('.sampleTr').eq(index);

            if (vm.value == "1") {
                tr.find(".carItem").show();
                tr.find(".subsidyItem").hide();
            }
            else if (vm.value == "2") {
                tr.find(".carItem").hide();
                tr.find(".subsidyItem").show();
            }
            else {
                tr.find(".carItem").hide();
                tr.find(".subsidyItem").hide();
            }
        }
       
        $("#file").change(function () {
            readURL(this);
        });

        function send() {
            var data = new FormData();

            //Hidden 取法
            data.append('ApplyId', $('#applyId').val())

            data.append('CheckConfirm', $('#checkConfirm').prop('checked'))
            data.append('TextConfirm', $('[name=textConfirm]').val())
            data.append('CheckSendToEPA', $('#checkSendToEPA').prop('checked'))
            data.append('TextSendToEPA', $('[name=textSendToEPA]').val())
            data.append('CheckReject', $('#checkReject').prop('checked'))
            data.append('TextReject', $('[name=textReject]').val())

            var trCount = $('.sampleTr').length;

            var addItemCount = 0;

            for (var i = 0; i < trCount; i++) {
                var typeId = $('[name=Type]')[i].value;
                var quantity = $('[name=Quantity]')[i].value;
                if (quantity > 0 && typeId > 0) {
                    data.append('HandlingSituations[' + i + '].ApplyCarTypeId', typeId);
                    data.append('HandlingSituations[' + i + '].Quantity', quantity);
                    data.append('HandlingSituations[' + i + '].Day', $('[name=Day]')[i].value);
                    data.append('HandlingSituations[' + i + '].Type', $('[name=Type]')[i].value);
                    data.append('HandlingSituations[' + i + '].CarType', $('[name=CarType]')[i].value);
                    data.append('HandlingSituations[' + i + '].Subsidy', $('[name=Subsidy]')[i].value);
                    addItemCount++;
                }
            }
            if ($('#checkConfirm').prop('checked')) {
                if (addItemCount == 0) {
                    alert('請選擇[辦理情形項目]並填寫[數量]！')
                    return;
                }
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateApplyCarEpaStatus", "ApplyCar")',
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    alert('更新成功')
                    close()
                },
                error: function (xhr, status) {
                 alert('更新失敗')
               }
            });
        }
    </script>
}


