@model List<MyEPA.Models.RecResourceModel>
@using MyEPA.Models

@{
    ViewBag.Title = "可提供調度";
    Layout = "~/Views/_Layout.cshtml";

    string diasterName = ViewBag.DiasterName;
    int recResourceId = ViewBag.RecResourceId;
    MyEPA.Models.RecResourceModel RecResource = ViewBag.RecResource;

    //querystring
    int type = ViewBag.Type;
    int diasterId = ViewBag.DiasterId;
    List<CityModel> Citys = ViewBag.Citys;
}

<h2>可提供調度</h2>

@section styles{
    <link rel="stylesheet" href="~/Content/flatpickr.css">
    <link rel="stylesheet" href="~/Content/confirmDate.css">
}

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <div class="col-md-6 text-primary">
            災害名稱：@diasterName
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 text-primary">
            調度需求：
            @(RecResource.ContactPerson + "(" + RecResource.ContactMobilePhone + ")")
            、@RecResource.Items
            、@RecResource.Spec
            、@RecResource.Quantity
            、@RecResource.Unit
            、@Citys.Where(a => a.Id == RecResource.CityId).FirstOrDefault().City
        </div>
    </div>

    <font size="3">
        <table class="table table-bordered table-striped">
            <tr>
                <th class="text-center"></th>
                <th>縣市</th>
                <th>聯絡人</th>
                <th>項目</th>
                <th>細項(規格)</th>
                <th>數量</th>
                <th>單位</th>                
            </tr>
            @foreach (RecResourceModel Item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        <button class="btn btn-primary" style="padding:0px;" onclick="Edit(@Item.Id)">調度</button>                        
                    </td>
                    <td>                        
                        @Citys.Where(a => a.Id == Item.CityId).FirstOrDefault().City
                    </td>
                    <td>
                        @Item.ContactPerson
                        <br />
                        @Item.ContactMobilePhone
                    </td>
                    <td>@Item.Items</td>
                    <td>@Item.Spec</td>
                    <td>@Item.Quantity</td>
                    <td>@Item.Unit</td>                    
                </tr>
            }
        </table>
    </font>
</div>

@section scripts{
    <script src="~/Scripts/confirmDate.js"></script>
    <script src="~/Scripts/flatpickr.js"></script>

    <script>
        //ini
        $(document).ready(function () {
            $('#btnEdit').hide();
            $('[formact="Edit"]').hide();
            $('#btnBackAdd').hide();
        });  
    </script>
}

<script>

    function Edit(id) {
        alert('Edit');
    }

</script>