@model List<MyEPA.Models.RecResourceViewModel>
@using MyEPA.Models

@{
    ViewBag.Title = "可提供調度";
    Layout = "~/Views/_Layout.cshtml";

    string diasterName = ViewBag.DiasterName;
    int recResourceId = ViewBag.RecResourceId;
    MyEPA.Models.RecResourceModel RecResourceNeed = ViewBag.RecResourceNeed;

    //querystring
    int type = ViewBag.Type;
    int diasterId = ViewBag.DiasterId;
    List<CityModel> Citys = ViewBag.Citys;
}

<h2>可提供調度</h2>

@section styles{
    <link rel="stylesheet" href="~/Content/flatpickr.css">
    <link rel="stylesheet" href="~/Content/confirmDate.css">
}

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <div class="col-md-6 text-primary">
            災害名稱：@diasterName
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 text-primary">
            調度需求：
            @(Citys.Where(a => a.Id == RecResourceNeed.CityId).FirstOrDefault().City + "(" + @RecResourceNeed.Unit + ")")
            、@(RecResourceNeed.ContactPerson + "(" + RecResourceNeed.ContactMobilePhone + ")")
            、@RecResourceNeed.Items
            、@RecResourceNeed.Spec
            、@RecResourceNeed.Quantity
        </div>
    </div>

    <font size="3">
        <table class="table table-bordered table-striped">
            <tr>
                <th width="5%" class="text-center"></th>
                <th width="5%">調度數量</th>
                <th width="10%">縣市</th>
                <th width="15%">聯絡人</th>
                <th width="10%">項目</th>
                <th width="10%">細項(規格)</th>
                <th width="5%">數量</th>
                <th width="10%">單位</th>
            </tr>
            @foreach (RecResourceViewModel Item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        <button class="btn btn-primary" style="padding:0px;" onclick="Edit(this)">調度</button>
                        @*<a href="@Url.Action("Edit", new { type = type, diasterId = diasterId })">編輯</a>*@                            
                    </td>
                    <td>
                        @Html.Hidden("IdHelp", @Item.Id)
                        <input name="SetQuantity" type="number" value="@Item.SetQuantity">
                    </td>
                    <td>
                        @Citys.Where(a => a.Id == Item.CityId).FirstOrDefault().City
                    </td>
                    <td>
                        @Item.ContactPerson
                        <br />
                        @Item.ContactMobilePhone
                    </td>
                    <td>@Item.Items</td>
                    <td>@Item.Spec</td>
                    <td>@Item.Quantity</td>
                    <td>@Item.Unit</td>
                </tr>
            }
        </table>
    </font>
    
</div>

@section scripts{
    <script src="~/Scripts/confirmDate.js"></script>
    <script src="~/Scripts/flatpickr.js"></script>

    <script>
        function Edit(obj) {
            $tr = $(obj).closest('tr');

            var obj = {};

            obj.RecResourceIdNeed = @recResourceId;
            obj.RecResourceIdHelp = $tr.find('#IdHelp').val();
            obj.SetQuantity = $tr.find('input[name="SetQuantity"]').val();

            //修改資料
            var root = '@Url.Action("Edit")';
            $.ajax({
                url: root,
                method: 'Post',
                data: { obj: obj },
                success: function (data) {
                    if (data.IsSuccess) {
                        alert('調度成功');
                    }
                    else {
                        alert('調度失敗,' + data.ErrorMessage);
                    }
                },
                error: function (data) {
                    alert('修改失敗');
                }
            });
        }

    </script>
}