@model List<MyEPA.Models.RecResourceViewModel>
@using MyEPA.Models

@{
    ViewBag.Title = "調度審核情形";
    Layout = "~/Views/_Layout.cshtml";

    string diasterName = ViewBag.DiasterName;
    int recResourceId = ViewBag.RecResourceId;
    MyEPA.Models.RecResourceModel RecResourceNeed = ViewBag.RecResourceNeed;

    //querystring
    int type = ViewBag.Type;
    int diasterId = ViewBag.DiasterId;
    List<CityModel> Citys = ViewBag.Citys;
}

<h2>調度審核情形</h2>

@section styles{
    <link rel="stylesheet" href="~/Content/flatpickr.css">
    <link rel="stylesheet" href="~/Content/confirmDate.css">
}

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <div class="col-md-6 text-primary">
            災害名稱：@diasterName
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 text-primary">
            調度需求：
            @(Citys.Where(a => a.Id == RecResourceNeed.CityId).FirstOrDefault().City + "(" + @RecResourceNeed.Unit + ")")
            、@(RecResourceNeed.ContactPerson + "(" + RecResourceNeed.ContactMobilePhone + ")")
            、@RecResourceNeed.Items
            、@RecResourceNeed.Spec
            、@RecResourceNeed.Quantity

            @if (RecResourceNeed.Status == 2)
            {
                <span style="color:red">&nbsp;&nbsp;已結案</span>
            }
        </div>
    </div>

    @if (RecResourceNeed.Status != 2)
    {
        <input type="submit" value="儲存" class="btn btn-danger align-center" onclick="Save()" />
    }

    <a href="@Url.Action("Index", "RecResource")?type=@type&diasterId=@diasterId">
        <div class="btn align-center">返回</div>
    </a>
    <hr />

    <font size="3">
        <table id="_table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="8" class="text-center">可提供資源</th>
                </tr>
            </thead>
            <tr>
                <th width="5%">序號</th>
                <th width="5%">調度數量</th>
                <th width="10%">縣市</th>
                <th width="15%">聯絡人</th>
                <th width="10%">項目</th>
                <th width="10%">細項(規格)</th>
                <th width="5%">數量</th>
                <th width="15%">提供時間</th>
            </tr>
            @foreach (RecResourceViewModel Item in Model)
            {
                <tr>
                    <td name="Serial">@( ((Int32) 1) + @Model.IndexOf(Item) )</td>
                    @*
                        <td style="text-align:center">
                            <button class="btn btn-primary" style="padding:0px;" onclick="Edit(this)">儲存</button>
                            <a href="@Url.Action("Edit", new { type = type, diasterId = diasterId })">編輯</a>
                        </td>
                    *@
                    <td>
                        @Html.Hidden("IdHelp", @Item.Id)
                        <input name="SetQuantity" type="number" value="@Item.SetQuantity" @(RecResourceNeed.Status == 2 ? "disabled": "") >
                    </td>
                    <td>
                        @Citys.Where(a => a.Id == Item.CityId).FirstOrDefault().City
                    </td>
                    <td>
                        @Item.ContactPerson
                        <br />
                        @Item.ContactMobilePhone
                    </td>
                    <td>@Item.Items</td>
                    <td>@Item.Spec</td>
                    <td name="Quantity">@Item.Quantity</td>
                    <td>@(DateFormat.ToDate4(Item.USDate) + " ~ " + DateFormat.ToDate4(Item.UEDate))</td>
                </tr>
            }
        </table>
    </font>

</div>

@section scripts{
    <script src="~/Scripts/confirmDate.js"></script>
    <script src="~/Scripts/flatpickr.js"></script>

    <script>

        var IdNeed = @recResourceId;

        function Edit(obj) {
            $tr = $(obj).closest('tr');

            var obj = {};

            obj.RecResourceIdNeed = IdNeed;
            obj.RecResourceIdHelp = $tr.find('#IdHelp').val();
            obj.SetQuantity = $tr.find('input[name="SetQuantity"]').val();

            //修改資料
            var root = '@Url.Action("Edit")';
            $.ajax({
                url: root,
                method: 'Post',
                data: { obj: obj },
                success: function (data) {
                    if (data.IsSuccess) {
                        alert('調度儲存成功');
                    }
                    else {
                        alert('調度儲存失敗,' + data.ErrorMessage);
                    }
                },
                error: function (data) {
                    alert('修改失敗');
                }
            });
        }

        function Save() {

            if (!ToValidate()) {
                return;
            }

            var objs = [];
            $.each($('#_table tbody tr'), function (index, value) {
                var $tr = $(this);

                if ($tr.find('td').length > 0) {
                    var obj = {};

                    obj.RecResourceIdNeed = IdNeed;
                    obj.RecResourceIdHelp = $tr.find('#IdHelp').val();
                    obj.SetQuantity = $tr.find('input[name="SetQuantity"]').val();

                    objs.push(obj)
                }
            });

            //修改資料
            var root = '@Url.Action("Save")';
            $.ajax({
                url: root,
                method: 'Post',
                data: { objs: objs },
                success: function (data) {
                    if (data.IsSuccess) {
                        alert('儲存成功');
                    }
                    else {
                        alert('儲存失敗,' + data.ErrorMessage);
                    }
                },
                error: function (data) {
                    alert('修改失敗');
                }
            });

        }

        function ToValidate()
        {
            var errors = [];

            $.each($('#_table tbody tr'), function (index, value) {
                var $tr = $(this);

                if ($tr.find('td').length > 0) {
                    var obj = {};

                    serial = $tr.find('td[name="Serial"]').text();                    
                    setQuantity = parseInt($tr.find('input[name="SetQuantity"]').val());                    
                    quantity = parseInt($tr.find('td[name="Quantity"]').text());

                    if (setQuantity > quantity) {
                        var error = '第' + serial + '筆，調度數量(' + setQuantity + ')已超過可提供數量(' + quantity + ')';
                        errors.push(error);
                    }
                }
            });

            if (errors.length > 0) {
                alert(errors.join('\n'));
                return false;
            }

            return true;
        }

    </script>
}