@model IEnumerable<MyEPA.Models.VehicleCountModel>
@using MyEPA.Models;
@using MyEPA.Extensions;
@{
    ViewBag.Title = "環境清潔車輛統計";
    Layout = "~/Views/_Layout.cshtml";

    List<string> cars = ViewBag.Cars;
    List<CityModel> citys = ViewBag.Citys;
    MultiKeyDictionary<string, string, int> result =
        Model.ToMultiKeyDictionary(e => e.CityName, e => e.VehicleName, e => e.Count);

    //跨縣市調度
    List<VehicleCountModel> SupportCitys = ViewBag.SupportCitys as List<VehicleCountModel>;
    MultiKeyDictionary<string, string, int> supResult =
        SupportCitys.ToMultiKeyDictionary(e => e.CityName, e => e.VehicleName, e => e.Count);
}

@section styles{
    <link href="~/tablesorter/jq.css" rel="stylesheet" />
    <link href="~/tablesorter/prettify.css" rel="stylesheet" />
    <link href="~/tablesorter/theme.blue.css" rel="stylesheet" />
    <link href="~/tablesorter/engineV3.css" rel="stylesheet" />
}
<p>
    <a href="#" onclick="history.go(-1)" class="btn btn-success">返回上一頁</a>
</p>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="container-fluid">
                    <h3>@ViewBag.Title</h3>
                    <div class="col-xs-12">
                        <p align="right">
                            <img width="30" height="30" src="~/Content/assets/css/images/icon_pdf.png" alt="PDF">
                            <a href="@Url.Action("DownCarsCountReport", new {file="PDF" })">PDF匯出</a>│
                            <img width="30" height="30" src="../../images/icon_odf.png" alt="ODF">
                            <a href="@Url.Action("DownCarsCountReport", new {file="ODF"  })">ODF下載</a>
                        </p>
                    </div>
                    <hr />
                    <br />
                    <h3 class="center">車輛設備全國統計表</h3>
                    <br />
                    <table class="table1">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    縣市名稱
                                </th>
                                @foreach (var car in cars)
                                {
                                    <th>
                                        @car
                                    </th>
                                }
                                <th>
                                    合計
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2">總計</td>
                                @foreach (var car in cars)
                                {
                                    <td>
                                        @Model.Where(e => e.VehicleName == car).Sum(e => e.Count)
                                    </td>
                                }
                                <td>
                                    @Model.Sum(e => e.Count)
                                </td>
                            </tr>
                        </thead>
                        @foreach (var city in citys)
                        {
                            Dictionary<string, int> cityCount = result.GetValue(city.City);
                            <tr>
                                <td>
                                    @city.Sort
                                </td>
                                <td>
                                    <a href="@Url.Action("Search", "Vehicle", new { CityIds = city.Id })">@city.City</a>
                                </td>
                                @foreach (var car in cars)
                                {
                                    <td>
                                        @cityCount.GetValue(car)
                                    </td>
                                }
                                <td>
                                    @if (cityCount == null)
                                    {
                                        @:0
                                    }
                                    else
                                    {
                                        @cityCount.Values.Sum()
                                    }

                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    
    @*跨縣市調度*@
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="container-fluid">
                    <h3 class="center">車輛跨縣市調度統計表</h3>
                    <br />
                    <table class="table1">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    縣市名稱
                                </th>
                                @foreach (var car in cars)
                                {
                                    <th>
                                        @car
                                    </th>
                                }
                                <th>
                                    合計
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2">總計</td>
                                @foreach (var car in cars)
                                {
                                    <td>
                                        @SupportCitys.Where(e => e.VehicleName == car).Sum(e => e.Count)
                                    </td>
                                }
                                <td>
                                    @SupportCitys.Sum(e => e.Count)
                                </td>
                            </tr>
                        </thead>
                        @foreach (var city in citys)
                        {
                            Dictionary<string, int> cityCount = supResult.GetValue(city.City);
                            <tr>
                                <td>
                                    @city.Sort
                                </td>
                                <td>
                                    @*<a href="@Url.Action("Search", "Vehicle", new { CityIds = city.Id })">@city.City</a>*@
                                    @city.City
                                </td>
                                @foreach (var car in cars)
                                {
                                    <td>
                                        @cityCount.GetValue(car)
                                    </td>
                                }
                                <td>
                                    @if (cityCount == null)
                                    {
                                        @:0
                                    }
                                    else
                                    {
                                        @cityCount.Values.Sum()
                                    }

                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>


                @section scripts{
                    <script src="~/tablesorter/jquery-latest.min.js"></script>
                    <script src="~/tablesorter/prettify.js"></script>
                    <script src="~/tablesorter/docs.js"></script>
                    <script src="~/tablesorter/jquery.tablesorter.js"></script>
                    <script>
                        $(function () {

                            // initial sort set using sortList option
                            $(".table1").tablesorter({
                                theme: 'blue',
                                // sort on the first column and second column in ascending order
                                sortList: [[0, 0], [1, 0]]
                            });

                        });
                    </script>
                }
