
@{
    Layout = "~/Views/_Layout.cshtml";
}

<h4>請求支援確認</h4>
<div id="DataArea">
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" style="padding:2px" type="button" id="dropdownMenu1" data-toggle="dropdown">
            請先選擇災害名稱
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            @foreach (var Item in ViewBag.Data)
            {
                <li>
                    <button class="btn btn-basic" style="padding:0px;margin:5px" onclick="PickItemForEdit('@Item.Id','@Item.DiasterName','@Item.DiasterType','@Item.StartTime','@Item.EndTime','@Item.Comment','@Item.DiasterState')">@Item.DiasterName</button>
                </li>
            }
        </ul>
    </div>
</div><br />

<div id="ReportArea" style="display:none">

    @using (Html.BeginForm("LoadTable", "EPAxApply"))
    {
        <span>災害編號：</span> @Html.TextBox("DiasterId", "", new { @readonly = "readonly", @style = "border:none" })
        <br />
        <span>災害名稱：</span> @Html.TextBox("DiasterName", "", new { @readonly = "readonly", @style = "border:none" })
        <br />
        <input type="submit" class="btn btn-success" style="margin:10px;padding:0px" value="顯示內容" />
    }

</div>

<script>
    function PickItemForEdit(DiasterId, DiasterName, DiasterType, StartTime, EndTime, Comment, DiasterState) {
        $("#ReportArea").show();
        $("#DiasterId").val(DiasterId);
        $("#DiasterName").val(DiasterName);
    }
</script>