@{
    Layout = "~/Views/_Layout.cshtml";
}

<font size="2">
    <table class="table table-bordered table-striped">
        <tr>
            <th>縣市</th>
            <th>一、清潔隊員、環境整頓動員完成待命準備1</th>
            <th>二、環境消毒藥劑完成準備</th>
            <th>三、飲用水抽驗完成準備</th>
            <th>四、成立緊急應變小組 </th>
            <th>五、派員進駐轄區防救中心</th>
            <th>六、垃圾場完成安全防護整備</th>
            <th>本次修改理由</th>
            <th>通報時間</th>
            <th>更新時間</th>
            <th>確認時間</th>
        </tr>
        @foreach (var Item in ViewBag.Data)
        {
        <tr>

            <td>@Item.City</td>
            <td>
                @Item.Ans1<br />
                <span>說明：</span>@Item.Note1
            </td>
            <td>
                @Item.Ans2<br />
                <span>說明：</span>@Item.Note2
            </td>
            <td>
                @Item.Ans3<br />
                <span>說明：</span>@Item.Note3
            </td>
            <td>
                @Item.Ans4<br />
                <span>說明：</span>@Item.Note4
            </td>
            <td>
                @Item.Ans5<br />
                <span>說明：</span>@Item.Note5
            </td>
            <td>
                @Item.Ans6<br />
                <span>說明：</span>@Item.Note6
            </td>
            <td>
                @Item.Note
            </td>
            <td>
                @Item.ReportTime
            </td>
            <td>
                @Item.UpdateTime
            </td>
            <td>
                @Item.ConfirmTime
            </td>
        </tr>
        }
    </table>
    <br /><br />
</font>

