
@{
    Layout = "~/Views/_Layout.cshtml";
     ViewBag.Title = "聯絡人資料查詢";
}
@{Html.RenderPartial("~/Views/Components/JSforA8x2.cshtml");}
<div class="text-center">
    <br />
    <h3>@ViewBag.Title</h3>
    <br />
</div>

<font size="3">
    @using (Html.BeginForm("Search", "EPAxUser"))
    {
    <div class="text-center text-primary">
        <span style="color:red">請先選擇機關類別(角色)：</span>
        @Html.DropDownList("SearchDuty", new List<SelectListItem>
                    {
                       new SelectListItem{Text = "不限", Value = "ALL"},
                    new SelectListItem{Text = "環境部(中央機關)", Value = "環境部"},
                    new SelectListItem{Text = "環保局(地方機關)",Value = "環保局"},
                     new SelectListItem{Text = "清潔隊(地方機關)", Value = "清潔隊"},
                    new SelectListItem{Text = "自來水公司",Value = "自來水公司"},

                    }, new { onclick = "DutyChanged()" })
        <br />
        <span>機關名稱(縣市)：</span>
        @Html.DropDownList("SearchCity", new List<SelectListItem>
     {
           new SelectListItem{Text = "請選擇",Value = "未填",Selected=true}
     }, new { onclick = "CityChanged()" })
        <br />

        <span>單位名稱(鄉鎮市區)：</span> @Html.DropDownList("SearchTown", new List<SelectListItem>
{
new SelectListItem{Text = "不限",Value = "ALL",Selected=true},
})
        <br />

        <span>人員類別：</span> @Html.DropDownList("SearchHumanType", new List<SelectListItem>
{
new SelectListItem{Text = "不限",Value = "ALL",Selected=true},
new SelectListItem{Text = "災情通報人員",Value = "災情通報人員"},
new SelectListItem{Text = "飲用水緊急應變小組連絡人員",Value = "飲用水緊急應變小組連絡人員"},
new SelectListItem{Text = "災害防救緊急應變連絡人員",Value = "災害防救緊急應變連絡人員"},
new SelectListItem{Text = "中央專責及進駐人員",Value = "中央專責及進駐人員"},
new SelectListItem{Text = "署內進駐人員",Value = "署內進駐人員"},
new SelectListItem{Text = "車輛機具連絡人員",Value = "車輛機具連絡人員"}
})
        <br />
        <span>
            是否為該單位主要聯絡人：
        </span>
        @Html.DropDownList("SearchMainContacter", new List<SelectListItem>
{
new SelectListItem{Text = "不限",Value = "ALL",Selected=true},
new SelectListItem{Text = "是",Value = "是"},
new SelectListItem{Text = "否",Value = "否"}
 })
        <br />
        <span>
            是否為環境部聯絡人：
        </span>
        @Html.DropDownList("SearchISEnvironmentalProtectionAdministration", new List<SelectListItem>
{
new SelectListItem{Text = "不限",Value = "ALL",Selected=true},
new SelectListItem{Text = "是",Value = "是"},
new SelectListItem{Text = "否",Value = "否"}
 })
        <br />

        <span>
            是否為環保局聯絡人：
        </span>
        @Html.DropDownList("SearchISEnvironmentalProtectionDepartment", new List<SelectListItem>
{
new SelectListItem{Text = "不限",Value = "ALL",Selected=true},
new SelectListItem{Text = "是",Value = "是"},
new SelectListItem{Text = "否",Value = "否"}
 })
        <br />


        <span>
            是否為通聯手冊聯絡人：
        </span>
        @Html.DropDownList("SearchISBook", new List<SelectListItem>
{
new SelectListItem{Text = "不限",Value = "ALL",Selected=true},
new SelectListItem{Text = "是",Value = "是"},
new SelectListItem{Text = "否",Value = "否"}
 })
        <br />

        <input type="submit" class="btn btn-info" value="查詢" />
    </div>
      
    }
</font>
<br/><br/>
 @{Html.RenderPartial("~/Views/Components/ShowUserForSearch.cshtml");}

