@using MyEPA.Models
@model Registers
@{
    Layout = "~/Views/_Layout.cshtml";
    var positions = (List<PositionModel>)ViewBag.Positions;
}
@{Html.RenderPartial("~/Views/Components/JSforRegister.cshtml");}

@using (Html.BeginForm("InputRegister", "EPAxUser"))
{
    <table class="table table-bordered table-striped " style="border: 1px solid gray;">
        <tr>
            <th colspan="2" style="text-align:center;font-size:large" class="text-danger">線上註冊</th>
        </tr>
        <tr>
            <td colspan="2" align="center" bgcolor="#fffcec">
                基本資料
            </td>
        </tr>

        <tr>
            <td style="text-align:center">姓名</td>
            <td>
                @Html.TextBoxFor(m => m.Name, "", new { style = "border-style:groove;width:200px;", @required = "required" })
                @Html.ValidationMessageFor(m => m.Name)
            </td>
        </tr>

        <tr>
            <td style="text-align:center">帳號</td>
            <td>
                @Html.TextBoxFor(m => m.Id, "", new { style = "border-style:groove;width:200px;", @required = "required" })
                @Html.ValidationMessageFor(m => m.Id)
            </td>
        </tr>

        <tr>
            <td style="text-align:center">密碼</td>
            <td>
                @Html.TextBoxFor(m => m.Pwd, "", new { style = "border-style:groove;width:200px;", @required = "required", @minlength = "12" })
                @Html.ValidationMessageFor(m => m.Pwd)
            </td>
        </tr>
        <tr>
            <td style="text-align:center;color:red">機關類別(角色)</td>
            <td>
                @Html.DropDownList("Duty", new List<SelectListItem>
            {
            new SelectListItem{Text = "請選擇",Value = "",Selected=true},
            new SelectListItem{Text = "環保署(中央機關)", Value = "環保署"},
            new SelectListItem{Text = "環保局(地方機關)",Value = "環保局"},
            new SelectListItem{Text = "自來水公司",Value = "自來水公司"},
            new SelectListItem{Text = "清潔隊(地方機關)", Value = "清潔隊"},
            }, new { onclick = "DutyChanged()", @required = "required" })
                <small style="color:red">請先選此項目</small>
            </td>
        </tr>

        <tr>
            <td style="text-align:center">機關名稱(縣市)</td>
            <td>
                @Html.DropDownList("City", new List<SelectListItem>
             {
                   new SelectListItem{Text = "請選擇",Value = "",Selected=true}
             }, new { @disabled = "disabled", onclick = "CityChanged()", @required = "required" })
            </td>
        </tr>

        <tr>
            <td style="text-align:center">單位(鄉鎮區)名稱</td>
            <td>
                @Html.DropDownList("Town", new List<SelectListItem>
             {
                 new SelectListItem{Text = "請選擇", Value = "",Selected=true}
             }, new { @disabled = "disabled", @required = "required" })
            </td>
        </tr>
        <tr>
            <td style="text-align:center">人員類別</td>
            <td>
                <input type="checkbox" name="HumanType" id="HumanType[0]" value="災情通報人員" /><label for="HumanType[0]">災情通報人員</label>
                <input type="checkbox" name="HumanType" id="HumanType[1]" value="飲用水緊急應變小組連絡人員" /><label for="HumanType[1]">飲用水緊急應變小組連絡人員</label>
                <input type="checkbox" name="HumanType" id="HumanType[2]" value="災害防救緊急應變連絡人員" /><label for="HumanType[2]">災害防救緊急應變連絡人員</label>
                <input type="checkbox" name="HumanType" id="HumanType[3]" value="中央專責及進駐人員" /><label for="HumanType[3]">中央專責及進駐人員</label>
                <input type="checkbox" name="HumanType" id="HumanType[4]" value="署內進駐人員" /><label for="HumanType[4]">署內進駐人員</label>
                <input type="checkbox" name="HumanType" id="HumanType[5]" value="車輛機具連絡人員" /><label for="HumanType[5]">車輛機具連絡人員</label>
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><b style="color:red">(必填)</b>職稱</td>
            <td>
                @Html.DropDownList("PositionId", positions.Select(e => new SelectListItem
           {
               Text = e.Name,
               Value = e.Id.ToString()
           }).ToList(),new {  @required = "required" })
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" bgcolor="#fffcec">
                聯絡資料
            </td>
        </tr>
        <tr>
            <td style="text-align:center">行動電話  EX.0912-345678</td>
            <td>
                @Html.TextBoxFor(m => m.MobilePhone, "", new { style = "border-style:groove;margin-top:10px;border-width:2px;width:200px;", @pattern = RegexUtility.Mobile })
                @Html.ValidationMessageFor(m => m.MobilePhone)

            </td>
        </tr>
        <tr>
            <td style="text-align:center">辦公室電話 EX.012-34567890#12345</td>
            <td>
                @Html.TextBoxFor(m => m.OfficePhone, "", new { style = "border-style:groove;margin-top:10px;border-width:2px;width:200px;", @pattern = RegexUtility.TEL })
                @Html.ValidationMessageFor(m => m.OfficePhone)
            </td>
        </tr>
        <tr>
            <td style="text-align:center">Email</td>
            <td>
                @Html.TextBoxFor(m => m.Email, "", new { style = "border-style:groove;margin-top:10px;border-width:2px;width:200px;", @pattern = RegexUtility.Email })
                @Html.ValidationMessageFor(m => m.Email)
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" bgcolor="#fffcec">
                權級資料
            </td>
        </tr>

        <tr>
            <td style="text-align:center">是否為該單位主要聯絡</td>
            <td>
                @Html.DropDownList("MainContacter", new List<SelectListItem>
        {
        new SelectListItem{Text = "請選擇",Value = "",Selected=true},
        new SelectListItem{Text = "是",Value = "是"},
        new SelectListItem{Text = "否",Value = "否"}
        })
            </td>
        </tr>

        <tr>
            <td style="text-align:center">通報優先順序</td>
            <td>
                @Html.DropDownList("ReportPriority", new List<SelectListItem>
    {
    new SelectListItem{Text = "1", Value = "1",Selected=true},
    new SelectListItem{Text = "2",Value = "2"},
    new SelectListItem{Text = "3",Value = "3"},
    new SelectListItem{Text = "4",Value = "4"},
    new SelectListItem{Text = "5",Value = "5"},
    new SelectListItem{Text = "6",Value = "6"},
    new SelectListItem{Text = "7",Value = "7"},
    new SelectListItem{Text = "8",Value = "8"},
    new SelectListItem{Text = "9",Value = "9"},
    new SelectListItem{Text = "10",Value = "10"}
    })
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" class="btn btn-danger" style="margin:10px" value="確認儲存" />
            </td>
        </tr>

    </table>

}



