@{
    Layout = "~/Views/_Layout.cshtml";
}
@Html.ActionLink("返回", "A9x2", "EPAxDiaster", "", new { @class = "btn btn-basic fa fa-arrow-circle-left", @style = "color:white;padding:4px" })
<br />
<div class="text-left">
    <br />
    <h5>災害預警涵蓋縣市設定(請勾選)</h5>
    <br />
</div>

<div id="SetArea" class="text-left" style="padding:0px;font-size:x-large">
    @using (Html.BeginForm("A9x2SetCoverCity", "EPAxDiaster"))
    {
        <span>災害名稱: </span>@Html.TextBox("DiasterName", (string)ViewBag.DiasterName, new { @readonly = "readonly", @style = "width:300px" })
        <br />
        <span style="color:blue">基隆市</span>
        @Html.CheckBox("City001", (bool)ViewBag.CityCover[1])

        <span style="color:blue">臺北市</span>
        @Html.CheckBox("City002", (bool)ViewBag.CityCover[2])

        <span style="color:blue">新北市</span>
        @Html.CheckBox("City003", (bool)ViewBag.CityCover[3])

        <span style="color:blue">桃園市</span>
        @Html.CheckBox("City004", (bool)ViewBag.CityCover[4])

        <br />
        <span style="color:blue">新竹縣</span>
        @Html.CheckBox("City005", (bool)ViewBag.CityCover[5])

        <span style="color:blue">新竹市</span>
        @Html.CheckBox("City006", (bool)ViewBag.CityCover[6])

        <span style="color:blue">苗栗縣</span>
        @Html.CheckBox("City007", (bool)ViewBag.CityCover[7])

        <span style="color:blue">臺中市</span>
        @Html.CheckBox("City008", (bool)ViewBag.CityCover[8])

        <br />
        <span style="color:blue">南投縣</span>
        @Html.CheckBox("City009", (bool)ViewBag.CityCover[9])

        <span style="color:blue">彰化縣</span>
        @Html.CheckBox("City010", (bool)ViewBag.CityCover[10])

        <span style="color:blue">雲林縣</span>
        @Html.CheckBox("City011", (bool)ViewBag.CityCover[11])

        <span style="color:blue">嘉義縣</span>
        @Html.CheckBox("City012", (bool)ViewBag.CityCover[12])

        <br />
        <span style="color:blue">嘉義市</span>
        @Html.CheckBox("City013", (bool)ViewBag.CityCover[13])

        <span style="color:blue">臺南市</span>
        @Html.CheckBox("City014", (bool)ViewBag.CityCover[14])

        <span style="color:blue">高雄市</span>
        @Html.CheckBox("City015", (bool)ViewBag.CityCover[15])

        <span style="color:blue">屏東縣</span>
        @Html.CheckBox("City016", (bool)ViewBag.CityCover[16])

        <br />
        <span style="color:blue">臺東縣</span>
        @Html.CheckBox("City017", (bool)ViewBag.CityCover[17])

        <span style="color:blue">花蓮縣</span>
        @Html.CheckBox("City018", (bool)ViewBag.CityCover[18])

        <span style="color:blue">宜蘭縣</span>
        @Html.CheckBox("City019", (bool)ViewBag.CityCover[19])

        <span style="color:blue">澎湖縣</span>
        @Html.CheckBox("City020", (bool)ViewBag.CityCover[20])

        <br />
        <span style="color:blue">金門縣</span>
        @Html.CheckBox("City021", (bool)ViewBag.CityCover[21])

        <span style="color:blue">連江縣</span>
        @Html.CheckBox("City022", (bool)ViewBag.CityCover[22])
        <br />
        <input type="submit" class="btn btn-danger" value="儲存設定" />
    }
</div>


