
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "簡訊及Email發送";
}
@{Html.RenderPartial("~/Views/Components/JSforA8x2.cshtml");}

<div class="text-center">
    <br />
    <h3>@ViewBag.Title</h3>
    <br />
</div>
<font size="2">
    @using (Html.BeginForm("Search", "EPAxText"))
    {
    <div class="text-center">
        <h5>聯絡人資料</h5>

        <span style="color:red">機關類別(角色)：</span>
        @Html.DropDownList("SearchDuty", new List<SelectListItem>
   {
                    new SelectListItem{Text = "請選擇",Value = "未填",Selected=true},
                       new SelectListItem{Text = "不限", Value = "ALL"},
                    new SelectListItem{Text = "環境部(中央機關)", Value = "環境部"},
                    new SelectListItem{Text = "環保局(地方機關)",Value = "環保局"},
                    new SelectListItem{Text = "自來水公司",Value = "自來水公司"},
                    new SelectListItem{Text = "清潔隊(地方機關)", Value = "清潔隊"},
                    }, new { onclick = "DutyChanged()"})
        <span style="font:small;color:red">先選此項目</span>
        <br />
        <span>機關名稱(縣市)：</span> @Html.DropDownList("SearchCity", new List<SelectListItem>
{
new SelectListItem{Text = "請選擇",Value = "未填",Selected=true}
}, new { onclick = "CityChanged()" })
        <br />
        <span>單位名稱(鄉鎮市區)：</span> @Html.DropDownList("SearchTown", new List<SelectListItem>
{
new SelectListItem{Text = "請選擇",Value = "未填",Selected=true}
})
        <br />
        <span>人員類別:</span>@Html.DropDownList("SearchHumanType", new List<SelectListItem>
{
new SelectListItem{Text = "不限",Value = "ALL",Selected=true},
new SelectListItem{Text = "災情通報人員",Value = "災情通報人員"},
new SelectListItem{Text = "飲用水緊急應變小組連絡人員",Value = "飲用水緊急應變小組連絡人員"},
new SelectListItem{Text = "災害防救緊急應變連絡人員",Value = "災害防救緊急應變連絡人員"},
new SelectListItem{Text = "中央專責及進駐人員",Value = "中央專責及進駐人員"},
new SelectListItem{Text = "署內進駐人員",Value = "署內進駐人員"},
new SelectListItem{Text = "車輛機具連絡人員",Value = "車輛機具連絡人員"}
}, new { })
        <br />
        <span>是否為該單位主要聯絡人：</span>
        @Html.DropDownList("SearchMainContacter", new List<SelectListItem>
{
new SelectListItem{Text = "不限",Value = "ALL",Selected=true},
new SelectListItem{Text = "是",Value = "是"},
new SelectListItem{Text = "否",Value = "否"}
     }, new {})
        <br/>
        <input type="submit" class="btn btn-info" style="margin:6px;padding-top:0px;padding-bottom:0px" value="搜尋" />

    </div>
    }
</font>
<br/> 
<br/>

<font size="2">
    <div id="TextArea" style="background-color:lightblue">
        @using (Html.BeginForm("Send", "EPAxText"))
        {
            <table class="table">
                <tr>
                    <td style="width:20%">標題</td>
                    <td>@Html.TextBox("Topic", "", new { @Style = "width:100%;height:30px" })</td>
                </tr>
                <tr>
                    <td style="width:20%">收訊電話號碼</td>
                    <td>@Html.TextArea("PhoneNumber", "", new { @Style = "width:100%;height:60px" })</td>
                </tr>
                <tr>
                    <td style="width:20%">內容</td>
                    <td>
                        @Html.TextArea("Content", "", new { @Style = "width:100%;height:60px" })
                        <br />
                        <input type="submit" class="btn  btn-primary" style="margin:10px" value="發送簡訊" />
                    </td>
                </tr>
            </table>
        }
    </div>

</font>
<br/>

@{Html.RenderPartial("~/Views/Components/ShowUserForText.cshtml");}




