@{
    Layout = "~/Views/_Layout.cshtml";
}
@using MyEPA.Models
@model NewsModel
<br />
@Html.ActionLink("公告事項", "A9x7Notice", "EPAxPost", null, new { @class = "btn btn-large" })
@Html.ActionLink("新聞消息", "A9x7News", "EPAxPost", null, new { @class = "btn btn-primary btn-large" })
<br /><br />
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#ShowNews">顯示新聞</a>

    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#AddNews">新增新聞</a>

    </li>
    <li class="nav-item">
        @Html.ActionLink("刪除新聞", "PickNewsToRemove", "EPAxPost", "", new { @class = "nav-link" })
    </li>

</ul>

<div class="tab-content">
    <div id="ShowNews" class="tab-pane fade in show active">

        @{Html.RenderPartial("~/Views/Components/ShowPost.cshtml");}
    </div>

    <div id="AddNews" class="tab-pane">
        @using (Html.BeginForm("StoreNews", "EPAxPost"))
        {
            <div style="background-color:lightyellow;width:50%;margin:10px">
                <label>標題:&nbsp</label>
                @Html.TextBox("Topic", "", new { @class = "input100" })
                <br />
                <label>內容:&nbsp</label>
                @Html.TextBox("Content", "", new { @class = "input100" })
            </div>
            <input type="submit" class="btn btn-info" style="margin:10px" value="確定發布" />
        }
    </div>

</div>

