@model IEnumerable<MyEPA.Models.PestModel>

@{
    ViewBag.Title = "病媒防治業-查詢";
    Layout = "~/Views/_Layout.cshtml";
}
    <p>
        @Html.ActionLink("回資源通報首頁", "Index", "ResourcesReport", new { }, new { @class = "btn btn-success" })
    </p>
<table class="table">
    <tr>
        <th colspan="7" style="text-align:center;color:red;" >病媒防治業</th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.License)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.License)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTime)
        </td>
    </tr>
}

</table>
