@model MyEPA.ViewModels.HomeIndexViewModel
@using MyEPA.Enums

@{
    ViewBag.Title = "首頁";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <h5> @Model.UserBrief.UserName (@Model.UserBrief.Duty.GetDescription()) 您好, 目前災害名稱： @Model.RunningDiasterNames </h5>
            <div id="Tabs2">
                <ul><li><a href="#tabs-1">通報資源</a></li><li><a href="#tabs-2">氣象資源</a></li><li><a href="#tabs-3">公告 / 新聞</a></li></ul>
                <div id="tabs-1">
                    <div class="container-fluid pc" align="center">
                        <img width="100%" src="../images/banner_car.jpg" alt="AD banner">
                    </div>
                    <hr class="pc">
                    <div id="accordion" class="accordion-style1 panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                                        <h5 style="display: inline-block;">
                                            <i class="bigger-110 ace-icon fa fa-angle-down" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            &nbsp;第一步：資源通報&nbsp;&nbsp;
                                        </h5>
                                        <p style="font-weight: bold; color: black;font-size: 24px;  display: inline-block; ">
                                           (每月確認資源)
                                        </p>
                                        <br />
                                        <small>平時是建置資源資訊的最佳時機</small>
                                    </a>
                                </h4>
                            </div>
                            @{
                                Html.RenderAction("C3x1", "Cleaner", new { });
                            }
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" @(((bool)ViewBag.IsDiasterRuning) ? "style=background-color:pink" : string.Empty)>
                                        <h5 style="display: inline-block;">
                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            &nbsp;第二步：整備通報&nbsp;&nbsp;
                                        </h5>
                                        <p style="font-weight: bold; color: red; font-size: 24px; display: inline-block; ">
                                            (環境部通知後務必完成)
                                        </p>
                                        <br />
                                        <small>平時是建置資源資訊的最佳時機</small><small>整備通報是災害主題建置後的第一步</small>
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapseTwo" aria-expanded="false">
                                <div class="panel-body">
                                    @Html.ActionLink("整備通報", "Index", "Defend", null, new { @class = "btn btn-primary btn-large" })
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">
                                        <h5 style="display: inline-block;">
                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            &nbsp;第三步：災情及環境清理通報&nbsp;&nbsp;
                                        </h5>
                                        <p style="font-weight: bold; color: red;font-size: 24px;  display: inline-block; ">
                                            (確認完成通報後，務必點結案)
                                        </p>
                                        <br />
                                        <small>平時是建置資源資訊的最佳時機</small><small>災情的現況照片及空間資料也很重要</small>
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapseThree" aria-expanded="false">
                                <div class="panel-body">
                                    @Html.ActionLink("災情通報", "B1c", "EPBxDamage", null, new { @class = "btn btn-primary btn-large" })
                                    @Html.ActionLink("災情通報確認", "B1c18", "EPBxDamage", null, new { @class = "btn btn-primary btn-large" })
                                    @Html.ActionLink("環境清理", "B1cc", "EPBxDamage", null, new { @class = "btn btn-primary btn-large" })
                                    @Html.ActionLink("環境清理確認", "B1cc18", "EPBxDamage", null, new { @class = "btn btn-primary btn-large" })
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                    <a class="accordion-toggle" href="@Url.Content("~/RecResource")">
                                        <h5 style="display: inline-block;">
                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            &nbsp;第四步：請求支援&nbsp;&nbsp;
                                        </h5>                                                                                
                                    </a>

                                    @*<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false">
                                        <h5 style="display: inline-block;">
                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            &nbsp;第四步：請求支援&nbsp;&nbsp;
                                        </h5>
                                        <br />
                                        <small>平時是建置資源資訊的最佳時機</small><small>你隨時可提出人力、消毒藥劑等支援請求</small>
                                    </a>*@
                                </h4>
                            </div>
                            <!--第四步:請求支援(collapse)-->
                            <div class="panel-collapse collapse" id="collapseFour" aria-expanded="false">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr align="center" bgcolor="#FAFAFA">
                                                <td colspan="2">請求支援通報</td>
                                            </tr>
                                            <tr>
                                                <td>鄉鎮市名稱：</td>
                                                <td>
                                                    <form>
                                                        <select id="city" name="city">
                                                            <option value="@Model.UserBrief.CityId">@Model.UserBrief.City</option>

                                                        </select>
                                                        <select id="town" name="town">
                                                        </select>
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>災害名稱：</td>
                                                <td>
                                                    <form>
                                                        <select id="disaster" name="disaster">
                                                            <option value="0">請選擇</option>
                                                            @foreach (var diaster in Model.Diasters)
                                                            {
                                                                <option value="@diaster.Id" selected="@diaster.Status.Equals(NormalActiveStatusEnum.Active.ToInteger())"> @diaster.DiasterName</option>
                                                            }
                                                        </select>
                                                    </form>
                                                </td>
                                            </tr>
                                            @*
                                                <tr>
                                                    <td>災區狀況說明：</td>
                                                    <td><textarea class="col-lg-10">&nbsp;</textarea></td>
                                                </tr>*@
                                        </tbody>
                                    </table>

                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr align="center">
                                                <td bgcolor="#FAFAFA">請求支援項目</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-4 pad-1" style="">
                                                                <a onclick="Redirect('Index','ApplyPeople')">
                                                                    <button class="btn btn-primary">
                                                                        <h5><i class="ace-icon fa fa-users"></i>&nbsp;人力資源<br></h5>
                                                                        <small id="ApplyPeopleMsg">載入中....<br>未核定</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplyMedicine')">
                                                                    <button class="btn btn-primary">
                                                                        <h5><i class="ace-icon fa fa-flask"></i>&nbsp;環境消毒藥劑<br></h5>
                                                                        <small id="ApplyMedicineMsg">載入中....<br>未核定</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplySubsidy')">
                                                                    <button class="btn btn-primary">
                                                                        <h5><i class="ace-icon fa fa-paint-brush"></i>&nbsp;請求補助款<br></h5>
                                                                        <small id="ApplySubsidyMsg">載入中....</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplyOther')">
                                                                    <button class="btn btn-primary">
                                                                        <h5>&nbsp;其他&nbsp;<small style="color: white">(包括垃圾場災損)</small><br></h5>
                                                                        <small id="ApplyOtherMsg">載入中....</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplyCar')">
                                                                    <button class="btn btn-primary">
                                                                        <h5><i class="ace-icon fa fa-car"></i>&nbsp;車輛設備<br></h5>
                                                                        <small id="ApplyCarMsg">載入中....</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplyDisinfectionEquipment')">
                                                                    <button class="btn btn-primary">
                                                                        <h5><i class="ace-icon fa fa-paint-brush"></i>&nbsp;環境消毒設備<br></h5>
                                                                        <small id="ApplyDisinfectionEquipmentMsg">載入中....</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr align="center">
                                                <td bgcolor="#FAFAFA">轄屬請求支援核定</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-4 pad-1" style="">
                                                                <a onclick="Redirect('Index', 'ApplySupportCheck')">
                                                                    <button class="btn btn-inverse">
                                                                        <h5><i class="ace-icon fa fa-users"></i>&nbsp;人力資源<br></h5>
                                                                        <small id="ApplyPeopleStatus">待審核(0)；審核中(0)；轉呈環保署(0)；局已核定(0)；退回(0)</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplySupportCheck')">
                                                                    <button class="btn btn-inverse">
                                                                        <h5><i class="ace-icon fa fa-flask"></i>&nbsp;環境消毒藥劑<br></h5>
                                                                        <small id="ApplyMedicineStatus">待審核(0)；審核中(0)；轉呈環保署(0)；局已核定(0)；退回(0)</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplySupportCheck')">
                                                                    <button class="btn btn-inverse">
                                                                        <h5><i class="ace-icon fa fa-paint-brush"></i>&nbsp;請求補助款<br></h5>
                                                                        <small id="ApplySubsidyStatus">待審核(0)；審核中(0)；轉呈環保署(0)；局已核定(0)；退回(0)</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplySupportCheck')">
                                                                    <button class="btn btn-inverse">
                                                                        <h5>&nbsp;其他&nbsp;<small style="color: white">(包括垃圾場災損)</small><br></h5>
                                                                        <small id="ApplyOtherStatus">待審核(0)；審核中(0)；轉呈環保署(0)；局已核定(0)；退回(0)</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplySupportCheck')">
                                                                    <button class="btn btn-inverse">
                                                                        <h5><i class="ace-icon fa fa-car"></i>&nbsp;車輛設備<br></h5>
                                                                        <small id="ApplyCarStatus">待審核(0)；審核中(0)；轉呈環保署(0)；局已核定(0)；退回(0)</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-4 pad-1">
                                                                <a onclick="Redirect('Index', 'ApplySupportCheck')">
                                                                    <button class="btn btn-inverse">
                                                                        <h5><i class="ace-icon fa fa-paint-brush"></i>&nbsp;環境消毒設備<br></h5>
                                                                        <small id="ApplyDisinfectionEquipmentStatus">待審核(0)；審核中(0)；轉呈環保署(0)；局已核定(0)；退回(0)</small>
                                                                    </button>
                                                                </a>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pad-1">


                                    <br>
                                    @* <a class="btn">資料儲存確認</a>*@
                                </div>
                            </div>
                        </div>


                        <div style="display:none" class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false">
                                        <h5 style="display: inline-block;">
                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            &nbsp;第五步：環境部災害應變資源調度原則&nbsp;&nbsp;
                                        </h5>
                                        @*<p style="font-weight: bold; color: black;font-size: 24px;  display: inline-block; ">
                                            (每月確認資源)
                                        </p>*@
                                        <br />
                                        <small>平時是建置資源資訊的最佳時機</small>
                                        <small>你隨時可提出人力、消毒藥劑等支援請求</small>
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseFive" aria-expanded="false">
                                <div class="panel-body">
                                    <button id="btnSupportDownload" type="button" class="btn btn-primary">環境部災害應變資源調度原則</button>
                                    <br /><br />

                                    一、	目的<br />
                                    因應環境暖化、氣候變遷，近年來環境災害發生的頻率增加，危害的程度加劇，為統合應變相關資源，擴增應變效能，藉由互助互惠精神協助受災縣市，加速災後環境復原。
                                    <br /><br />
                                    二、	標的<br />
                                    (一)機具、車輛：抓斗車、挖土機、消毒車、鏟裝車(山貓)、運土卡車
                                    (二)藥品：環境消毒藥劑、登革熱藥劑
                                    (三)消毒設備：噴霧機、消毒機(器)、熱煙霧機
                                    (四)人力：本於互助互惠精神，支援衍生經費由提供調度縣市自行支應
                                    <br /><br />
                                    三、	調度方式<br />
                                    (一)調度需求縣市：災害發生，縣市無法自行完成環境復原或短缺應變資源時，向本部請求調度支援，填報表一、應變資源調度需求表。
                                    (二)提供調度縣市：災害發生，可供本部調度應變資源者。需求縣市提出8小時內，填報表二、應變資源提供調度表（不限一縣市填報），並調度期限8小時前皆可填報，以最後一筆鍵入之資料為調度之依據。
                                    (三)本部(環境管理署)完成調度：以能配合提供調度項目、數量符合度最多及距離近之縣市優先調度，不足時再行調度其他縣市資源。
                                    (四)調度流程如圖一
                                    <br /><br />
                                    四、	成果考核<br />
                                    (一)本部補助之資源(含機具、車輛、藥品、設備等)，應無條件接受本部之調度，未配合調度將列入下年度核定補助經費及地方績效考核之參考。
                                    (二)協助支援之縣市人員，由地方政府辦理敘獎獎勵。
                                    (三)績效考核規定如下：
                                    1.因應年度內災害情勢配合本部調度相關應變機具、車輛、人力、物資等，填報應變資源提供調度表得0.5分，(如有異動須更新)，實際配合調度再得0.5分。本項最多2分。
                                    2.盤點更新應變機具、人力、物資，平常每月20日於EMIS系統填報，海警發布(或事件緊急應變命令發布)後，經本署通知24小時內更新，應變期間每日17時至17時30分前更新，依時更新得1分，未更新每次扣0.1分。
                                    <br /><br />
                                    五、	調度演練<br />
                                    每年分北、中、南三區辦理應變資源調度演練，以實體演練為主。
                                    <br /><br />
                                    六、	本原則自核定日施行
                                    <br /><br />

                                    @*<button id="btnNeed" type="button" class="btn btn-primary" data-toggle="modal" data-target="#NeedModal">需求表</button>
                                      <button id="btnSupport" type="button" class="btn btn-primary">調度表</button>*@

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="tabs-2">
                    <div class="container pc">
                        <iframe scrolling="no" height="820" width="100%" src="https://e-service.cwb.gov.tw/HistoryDataQuery/index.jsp" frameborder="0"></iframe>
                        <hr>
                    </div>

                    <div class="container">
                        <h4><i class="ace-icon fa fa-bar-chart-o"></i>&nbsp;溫度及累積雨量圖&nbsp;<small>(單位:度/毫米)</small></h4>
                        <div class="pc">
                            <canvas id="mixed-chart-0"></canvas>
                        </div>
                        <hr>

                        <div class="col-lg-4">
                            <h5>北部地區</h5>
                            <canvas id="mixed-chart-1"></canvas>

                        </div>

                        <div class="col-lg-4">
                            <h5>中部地區</h5>
                            <canvas id="mixed-chart-2"></canvas>
                        </div>

                        <div class="col-lg-4">
                            <h5>南部地區</h5>
                            <canvas id="mixed-chart-3"></canvas>

                        </div>

                        <div class="col-lg-4">
                            <h5>東部及離島地區</h5>
                            <canvas id="mixed-chart-4"></canvas>
                        </div>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="container">
                        <h3>最新公告</h3>

                        <table class="table">
                            <tr>
                                <th width="15%">
                                    @Html.DisplayNameFor(model => model.Notices[0].CreateDate)
                                </th>
                                <th width="10%">
                                    @Html.DisplayNameFor(model => model.Notices[0].Title)
                                </th>
                                <th width="75%">
                                    @Html.DisplayNameFor(model => model.Notices[0].Content)
                                </th>
                            </tr>

                            @foreach (var item in Model.Notices)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Content)
                                    </td>
                                </tr>
                            }

                        </table>

                        <div class="row">
                        </div>
                        <h3>最新新聞</h3>
                        <table class="table">
                            <tr>
                                <th width="15%">
                                    @Html.DisplayNameFor(model => model.News[0].CreateDate)
                                </th>
                                <th width="10%">
                                    @Html.DisplayNameFor(model => model.News[0].Title)
                                </th>
                                <th width="75%">
                                    @Html.DisplayNameFor(model => model.News[0].Content)
                                </th>
                            </tr>

                            @foreach (var item in Model.News)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Content)
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>


            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="modal fade" id="NeedModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">需求表</h5>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center;">#</th>
                                <th style="text-align:center;">First</th>
                                <th style="text-align:center;">Last</th>
                                <th style="width:120px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>                                
                                <td>
                                    <span style="background-color:rgba(255,255,255,0);" class="btn btn-data-manager-ctrl btn-update-data-manager btn-default btn-sm  glyphicon glyphicon-pencil" title="修改" data-user-id="1" data-ctrl="1"></span>
                                    <span style="background-color:rgba(255,255,255,0);" class="btn btn-data-manager-ctrl btn-delete-data-manager btn-default btn-sm  glyphicon glyphicon-trash" title="刪除" data-ctrl="2"></span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>
                                    <span style="background-color:rgba(255,255,255,0);" class="btn btn-data-manager-ctrl btn-update-data-manager btn-default btn-sm  glyphicon glyphicon-pencil" title="修改" data-user-id="1" data-ctrl="1"></span>
                                    <span style="background-color:rgba(255,255,255,0);" class="btn btn-data-manager-ctrl btn-delete-data-manager btn-default btn-sm  glyphicon glyphicon-trash" title="刪除" data-ctrl="2"></span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Joe</td>
                                <td>Taipei</td>
                                <td>
                                    <span style="background-color:rgba(255,255,255,0);" class="btn btn-data-manager-ctrl btn-update-data-manager btn-default btn-sm  glyphicon glyphicon-pencil" title="修改" data-user-id="1" data-ctrl="1"></span>
                                    <span style="background-color:rgba(255,255,255,0);" class="btn btn-data-manager-ctrl btn-delete-data-manager btn-default btn-sm  glyphicon glyphicon-trash" title="刪除" data-ctrl="2"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                    
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/chart.js"></script>
    <script>
        $(document).ready(function () {
            var cityId = '@Model.UserBrief.CityId';
            if ($.trim(cityId).length > 0) {
                GetTowns(cityId);
                UpdateApplyData();
            }
            GetEPBStatusCount();
            $('#city').change(function () { ChangeCity(); });
            $('#town').change(function () { UpdateApplyData(); });
            $('#disaster').change(function ()
            {
                UpdateApplyData();
                GetEPBStatusCount();
            });

            //$('#NeedModal').modal('show');         
            $("#btnSupportDownload").click(function () {
                location.href = app.siteRoot + 'FileDatas/環境部災害應變資源調度原則.docx';
            });
        });
        function UpdateApplyData() {
            var cityId = $('#city').val();
            var townId = $('#town').val();
            var diasterId = $('#disaster').val();
            GetApplyData('ApplyPeople', cityId, townId, diasterId);
            GetApplyData('ApplyMedicine', cityId, townId, diasterId);
            GetApplyData('ApplySubsidy', cityId, townId, diasterId);
            GetApplyData('ApplyOther', cityId, townId, diasterId);
            GetApplyData('ApplyCar', cityId, townId, diasterId);
            GetApplyData('ApplyDisinfectionEquipment', cityId, townId, diasterId);
        }
        function ChangeCity() {
            var selectedValue = $('#city option:selected').val();
            if ($.trim(selectedValue).length > 0) {
                GetTowns(selectedValue);
            }
        }
        function GetTowns(cityId) {
            $.ajax({
                url: '@Url.Action("Towns", "Geolocation")' + '?cityId=' + cityId,
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    $('#town').empty();
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            $('#town').append($('<option ></option>').val(item.Id).text(item.Name));
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }

            });
        }
        var full = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');

        function GetApplyData(controller, cityId, townId, diasterId) {

            var action = 'Get'

            var _url = `${full}/${controller}/${action}?cityId=${cityId}&townid=${townId}&diasterId=${diasterId}`

            $(`#${controller}Msg`).html("載入中....");

            $.ajax({
                url: _url,
                type: 'get',
                cache: false,
                //async: false,
                dataType: 'json',
                success: function (data) {
                    if (data === null) {
                        $(`#${controller}Msg`).html("尚未請求");
                    }
                    else if (data.Status === 0) {
                        $(`#${controller}Msg`).html(`最新請求 ${data.Quantity}<br>未核定`);
                    }
                    else if (data.Status === 1) {
                        $(`#${controller}Msg`).html(`最新請求 ${data.Quantity}<br>審核中`);
                    }
                    else if (data.Status === 2) {
                        $(`#${controller}Msg`).html(`最新請求 ${data.Quantity}<br>已轉呈環保署`);
                    }
                    else if (data.Status === 3) {
                        $(`#${controller}Msg`).html(`最新請求 ${data.Quantity}<br>已核定`);
                    }
                    else if (data.Status === 4) {
                        $(`#${controller}Msg`).html(`最新請求 ${data.Quantity}<br>被退回`);
                    }
                    else {
                        $(`#${controller}Msg`).html(`Status =${data.Status}`);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }

            });
        }

        function GetEPBStatusCount() {
            var diasterId = $('#disaster').val();
            var _url = `${full}/ApplySupport/EPBStatusCount?diasterId=${diasterId}`;
            console.log(_url);
            $.ajax({
                url: _url,
                type: 'get',
                cache: false,
                //async: false,
                dataType: 'json',
                success: function (data) {
                    SetEPBStatusCount('ApplyPeople', data.ApplyPeople);
                    SetEPBStatusCount('ApplyMedicine', data.ApplyMedicine);
                    SetEPBStatusCount('ApplySubsidy', data.ApplySubsidy);
                    SetEPBStatusCount('ApplyOther', data.ApplyOther);
                    SetEPBStatusCount('ApplyCar', data.ApplyCar);
                    SetEPBStatusCount('ApplyDisinfectionEquipment',data.ApplyDisinfectionEquipment);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }

            });
        }
        function SetEPBStatusCount(name, data) {
            $(`#${name}Status`).html(`待審核(${data.PendingCount})；審核中(${data.ProcessingCount})；轉呈環保署(${data.SendToEpaCount})；局已核定(${data.ConfrimCount})；退回(${data.RejectCount})`);
        }
        function Redirect(action, controller) {
            var cityId = $('#city').val();
            var townId = $('#town').val();
            var diasterId = $('#disaster').val();
            full = app.siteRoot + `${controller}/${action}?cityId=${cityId}&townid=${townId}&diasterId=${diasterId}`
            window.location = full
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $("#Tabs2").tabs();
        });
    </script>
    <script type="text/javascript">
        new Chart(document.getElementById("mixed-chart-0"), {
            type: 'bar',
            data: {
                labels: ["基隆市", "臺北市", "新北市", "桃園市", "新竹市", "新竹縣", "苗栗縣", "臺中市", "彰化縣", "南投縣", "嘉義市", "嘉義縣", "雲林縣", "臺南市", "高雄市", "屏東縣", "宜蘭縣", "花蓮縣", "澎湖縣", "金門縣", "連江縣"],
                datasets: [{
                    label: "溫度",
                    type: "line",
                    borderColor: "#f39800",
                    backgroundColor: "#f39800",
                    data: [25.0, 24.1, 24.2, 24.5, 23, 23.5, 24.1, 25.0, 24.1, 24.2, 24.5, 23, 23.5, 24.1, 25.0, 24.1, 24.2, 24.5, 23, 23.5, 24.1],
                    fill: false
                }, {
                    label: "雨量",
                    type: "bar",
                    backgroundColor: "rgba(3, 110, 184, 0.6)",
                    data: [12.0, 15.2, 13.2, 17.3, 23.0, 25.2, 12.2, 12.0, 15.2, 13.2, 17.3, 23.0, 25.2, 12.2, 12.0, 15.2, 13.2, 17.3, 23.0, 25.2, 12.2],
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: { beginAtZero: true }
                    }]
                },
                title: {
                    display: false,
                    text: '各縣市目前溫度及累積雨量圖'
                },
                legend: {
                    position: 'right',
                    display: true,
                }
            }
        });
    </script>
    <script type="text/javascript">
        new Chart(document.getElementById("mixed-chart-1"), {
            type: 'bar',
            data: {
                labels: ["基隆市", "臺北市", "新北市", "桃園市", "新竹市", "新竹縣", "苗栗縣"],
                datasets: [{
                    label: "溫度",
                    type: "line",
                    borderColor: "#f39800",
                    backgroundColor: "#f39800",
                    data: [25.0, 24.1, 24.2, 24.5, 23, 23.5, 24.1],
                    fill: false
                }, {
                    label: "雨量",
                    type: "bar",
                    backgroundColor: "rgba(3, 110, 184, 0.6)",
                    data: [12.0, 15.2, 13.2, 17.3, 23.0, 25.2, 12.2],
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: { beginAtZero: true }
                    }]
                },
                title: {
                    display: false,
                    text: '各縣市目前溫度及累積雨量圖'
                },
                legend: {
                    position: 'bottom',
                    display: false,
                }
            }
        });
    </script>
    <script type="text/javascript">
        new Chart(document.getElementById("mixed-chart-2"), {
            type: 'bar',
            data: {
                labels: ["臺中市", "彰化縣", "南投縣", "嘉義市", "嘉義縣"],
                datasets: [{
                    label: "溫度",
                    type: "line",
                    borderColor: "#f39800",
                    backgroundColor: "#f39800",
                    data: [12, 15, 13, 17, 23, 25],
                    fill: false
                }, {
                    label: "雨量",
                    type: "bar",
                    backgroundColor: "rgba(3, 110, 184, 0.6)",
                    data: [12, 15, 13, 17, 23, 25],
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: { beginAtZero: true }
                    }]
                },
                title: {
                    display: false,
                    text: '各縣市目前溫度及累積雨量圖'
                },
                legend: {
                    position: 'bottom',
                    display: false,
                }
            }
        });
    </script>
    <script type="text/javascript">
        new Chart(document.getElementById("mixed-chart-3"), {
            type: 'bar',
            data: {
                labels: ["雲林縣", "臺南市", "高雄市", "屏東縣"],
                datasets: [{
                    label: "溫度",
                    type: "line",
                    borderColor: "#f39800",
                    backgroundColor: "#f39800",
                    data: [10, 12, 15, 13],
                    fill: false
                }, {
                    label: "雨量",
                    type: "bar",
                    backgroundColor: "rgba(3, 110, 184, 0.6)",
                    data: [15, 12, 15, 13],
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: { beginAtZero: true }
                    }]
                },
                title: {
                    display: false,
                    text: '各縣市目前溫度及累積雨量圖'
                },
                legend: {
                    position: 'bottom',
                    display: false,
                }
            }
        });
    </script>
    <script type="text/javascript">
        new Chart(document.getElementById("mixed-chart-4"), {
            type: 'bar',
            data: {
                labels: ["宜蘭縣", "花蓮縣", "澎湖縣", "金門縣", "連江縣"],
                datasets: [{
                    label: "溫度",
                    type: "line",
                    borderColor: "#f39800",
                    backgroundColor: "#f39800",
                    data: [12, 15, 13, 17, 23],
                    fill: false
                }, {
                    label: "雨量",
                    type: "bar",
                    backgroundColor: "rgba(3, 110, 184, 0.6)",
                    data: [12, 15, 13, 17, 23],
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: { beginAtZero: true }
                    }]
                },
                title: {
                    display: false,
                    text: '各縣市目前溫度及累積雨量圖'
                },
                legend: {
                    position: 'bottom',
                    display: false,
                }
            }
        });
    </script>
}