@model IEnumerable<MyEPA.ViewModels.ApplyStatusReportViewModel>
@{ 
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "請求支援通報確認";
}
<h3>@ViewBag.Title</h3>
@using (Html.BeginForm("ApplyReport", "Report", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    Html.RenderAction("GetSelectListItem", "Diaster", new { id = Request["diasterId"] });
    <input type="submit" value="查詢" class="" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPAPendingCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPAProcessingCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPAConfrimCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPARejectCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPBPendingCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPBProcessingCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPBConfrimCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPBRejectCount)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPAPendingCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPAProcessingCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPAConfrimCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPARejectCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPBPendingCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPBProcessingCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPBConfrimCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPBRejectCount)
            </td>
        </tr>
    }

</table>
