@model IEnumerable<MyEPA.ViewModels.YearReportViewModel>
@using MyEPA.Helper;
@{
    int year = ViewBag.Year;
    Layout = "~/Views/_Layout.cshtml";
}
<h3>年度報表 - @year 年度</h3>
<p>@DateTimeHelper.GetCurrentTime().ToString("yyyy/MM/dd HH:mm")</p>

@using (Html.BeginForm("YearReport", "Report", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    Html.RenderAction("GetYearReportYears", "Report", new { year });
    <input type="submit" value="查詢" class="btn btn-success" />
}
<p align="right">
    <img width="30" height="30" src="~/Content/assets/css/images/icon_pdf.png" alt="PDF">
    <a href="@Url.Action("DownYearReport", new { file = "PDF",year })">PDF匯出</a>│
    <img width="30" height="30" src="../../images/icon_odf.png" alt="ODS">
    <a href="@Url.Action("DownYearReport", new { file = "ODS",year })">ODS下載</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiasterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloodArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLE_MUD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLE_Garbage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CleaningMemberQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalArmyQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLE_Disinfect)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPFailureCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterFailureCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterCount)
        </th>
    </tr>
    <tr style="color:blue">
        <td>合計</td>
        <td>@Model.Sum(e => e.FloodArea)</td>
        <td>@Model.Sum(e => e.CLE_MUD)</td>
        <td>@Model.Sum(e => e.CLE_Garbage)</td>
        <td>@Model.Sum(e => e.CleaningMemberQuantity)</td>
        <td>@Model.Sum(e => e.NationalArmyQuantity)</td>
        <td>@Model.Sum(e => e.CLE_Disinfect)</td>
        <td>@Model.Sum(e => e.EPFailureCount)</td>
        <td>@Model.Sum(e => e.EPCount)</td>
        <td>@Model.Sum(e => e.WaterFailureCount)</td>
        <td>@Model.Sum(e => e.WaterCount)</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiasterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloodArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLE_MUD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLE_Garbage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CleaningMemberQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalArmyQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLE_Disinfect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPFailureCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterFailureCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterCount)
            </td>
        </tr>
    }

</table>