@using MyEPA.Models;
@model MyEPA.ViewModels.ApplySupportCheckViewModel

@{
    ViewBag.Title = "請求支援通報確認";
    Layout = "~/Views/_Layout.cshtml";
    int diasterId = ViewBag.DiasterId;
    List<DiasterModel> Diasters = ViewBag.Diasters;
}


<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <h3>請求支援核定</h3>
                    <hr>

                    <div>
                        <div>
                            <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                                <h3 align="center">請求支援通報確認</h3>
                                <table class="table-condensed" border="0">
                                    <tbody>
                                        <tr>
                                            <td>災害名稱</td>
                                            <td>
                                                <select name="diasterId" onchange="Change(this)">
                                                    @foreach (var item in Diasters)
                                                    {
                                                        <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <input type="button" onclick="ToProcessing()" value="選擇辦理項目" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>鄉鎮</td>
                                            <td>待審核</td>
                                            <td>審核中</td>
                                            <td>轉呈環保署</td>
                                            <td>局已核定</td>
                                            <td>退回</td>
                                        </tr>
                                        @{
                                            if (Model.CountingViewModels.Count > 0)
                                            {
                                                foreach (var countingViewModel in Model.CountingViewModels)
                                                {
                                                    <tr>
                                                        <td>@countingViewModel.TownName</td>
                                                        <td>@countingViewModel.Pending</td>
                                                        <td>@countingViewModel.Processing</td>
                                                        <td>@countingViewModel.SendToEpa</td>
                                                        <td>@countingViewModel.EpbConfrim</td>
                                                        <td>@countingViewModel.Reject</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="5">*目前尚無資料</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                @*<p>說明:按下”待處理”後狀態會呈現在”審核中”環保局案件來自於鄉鎮市區</p>*@

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
      
        function Change(target)
        {
            window.location = '@Html.Raw(Url.Action("Index","ApplySupportCheck"))'+ `?diasterId=${target.value}`
        }

        function ToProcessing(target)
        {
            window.location = '@Html.Raw(Url.Action("Processing"))'+ `?diasterId=${@Html.Raw(diasterId)}`;
        }

    </script>

}