<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon glyphicon glyphicon-search"></i>
        <span class="menu-text"> 相關查詢 </span>

        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                資源整備
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Index","ResourcesReport",new { })">1.&nbsp;應變資源</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Report","Defend",new { })">2.&nbsp;整備通報</a>
                </li>
                <li class="">
                    <a href="#">3.&nbsp;資源通報時間查詢</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                水質檢驗相關
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Report","WaterCheckDetail")">1.&nbsp;自來水公司抽驗結果</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Search","WaterEquipment")">2.&nbsp;自來水供水設備</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Search","Polymer")">3.&nbsp;高分子凝聚劑使用</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                災情與支援
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Search","ApplySupport")">請求支援處理查詢</a>
                </li>
                <li class="">
                    @Html.ActionLink("環境清理通報", "Index", "Damage", new { }, new { })
                </li>
            </ul>
        </li>
        <li class="">
            <a target="_blank" href="https://mdc.epa.gov.tw/PublicInfo/License/Pco/">
                <i class="menu-icon fa fa-caret-right"></i>
                病媒蚊防治業查閱
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("C3x1Landfill", "Cleaner")">
                <i class="menu-icon fa fa-caret-right"></i>
                垃圾掩埋場查閱
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("C3x1Incinerator", "Cleaner")">
                <i class="menu-icon fa fa-caret-right"></i>
                焚化廠查閱
            </a>
        </li>
        <li class="">
            <a target="_blank" href="https://cand.moi.gov.tw/of/home.jsp?mserno=201011010008&serno=201011010008&menudata=ofmenu&contlink=ap/villmast_list.jsp&level3=n">
                <i class="menu-icon fa fa-caret-right"></i>
                村里長資料查閱
            </a>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                新聞公告
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Search","Notice")">1.&nbsp;公告事項</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Search","News")">2.&nbsp;新聞消息</a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="">
    <a href="@Url.Action("CarsCountReport","Vehicle")" class="dropdown-toggle">
        <i class="menu-icon fa fa-list-alt"></i>
        <span class="menu-text"> 統計與報表 </span>
        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                資源與災損推估
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow fa fa-angle-down"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("CarsCountReport","Vehicle")">1.&nbsp;環境清潔車輛統計</a>
                </li>
                <li class="">
                    <a href="@Url.Action("TownReport","Disinfectant")">2.&nbsp;環境消毒藥劑統計</a>
                </li>
                <li class="">
                    <a href="@Url.Action("TownReport","Disinfector")">3.&nbsp;環境消毒設備統計</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Statistics","WaterCheck")">4.&nbsp;水質抽驗統計</a>
                </li>
                <li class="">
                    <a href="@Url.Action("CityStatistics","Damage")">5.&nbsp;殺菌劑與垃圾量預估</a>
                </li>
                <li class="">
                    <a href="@Url.Action("CityStatistics","Disinfectant")">6.&nbsp;消毒藥劑過期統計</a>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                災情與支援
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("CityStatistics","Damage")">環境清理統計</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Statistics","ToiletLocation")">流動廁所佈點</a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-pencil-square-o"></i>
        <span class="menu-text"> 通報管考 </span>
        <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            @Html.ActionLink("資源通報", "Index", "ResourcesReport", "", new { })
        </li>
        <li class="">
            @Html.ActionLink("整備通報", "Report", "Defend", "", new { })
        </li>
        <li class="">
            @Html.ActionLink("災情通報", "Report", "Damage", "", new { })
        </li>
        <li class="">
            <a href="@Url.Action("Report","WaterCheck")">環保局水質通報</a>
        </li>
        <li class="">
            @Html.ActionLink("請求支援通報", "Index", "ApplySupport", "", new { })
        </li>
        <li class="">
            <a href="@Url.Action("Statistics","ToiletLocation")">流動廁所清潔</a>
        </li>
    </ul>
</li>
<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon glyphicon glyphicon-sort"></i>
        <span class="menu-text"> 資源分享 </span>
        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            <a href="@Url.Action("B6x1","EPB",new { title = "資源(上傳/下載)" })">資源(上傳/下載)</a>
        </li>
        @*
        <li class="">
            <a href="@Url.Action("B6x1","EPB",new {title = "參考資料下載" })">參考資料下載</a>
        </li>
        <li class="">
            <a href="@Url.Action("B6x1","EPB",new {title = "常用表單(上傳/下載)" })">常用表單(上傳/下載)</a>
        </li>
        <li class="">
            <a href="@Url.Action("B6x1","EPB",new {title = "新聞稿(上傳/下載)" })">新聞稿(上傳/下載)</a>
        </li>
        <li class="">
            <a href="@Url.Action("Reference","FileData",new {title = "應變摘要參考資料" })">應變摘要參考資料</a>
        </li>*@
    </ul>
</li>
<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon glyphicon glyphicon-modal-window"></i>
        <span class="menu-text">聯絡資料</span>
        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            @Html.ActionLink("網頁密碼變更", "EditPwd", "Users")
        </li>
        <li class="">
            <a href="@Url.Action("A8x2", "EPAxUser")">聯絡人資料查詢</a>
        </li>
        <li class="">
            <a href="@Url.Action("A8x3", "EPAxUser")">聯絡人資料維護</a>
        </li>
    </ul>
</li>
<li class="">
    <a href="@Url.Action("Index","OpenContractNew")">
        <i class="menu-icon glyphicon glyphicon-file"></i>
        <span class="menu-text">開口合約</span>
    </a>
</li>