<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-bullhorn"></i>
        <span class="menu-text">通報作業</span>

        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            <a href="@Url.Action("TeamConfirmList","Defend",new { })">整備通報確認(災前)</a>
        </li>
        <li class="">
            <a href="@Url.Action("TeamConfirmList","Damage",new { })">災情通報確認(災時/後)</a>
        </li>
        <li class="">
            <a href="@Url.Action("TeamConfirmCCList","Damage",new { })">環境清理確認(災時/後)</a>
        </li>
        <li class="">
            <a href="@Url.Action("Report","WaterCheckDetail")">水質抽驗通報(災時/後)</a>
        </li>
    </ul>
</li>
<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon glyphicon glyphicon-search"></i>
        <span class="menu-text"> 相關查詢 </span>

        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu nav-hide" style="display: block;">
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                資源整備
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Index","ResourcesReport",new { })">應變資源</a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("Report","Defend",new { })">整備通報</a>
                    <b class="arrow"></b>
                </li>
                <!--
                    <li class="">
                        <a href="#">資源通報時間查詢</a>
                        <b class="arrow"></b>
                    </li>
                -->
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                水質檢驗相關
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Report","WaterCheckDetail")">自來水公司抽驗結果</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Search","WaterEquipment")">自來水供水設備</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Search","Polymer")">高分子凝聚劑使用</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                災情與支援
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Search","ApplySupport")">請求支援處理查詢</a>
                </li>
                <li class="">
                    @Html.ActionLink("環境清理通報", "Index", "Damage", new { }, new { })
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                新聞公告
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Search","Notice")">公告事項</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Search","News")">新聞消息</a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-list-alt"></i>
        <span class="menu-text"> 統計與報表 </span>
        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                資源與災損推估
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow fa fa-angle-down"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("CarsCountReport","Vehicle")">環境清潔車輛統計</a>
                </li>
                <li class="">
                    <a href="@Url.Action("TownReport","Disinfectant")">環境消毒藥劑統計</a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("TownReport","Disinfector")">環境消毒設備統計</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Statistics","WaterCheck")">水質抽驗統計</a>
                </li>
                <li class="">
                    <a href="@Url.Action("CityStatistics","Damage")">殺菌劑與垃圾量預估</a>
                </li>
                <li class="">
                    <a href="@Url.Action("CityStatistics","Disinfectant")">消毒藥劑過期統計</a>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                災情與支援
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("CityStatistics","Damage")">環境清理統計</a>
                </li>
                <li class="">
                    <a href="@Url.Action("CityStatusReport","ApplySupport")">請求支援統計</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Statistics","ToiletLocation")">流動廁所佈點</a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-pencil-square-o"></i>
        <span class="menu-text"> 通報管考 </span>
        <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            @Html.ActionLink("資源通報", "Index", "ResourcesReport", "", new { })
        </li>
        <li class="">
            @Html.ActionLink("整備通報", "Report", "Defend", new { }, new { })
        </li>
        <li class="">
            @Html.ActionLink("災情及清理通報", "Report", "Damage", new { }, new { })
        </li>
        <li class="">
            <a href="@Url.Action("Report","WaterCheck")">環保局水質通報</a>
        </li>
        <li class="">
            @Html.ActionLink("請求支援通報", "Index", "ApplySupport", "", new { })
        </li>
        <li class="">
            <a href="@Url.Action("Statistics","ToiletLocation")">流動廁所清潔</a>
        </li>
    </ul>
</li>
<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon glyphicon glyphicon-sort"></i>
        <span class="menu-text"> 資源分享 </span>
        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            <a href="@Url.Action("B6x1","EPB",new { title = "資源(上傳/下載)"})">資源(上傳/下載)</a>
        </li>
        @*
        <li class="">
            <a href="@Url.Action("B6x1","EPB",new { title = "參考資料下載" })">參考資料下載</a>
        </li>
        <li class="">
            <a href="@Url.Action("B6x1","EPB",new { title = "常用表單(上傳/下載)" })">常用表單(上傳/下載)</a>
        </li>
        <li class="">
            <a href="@Url.Action("B6x1","EPB",new { title = "災區小組(上傳/下載)" })">災區小組(上傳/下載)</a>
        </li>
        <li class="">
            <a href="@Url.Action("B6x1","EPB",new { })">新聞稿(上傳/下載)</a>
        </li>
        *@
        @{
            if (ViewBag.IsAdmin)
            {
                <li class="">
                    <a href="@Url.Action("Reference","FileData",new {title = "應變摘要參考資料" })">應變摘要參考資料</a>
                </li>
            }
        }
        @*
        <li class="">
            <a href="@Url.Action("B6x1","EPB",new { })">各處室簡日報產製</a>
        </li>*@

    </ul>
</li>
<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon glyphicon glyphicon-book"></i>
        <span class="menu-text">電話紀錄及大事記</span>
        <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            <a href="@Url.Action("Index","PhoneWork")">紀錄及事記</a>
        </li>
        <li class="">
            <a href="@Url.Action("Index","TaskWork")">任務指派單</a>
        </li>
    </ul>
</li>
<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon glyphicon glyphicon-modal-window"></i>
        <span class="menu-text">聯絡資料</span>
        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            @Html.ActionLink("網頁密碼變更", "EditPwd", "Users")
        </li>
        <li class="">
            <a href="@Url.Action("A8x2", "EPAxUser")">聯絡人資料查詢</a>
        </li>
        <li class="">
            <a href="@Url.Action("A8x3", "EPAxUser")">聯絡人資料維護</a>
        </li>
        <li class="">
            <a href="">單一聯繫窗口查詢</a>
        </li>
        <li class="">
            <a href="">環保署單位維護</a>
        </li>
    </ul>
</li>
<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon glyphicon glyphicon-copy"></i>
        <span class="menu-text">總隊管理資訊</span>
        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        @*
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                線上輪值表
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow fa fa-angle-down"></b>
            <ul class="submenu">
                <li class="">
                    <a href="">總隊天災輪班表</a>
                </li>
                <li class="">
                    <a href="">(北/中/南)區大隊輪班表</a>
                </li>
            </ul>
        </li>
        *@
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                任務進駐
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow fa fa-angle-down"></b>
            <ul class="submenu">
                <li class="">
                    @Html.ActionLink("任務編組", "Index", "FileData", new { sourceType = "TaskGrouping" }, new { })
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                現場檢核表單
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="bigteam/A1.xls">天然災害環境復健現場檢核表(A1)</a>
                </li>
                <li class="">
                    <a href="bigteam/A2-1.xls">天然災害申請支援通報表(A2-1)</a>
                </li>
                <li class="">
                    <a href="bigteam/A2-2.xls">天然災害應變資源調度數量日報表(A2-2)</a>
                </li>
                <li class="">
                    <a href="bigteam/A3.xls">天然災害訪查任務分派回覆處理情形表(A3)</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                水質抽驗
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow fa fa-angle-down"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Statistics","WaterCheck")">水質抽驗統計</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                焚化廠與掩埋場建置
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow fa fa-angle-down"></b>
            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Report", "Incinerator")">焚化廠資料建置</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Report", "Landfill")">掩埋場資料建置</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="bigteam/place3.html">暫(堆)置場</a>
        </li>
        <li class="">
            <a href="@Url.Action("YearReport","Report",new { })">年度統計報表</a>
        </li>
    </ul>
</li>