@model IEnumerable<MyEPA.Models.NewsModel>
@using MyEPA.Models;
@{
    ViewBag.Title = "新聞消息";
    Layout = "~/Views/_Layout.cshtml";
    int diasterId = ViewBag.DiasterId;
    List<DiasterModel> diasters = ViewBag.Diasters;
    DiasterModel diaster = diasters.FirstOrDefault(e => e.Id == diasterId);
    string defaultName = "一般主題";
}
<h3>@ViewBag.Title </h3>
<a class="btn btn-large" href="@Url.Action("Index","Notice")">公告事項</a>
<a class="btn btn-primary btn-large" href="@Url.Action("Index","News")">新聞消息</a>
<br />
<br />
<br />
<p>
    @Html.ActionLink("新增新聞", "Create", new { diasterId },new { @class = "btn"})
</p>
<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-primary btn-white dropdown-toggle" aria-expanded="false">
        @(diaster == null ? defaultName : diaster.DiasterName)<i class="ace-icon fa fa-angle-down icon-on-right"></i>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="@Url.Action("Index","News",new { diasterId = -1})">@defaultName</a>
        </li>
        @foreach (DiasterModel Item in diasters)
        {
            <li>
                <a href="@Url.Action("Index","News",new { diasterId = Item.Id})">@Item.DiasterName</a>
            </li>
        }
    </ul>
</div>
<table class="table">
    <tr>

        <th width="10%"></th>
        <th width="20%">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th width="70%">
            @Html.DisplayNameFor(model => model.Content)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.Id }) |
                <a href="#" onclick="Delete(@item.Id)">删除</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
        </tr>
    }

</table>

<script>
    function Delete(id) {
        if (!window.confirm('確定要刪除?')) {
            return;
        };
        var root = '@Url.Action("Delete", "News")?id=' + id;
        $.ajax({
            url: root,
            method: 'Post',
            success: function (data) {
                if (data.IsSuccess) {
                    alert('刪除成功');
                    location.reload();
                }
                else {
                    alert('刪除失敗,' + data.ErrorMessage);
                }
            },
            error: function (data) {
                alert('刪除失敗');
            }
        });
    };
</script>