@using MyEPA.ViewModels;
@using MyEPA.Models;
@using MyEPA.Extensions;
@using MyEPA.Helper;
@model IEnumerable<MyEPA.Models.ToiletCleaningLogModel>

@{
    ViewBag.Title = "清潔紀錄輸入";
    Layout = "~/Views/_Layout.cshtml";
    int? toiletLocationId = ViewBag.ToiletLocationId;
    int? diasterId = ViewBag.DiasterId;
    int? managementTownId = ViewBag.ManagementTownId;

    ToiletCleaningLogModel data = ViewBag.Model;
    List<DiasterModel> diaster = ViewBag.Diasters;
}

<h2>@ViewBag.Title </h2>
災害名稱：
<select id="Diaster" name="diasterId">
    @foreach (var item in diaster)
    {
        <option value="@item.Id" @(diasterId == item.Id ? "selected" : string.Empty)>@item.DiasterName</option>
    }
</select>
管理單位：
<select id="ManagementTown" name="ManagementTownId">
</select>
放置地點：
<select id="ToiletLocation" name="ToiletLocationId">
</select>
<table class="table">
    <tr>
        <th>
            編修細目
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsClean)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    @if (Model.Any() == false)
    {
        <tr>
            <td colspan="4">
                此流動廁所尚未有任何清理記錄，資料新增後請按下［資料確定儲存］按鈕
            </td>
        </tr>

    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("編輯", "Index", new { toiletLocationId, Id = item.Id })
                <a href="#" onclick="Delete(@item.Id)">刪除</a>
            </td>
            <td>
                @item.Date.ToDateString()
            </td>
            <td>
                @(item.IsClean ? "是" : "否")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }
    <tr>
        <td>
            @Html.ActionLink("新增", "Index", new { toiletLocationId, Id = "" })
        </td>
        <td colspan="4">
        </td>
    </tr>
</table>
<div class="col-6 col-md-6">
    @using (Html.BeginForm("CreateOrEdit", "ToiletCleaningLog", new { }, FormMethod.Post, new { @class = "DefendForm" }))
    {
        <input hidden="hidden" name="toiletLocationId" value="@toiletLocationId" />
        <table class="table" style="border:8px groove" border='1'>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Date)
                </td>
                <td>
                    <input name="Date" required type="date" value="@(data != null ? data.Date.ToDateString("yyyy-MM-dd"): DateTimeHelper.GetCurrentTime().ToDateString("yyyy-MM-dd"))" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.IsClean)
                </td>
                <td>
                    <select name="IsClean">
                        <option value="1" @(data != null ? data.IsClean ? "selected" : string.Empty : string.Empty)>是</option>
                        <option value="0" @(data != null ? data.IsClean ? string.Empty : "selected" : string.Empty)>否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Description)
                </td>
                <td>
                    <textarea name="Description" type="text">@(data != null ? data.Description: null)</textarea>
                </td>
            </tr>
            @if (data != null)
            {
                <tr>
                    <td colspan="2">
                        <input hidden="hidden" name="Id" value="@data.Id" />
                        <input type="submit" value="修改" />
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="2">
                        <input type="submit" value="新增" />
                    </td>
                </tr>
            }
        </table>
    }
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var diasterId = $('#Diaster').val();
            console.log(diasterId);
            if ($.trim(diasterId).length > 0) {
                ChangeDiaster(diasterId);
            }
            $('#Diaster').change(function () { ChangeDiaster(); });
            $('#ManagementTown').change(function () { ChangeManagementTown(); });
            $('#ToiletLocation').change(function () { ChangeToiletLocation(); });
        });

        function ChangeDiaster() {
            var selectedValue = $('#Diaster option:selected').val();
            if ($.trim(selectedValue).length > 0) {
                GetManagementTowns(selectedValue);
                ChangeManagementTown();
            }
        }
        function GetManagementTowns(diasterId) {
            $.ajax({
                url: `@Url.Action("ManagementTown", "ToiletLocationApi")?diasterId=${diasterId}`,
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    $('#ManagementTown').empty();
                    $('#ToiletLocation').empty();
                    if (data.length > 0) {

                        $.each(data, function (i, item) {
                            var townId = String(item.Id);
                            if (townId === '@managementTownId') {
                                $('#ManagementTown').append($('<option selected="selected"></option>').val(item.ManagementTownId).text(item.ManagementTownDisplay));
                            }
                            else {
                                $('#ManagementTown').append($('<option ></option>').val(item.ManagementTownId).text(item.ManagementTownDisplay));
                            }
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        }
        function ChangeManagementTown() {
            var diasterId = $('#Diaster option:selected').val();
            var managementTownId = $('#ManagementTown option:selected').val();
            if ($.trim(managementTownId).length > 0) {
                GetToiletLocation(diasterId, managementTownId);
                ChangeToiletLocation();
            }
        }
        function GetToiletLocation(diasterId,managementTownId) {
            $.ajax({
                url: `@Url.Action("Index", "ToiletLocationApi")?diasterId=${diasterId}&managementTownId=${managementTownId}`,
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    $('#ToiletLocation').empty();
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            var id = String(item.Id);
                            if (id === '@toiletLocationId') {
                                $('#ToiletLocation').append($('<option selected="selected"></option>').val(item.Id).text(item.AddressDisplay));
                            }
                            else {
                                $('#ToiletLocation').append($('<option ></option>').val(item.Id).text(item.AddressDisplay));
                            }
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        }
        function ChangeToiletLocation()
        {
            var toiletLocationId = $('#ToiletLocation option:selected').val();
            if (toiletLocationId != `@toiletLocationId`) {
                if ($.trim(toiletLocationId).length > 0) {
                    window.location = `@Html.Raw(Url.Action("Index","ToiletCleaningLog",new { Id = ""}))?toiletLocationId=${toiletLocationId}`
                }
            }
            
        }
    </script>
    <script>
        function Delete(id) {
        if (!window.confirm('確定要刪除?')) {
            return;
        };
        var root = '@Url.Action("Delete")?id=' + id;
            $.ajax({
                url: root,
                method: 'Post',
                success: function (data) {
                    if (data.IsSuccess) {
                        alert('刪除成功');
                        location.reload();
                    }
                    else {
                        alert('刪除失敗,' + data.ErrorMessage);
                    }
                },
                error: function (data) {
                    alert('刪除失敗');
                }
            });
        };
    </script>

}