@model IEnumerable<MyEPA.Models.ToiletCleaningLogModel>

@{
    ViewBag.Title = "流動廁所清理紀錄";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>
    @Html.ActionLink("返回上一頁", "Statistics", "ToiletLocation", new { ToiletLocationId = ViewBag.ToiletLocationId }, new { })
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsClean)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsClean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }

</table>
