@model IEnumerable<MyEPA.Models.SendTextLogDetailModel>

@{
    ViewBag.Title = "簡訊發送紀錄明細";
    Layout = "~/Views/_Layout.cshtml";
}
<h3>@ViewBag.Title</h3>
<table class="table"style="max-width:1000px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSuccess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSuccess)
        </td>
        <td>
            @item.Status.GetDescription()
        </td>
    </tr>
}

</table>
