@model IEnumerable<MyEPA.Models.SendTextLogModel>

@{
    ViewBag.Title = "簡訊發送紀錄";
    Layout = "~/Views/_Layout.cshtml";
}
<h3>@ViewBag.Title</h3>
<table class="table" style="max-width:500px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a href="@Url.Action("Details",new { sendTextLogId=item.Id})">@item.Topic</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
        </tr>
    }
</table>
