@using MyEPA.ViewModels;
@using MyEPA.Models;
@using MyEPA.Extensions;
@using MyEPA.Helper
@model IEnumerable<ToiletLocationStatisticsViewModel>

@{
    ViewBag.Title = "流動廁所佈點";
    Layout = "~/Views/_Layout.cshtml";
    int? cityId = ViewBag.CityId;
    List<CityModel> citys = ViewBag.Citys;
    List<DiasterModel> diasters = ViewBag.Diasters;
    int? diasterId = ViewBag.DiasterId;
}
    <h3>@ViewBag.Title</h3>
災害：
<select name="diasterId" onchange="Change(this)">
    @foreach (var item in diasters)
    {
        <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
    }
</select>
<p>廁所總數：@Model.Sum(e => e.ToiletQuantity) </p>
<p style="text-align:right">製表時間：@DateTimeHelper.GetCurrentTime().ToDateTimeString()</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TownName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToiletQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToiletType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDisplay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastCleanDate)
        </th>
        <th>
            清理紀錄
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TownName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToiletQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToiletType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @item.LastCleanDate.ToDateString()
            </td>
            <td>
                <a href="@Url.Action("Search","ToiletCleaningLog",new { toiletLocationId = item.Id})">查看</a>
            </td>
        </tr>
    }

</table>
@section Scripts{
    <script>
        function Change(target)
        {
            window.location = `@Html.Raw(Url.Action("Statistics","ToiletLocation",new { Id = ""}))?diasterId=${target.value}`
        }
    </script>

}