@model IEnumerable<MyEPA.Models.TaskWorkModel>

@{
    ViewBag.Title = "任務指派單";
    Layout = "~/Views/_Layout.cshtml";
}

    <h2>任務指派單</h2>

<p>
    @Html.ActionLink("新增", "Create", new { }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Executor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgressDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompleteTime)
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.ActionLink("修改", "Edit", new { id = item.Id }) |
        <a id="DeleteBtn" href="#" onclick="Delete(@item.Id)">删除</a>
    </td>
    <td>
        @item.PhoneTime.ToString("yyyy/MM/dd")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Executor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IssueDesc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProgressDesc)
    </td>
    <td>
        @(((MyEPA.Enums.PhoneWorkEnum)item.Status).GetDescription())
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Note)
    </td>
    <th>
        @Html.DisplayFor(modelItem => item.CompleteTime)
    </th>
</tr>
    }

</table>

<script>
    @if(string.IsNullOrWhiteSpace(ViewBag.Msg) == false)
    {
        @:alert('@ViewBag.Msg');
    }
    function Delete(id) {
        if (!window.confirm('確定要刪除?')) {
            return;
        };
        var root = '@Url.Action("Delete", "TaskWork")?id=' + id;
        $.ajax({
            url: root,
            method: 'Post',
            success: function (data) {
                if (data.IsSuccess) {
                    alert('刪除成功');
                    location.reload();
                }
                else {
                    alert('刪除失敗,' + data.ErrorMessage);
                }
            },
            error: function (data) {
                alert('刪除失敗');
            }
        });
    };
</script>