@model IEnumerable<MyEPA.Models.PolymerViewModel>
@using MyEPA.Models;
@using MyEPA.Enums;
@{
    ViewBag.Title = "高分子凝聚劑使用紀錄";
    Layout = "~/Views/_Layout.cshtml";
    int diasterId = ViewBag.DiasterId;
    List<DiasterModel> diasters = ViewBag.Diasters;
}
<h1>高分子凝聚劑使用紀錄</h1>
<p>
    @Html.ActionLink("新增", "Create", new { diasterId }, new { @class = "btn" })
</p>
<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-primary btn-white dropdown-toggle" aria-expanded="false">
        @(diasters.FirstOrDefault(e => e.Id == diasterId).DiasterName)<i class="ace-icon fa fa-angle-down icon-on-right"></i>
    </button>
    <ul class="dropdown-menu">
        @foreach (DiasterModel Item in diasters)
        {
            <li>
                <a href="@Url.Action("Index","Polymer",new { diasterId = Item.Id})">@Item.DiasterName</a>
            </li>
        }
    </ul>
</div>
<table class="table">
    <tr>
        <th>資料編修</th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrugName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseDays)
        </th>

    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
                @Html.ActionLink("細項", "Index", "PolymerDetail", new { PolymerId = item.Id }, new { }) |
                <a href="#" onclick="Delete(@item.Id)">删除</a>
            </td>
            <td>
                @item.CreateDate.ToString("yyyy/MM/dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseDays)
            </td>
        </tr>
    }

</table>

<script>
    function Delete(id) {
        if (!window.confirm('確定要刪除?')) {
            return;
        };
        var root = '@Url.Action("Delete", "Polymer")?id=' + id;
        $.ajax({
            url: root,
            method: 'Post',
            success: function (data) {
                if (data.IsSuccess) {
                    alert('刪除成功');
                    location.reload();
                }
                else {
                    alert('刪除失敗,' + data.ErrorMessage);
                }
            },
            error: function (data) {
                alert('刪除失敗');
            }
        });
    };
</script>