@model MyEPA.Models.UsersEditPwdViewModel

@{
    ViewBag.Title = "網頁密碼變更";
    Layout = "~/Views/_Layout.cshtml";
}

@using (Html.BeginForm("PostEditPwd","Users"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@ViewBag.Title</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OldPwd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OldPwd, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.OldPwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pwd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pwd, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Pwd, "", new { @class = "text-danger" })
                <p style="color:red">@ViewBag.Msg </p>
            </div>
           
        </div>
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="修改" class="btn btn-default" />
            </div>
        </div>
    </div>
}
