@model MyEPA.Models.UsersEditPwdViewModel

@{
    ViewBag.Title = "網頁密碼變更";
    Layout = "~/Views/_Layout.cshtml";

    string returnUrl = Request.QueryString["returnUrl"] == null ? "" : Request.QueryString["returnUrl"];
    bool isCompleteEditPwd = Request.QueryString["isCompleteEditPwd"] == null ? false : bool.Parse(Request.QueryString["isCompleteEditPwd"]);
    //bool isCompleteEditPwd = ViewBag.IsCompleteEditPwd == null ? false : (bool)ViewBag.IsCompleteEditPwd;

    //密碼已更新
    if (isCompleteEditPwd)
    {
        if(returnUrl != "")
        { 
            <script>
                alert('修改成功');
                location.href = '@returnUrl';
            </script>
            return;
        }
        else
        {
            <script>
                alert('修改成功');                
            </script>
        }
    }
}

@using (Html.BeginForm("PostEditPwd", "Users", new { returnUrl = returnUrl }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@ViewBag.Title</h4>
        <h4>
            @{
                var PwdUpdateDate = (DateTime)ViewBag.PwdUpdateDate;
                var diffDays = DateFormat.ToDiffDays(PwdUpdateDate, DateTime.Today);

                string strOverDatePwd = "";
                if(diffDays == 0)
                {
                    strOverDatePwd = "*****密碼已達三個月需變更，請變更密碼*****";
                }
                else if(diffDays < 0)
                {
                    strOverDatePwd = string.Format("*****密碼已超過三個月，請變更密碼*****", diffDays * -1);
                }
                <span class="text-danger">@strOverDatePwd</span>
            }
        </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OldPwd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OldPwd, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.OldPwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pwd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pwd, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Pwd, "", new { @class = "text-danger" })
                <p style="color:red">@ViewBag.Msg </p>
            </div>
           
        </div>
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="修改" class="btn btn-default" />
            </div>
        </div>
    </div>
}
