@model MyEPA.ViewModels.DamageViewModel
@using MyEPA.Models
@using MyEPA.Enums;
@{
    ViewBag.Title = "災情通報 - 修改";
    Layout = "~/Views/_Layout.cshtml";
    UserBriefModel user = ViewBag.User;
    //垃圾場
    List<SelectListItem> landfills = ViewBag.Landfills;
    //焚化廠
    List<SelectListItem> incinerators = ViewBag.Incinerators;
    List<FileDataModel> files = ViewBag.Files;
    List<FileDataModel> images = ViewBag.Images;
    //環境清理
    List<FileDataModel> ccfiles = ViewBag.CCFiles;
    List<FileDataModel> ccimages = ViewBag.CCImages;
}
<style type="text/css">
    .imgDiv {
        display: inline-block;
        position: relative;
    }

        .imgDiv .delete {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 10px;
            height: 10px;
        }

    .mouse-pointer {
        cursor: pointer;
    }
</style>
<h3>@ViewBag.Title</h3>
<br />
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            <label>災害主題：@Model.DiasterName</label>
            <br />
            <label>災害日期：@(Model.ReportDay != null ? ((DateTime)Model.ReportDay).ToString("yyyy-MM-dd") : "")</label>
            <br />
            <label>縣市：@Model.CityName</label>
            @if (!string.IsNullOrEmpty(Model.TownName))
            {
                <br />
                <label>鄉鎮：@Model.TownName</label>
            }
            <span id="iptNote">
                <br />
                <label class="mt-30" style="font-size: 30px; background-color: #77FFCC">請勿重複填寫清潔隊災情通報內容</label>
            </span>
        </div>
    </div>
</div>

@using (Html.BeginForm("Edit", "Damage", FormMethod.Post, new { @enctype = "multipart/form-data", onsubmit = "return ValidateInput(this);" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.DiasterId)
        

        <div class="form-group">
            @Html.LabelFor(model => model.DamagePlace, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DamagePlace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DamagePlace, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.DamageArea, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DamageArea, new { htmlAttributes = new { @class = "form-control", @Type = "number", min = 0, step = "0.001" } })
                    @Html.ValidationMessageFor(model => model.DamageArea, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FloodArea, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FloodArea, new { htmlAttributes = new { @class = "form-control", @Type = "number", min = 0, step = "0.001" } })
                    @Html.ValidationMessageFor(model => model.FloodArea, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.DumpSiteDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DumpSiteDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DumpSiteDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--垃圾掩埋場-->
        <div class="form-group">
            @Html.LabelFor(model => model.LandfillIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @for (int i = 0; i < landfills.Count; i++)
                {
                    var item = landfills[i];

                    <input id="InputLandfillIds[@i]" name="InputLandfillIds" @(Model.InputLandfillIds.Select(e => e.ToString()).Contains(item.Value) ? "checked=\"checked\"" : string.Empty) value="@item.Value" type="checkbox" />
                    <label for="InputLandfillIds[@i]">@item.Text</label>
                    <br />
                }
                @Html.ValidationMessageFor(model => model.LandfillIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IncinerationPlantDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncinerationPlantDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncinerationPlantDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--焚化廠-->
        <div class="form-group">
            @Html.LabelFor(model => model.IncineratorIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @for (int i = 0; i < incinerators.Count; i++)
                {
                    var item = incinerators[i];

                    <input id="InputIncineratorIds[@i]" name="InputIncineratorIds" @(Model.InputIncineratorIds.Select(e => e.ToString()).Contains(item.Value) ? "checked=\"checked\"" : string.Empty) value="@item.Value" type="checkbox" />
                    <label for="InputIncineratorIds[@i]">@item.Text</label>
                    <br />
                }
                @Html.ValidationMessageFor(model => model.IncineratorIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Other, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Other, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Other, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <!--@Html.LabelFor(model => model.ImageFileId, htmlAttributes: new { @class = "control-label col-md-2" })-->
            <label class="control-label col-md-2" for="ImageFileId">照片(災情通報)</label>
            <div class="col-md-10">
                @if (Model.ImageFile != null)
                {
                    <img width="200" src="@Url.Action("Download","FileData",new {id = Model.ImageFile.Id })" />
                }
                @foreach (var item in images)
                {
                    <div class="imgDiv">
                        <img width="200" src="@Url.Action("Download","FileData",new {id = item.Id })" />
                        <a class="mouse-pointer delete" style="color:red" onclick="delimg(this,@item.Id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                            </svg>
                        </a>
                    </div>
                }

                <div class="form-group">
                    <div class="col-md-10">
                        <button type="button" onclick="addimg()">新增</button>
                        <input class="imgs" type="file" name="ImageFile" accept=".jpg, .jpeg, .png" />
                        <span class="text-primary mt-2">限定(.jpg, .jpeg, .png)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <!--@Html.LabelFor(model => model.FileId, htmlAttributes: new { @class = "control-label col-md-2" })-->
            <label class="control-label col-md-2" for="ImageFileId">檔案(災情通報)</label>
            <div class="col-md-10">
                <ul>
                    @if (Model.File != null)
                    {
                        <li>
                            @Html.ActionLink(Model.File.UserFileName, "Download", "FileData", new { id = Model.File.Id }, new { })
                            <a href="#" class="delete" style="color:red" onclick="del(this,@Model.File.Id)">刪除</a>
                        </li>
                    }
                    @foreach (var item in files)
                    {

                        <li>
                            @Html.ActionLink(item.UserFileName, "Download", "FileData", new { id = item.Id }, new { })
                            <a class="mouse-pointer delete" style="color:red" onclick="del(this,@item.Id)">刪除</a>
                        </li>
                    }
                </ul>
                <div class="form-group">
                    <div class="col-md-10">
                        <button type="button" onclick="add()">新增</button>
                        <input class="files" type="file" name="File" accept=".png, .pdf, .jpg, .jpeg, .docx, .mp4" />
                        <span class="text-primary mt-2">限定(.png, .pdf, .jpg, .jpeg, .docx, .mp4)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    function ValidateInput(form) {

        //清潔隊不提示
        if (!isCleaning) {
            if (!confirm('請勿重複填寫清潔隊災情通報內容？')) {
                return false;
            }
        }
    }
</script>

@section scripts{
    <script>

        //是否為清潔隊
        var isCleaning = '@(user.Duty == MyEPA.Enums.DutyEnum.Cleaning)'.toLowerCase() == 'true';

        $(document).ready(function () {
            //清潔隊不提示
            if (isCleaning) {
                $('#iptNote').hide();
            }
        });

        function del(item,id) {

            var url = '@Url.Action("Delete","FileData",new {sourceType=SourceTypeEnum.DamageFile})' + '&id=' + id;
            $.ajax({
                url: url,
                error: function (xhr) {
                    alert('刪除失敗');
                },
                success: function (response) {
                    $(item).parent('li').remove()
                }
            });
        }
        function delimg(item,id) {

            var url = '@Url.Action("Delete","FileData",new {sourceType=SourceTypeEnum.DamageImage})' + '&id=' + id;
            $.ajax({
                url: url,
                error: function (xhr) {
                    alert('刪除失敗');
                },
                success: function (response) {
                    $(item).parent('div').remove()
                }
            });
        }
        function add() {
            $('.files:last').clone().insertAfter('.files:last');
            $('.files:last').val('');
        }
        function addimg() {
            $('.imgs:last').clone().insertAfter('.imgs:last');
            $('.imgs:last').val('');
        }

        //環境清理
        function addcc() {
            $('.ccfiles:last').clone().insertAfter('.ccfiles:last');
            $('.ccfiles:last').val('');
        }

        function addccimg() {
            $('.ccimgs:last').clone().insertAfter('.ccimgs:last');
            $('.ccimgs:last').val('');
        }
    </script>
}