@model MyEPA.ViewModels.DamageViewModel
@using MyEPA.Models
@using MyEPA.Enums;
@{
    ViewBag.Title = "環境清理 - 修改";
    Layout = "~/Views/_Layout.cshtml";

    //環境清理
    List<FileDataModel> ccfiles = ViewBag.CCFiles;
    List<FileDataModel> ccimages = ViewBag.CCImages;
}
<style type="text/css">
    .imgDiv {
        display: inline-block;
        position: relative;
    }

        .imgDiv .delete {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 10px;
            height: 10px;
        }

    .mouse-pointer {
        cursor: pointer;
    }
</style>
<h3>@ViewBag.Title</h3>
<br />
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            <label>災害主題：@Model.DiasterName</label>
            <br />
            <label>災害日期：@(Model.ReportDay != null ? ((DateTime)Model.ReportDay).ToString("yyyy-MM-dd") : "")</label>
            <br />
            <label>縣市：@Model.CityName</label>
            @if (!string.IsNullOrEmpty(Model.TownName))
            {
                <br />
                <label>鄉鎮：@Model.TownName</label>
            }
        </div>
    </div>
</div>

@using (Html.BeginForm("EditCC", "Damage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.DiasterId)

        <div class="form-group">
            @Html.LabelFor(model => model.DisinfectDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("DisinfectDate", Model.DisinfectDate != null ? ((DateTime)Model.DisinfectDate).ToString("yyyy-MM-dd") : "", new { @type = "Date" })
                @Html.ValidationMessageFor(model => model.DisinfectDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DisinfectArea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisinfectArea, new { htmlAttributes = new { @class = "form-control", @Type = "number", min = 0, step = "0.001" } })
                @Html.ValidationMessageFor(model => model.DisinfectArea, "", new { @class = "text-danger" })
                <span>
                    ※面積換算：
                    1公頃=10000平方公尺
                    100公頃=1平方公里
                </span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CLE_Disinfect, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CLE_Disinfect, new { htmlAttributes = new { @class = "form-control", @Type = "number", min = 0, step = "0.001" } })
                @Html.ValidationMessageFor(model => model.CLE_Disinfect, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CLE_MUD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CLE_MUD, new { htmlAttributes = new { @class = "form-control", @Type = "number", min = 0, step = "0.001" } })
                @Html.ValidationMessageFor(model => model.CLE_MUD, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CLE_Garbage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CLE_Garbage, new { htmlAttributes = new { @class = "form-control", @Type = "number", min = 0, step = "0.001" } })
                @Html.ValidationMessageFor(model => model.CLE_Garbage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CleaningMemberQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CleaningMemberQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CleaningMemberQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NationalArmyQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NationalArmyQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NationalArmyQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--環境清理-->
        <div class="form-group">
            <label class="control-label col-md-2">照片(環境清理)</label>
            <div class="col-md-10">
                @if (Model.CCImageFile != null)
                {
                    <img width="200" src="@Url.Action("Download","FileData",new {id = Model.CCImageFile.Id })" />
                }
                @foreach (var item in ccimages)
                {
                    <div class="imgDiv">
                        <img width="200" src="@Url.Action("Download","FileData",new {id = item.Id })" />
                        <a class="mouse-pointer delete" style="color:red" onclick="delimg(this,@item.Id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                            </svg>
                        </a>
                    </div>
                }

                <div class="form-group">
                    <div class="col-md-10">
                        <button type="button" onclick="addccimg()">新增</button>
                        <input class="ccimgs" type="file" name="CCImageFile" accept="image/*" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">檔案(環境清理)</label>
            <div class="col-md-10">
                <ul>
                    @if (Model.CCFile != null)
                    {
                        <li>
                            @Html.ActionLink(Model.CCFile.UserFileName, "Download", "FileData", new { id = Model.CCFile.Id }, new { })
                            <a href="#" class="delete" style="color:red" onclick="del(this,@Model.CCFile.Id)">刪除</a>
                        </li>
                    }
                    @foreach (var item in ccfiles)
                    {

                        <li>
                            @Html.ActionLink(item.UserFileName, "Download", "FileData", new { id = item.Id }, new { })
                            <a class="mouse-pointer delete" style="color:red" onclick="del(this,@item.Id)">刪除</a>
                        </li>
                    }
                </ul>
                <div class="form-group">
                    <div class="col-md-10">
                        <button type="button" onclick="addcc()">新增</button>
                        <input class="ccfiles" type="file" name="CCFile" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProcessDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProcessDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProcessDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section scripts{
    <script>
        function del(item,id) {

            var url = '@Url.Action("Delete","FileData",new {sourceType=SourceTypeEnum.DamageFile})' + '&id=' + id;
            $.ajax({
                url: url,
                error: function (xhr) {
                    alert('刪除失敗');
                },
                success: function (response) {
                    $(item).parent('li').remove()
                }
            });
        }
        function delimg(item,id) {

            var url = '@Url.Action("Delete","FileData",new {sourceType=SourceTypeEnum.DamageImage})' + '&id=' + id;
            $.ajax({
                url: url,
                error: function (xhr) {
                    alert('刪除失敗');
                },
                success: function (response) {
                    $(item).parent('div').remove()
                }
            });
        }
        function add() {
            $('.files:last').clone().insertAfter('.files:last');
            $('.files:last').val('');
        }
        function addimg() {
            $('.imgs:last').clone().insertAfter('.imgs:last');
            $('.imgs:last').val('');
        }

        //環境清理
        function addcc() {
            $('.ccfiles:last').clone().insertAfter('.ccfiles:last');
            $('.ccfiles:last').val('');
        }

        function addccimg() {
            $('.ccimgs:last').clone().insertAfter('.ccimgs:last');
            $('.ccimgs:last').val('');
        }
    </script>
}