@model IEnumerable<MyEPA.ViewModels.FacilityDamageViewModel>

@using MyEPA.Models;
@using MyEPA.Enums;
@{
    ViewBag.Title = "災情通報";
    Layout = "~/Views/_Layout.cshtml";
    List<DiasterModel> diasters = ViewBag.Diasters;
    int? diasterId = ViewBag.DiasterId;
    List<FacilityDamageTypeEnum> types = ViewBag.FacilityDamageTypes;
    FacilityDamageTypeEnum type = ViewBag.Type;
    var citys = (List<CityModel>)ViewBag.Citys;
    var towns = (List<TownModel>)ViewBag.Towns;
    DutyEnum duty = ViewBag.DutyId;

    int? selectAreaId = ViewBag.AreaId;
}

<h2>@ViewBag.Title</h2>
<div class="col-xs-12">
    <div class="row">
        <h3>公告事項</h3>
        <h5 class="red">目前災害名稱：@diasters.Where(e => e.Id == diasterId).Select(e => e.DiasterName).FirstOrDefault()</h5>
        <hr>
    </div>
    <div class="row">
        @using (Html.BeginForm("FacilityDamage", "Damage", new { }, FormMethod.Get, new { }))
        {
            <table border="0">
                <tbody>
                    <tr>
                        <td><h5>災害名稱：</h5></td>
                        <td>
                            <select name="diasterId">
                                @foreach (var item in diasters)
                                {
                                    <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>三區中心：</h5></td>
                        <td>

                            <select name="areaId">
                                <option value="">全部</option>
                                @foreach (var option in Code.GetCityArea())
                                {
                                    <option value="@option.Key" @(selectAreaId == option.Key ? "selected" : string.Empty)> @option.Value</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>通報單位：</h5></td>
                        <td>
                            <select id="City" Name="CityId">
                                @if (citys.Count > 1)
                                {
                                    <option value="">全部縣市</option>
                                }
                                @foreach (var city in citys)
                                {
                                    string selected = city.Id == ViewBag.CityId ? "selected" : "";
                                    <option value="@city.Id" @selected>@city.City</option>
                                }
                            </select>
                            <select id="Town" name="TownId">
                                <option value="">全部鄉鎮</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>指定查詢類別：</h5></td>
                        <td>
                            <select name="type">
                                @foreach (var item in types)
                                {
                                    <option value="@((int)item)" @(item == type ? "selected" : string.Empty)>@item.GetDescription()</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr align="center">
                        <td colspan="2"><button type="submit" class="btn btn-primary" href=""><i class="fa fa-search"></i>&nbsp;查詢</button></td>
                    </tr>
                </tbody>
            </table>
        }
        <hr>
    </div>

    <div class="row">
        <div class="widget-body">
            <div class="widget-main no-padding table-responsive">

                <table class="table">
                    <tr>
                        <th colspan="13">
                            <span class="text-primary">共@(Model.Count())筆</span>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CityName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TownName)
                        </th>
                        <th>
                            災害通報日期
                        </th>
                        <th>主要受災(區村里)</th>
                        <th>垃圾場損壞情形</th>
                        <th>焚化廠損壞情形</th>
                        <th>其他損壞情形</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Places)
                        </th>
                        <th>圖片</th>
                        <th>檔案下載</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>
                        <th>
                            處理情形
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TownName)
                            </td>
                            <td>
                                @(item.ReportDay != null ? ((DateTime)item.ReportDay).ToString("yyyy/MM/dd") : "")
                            </td>
                            <td>@item.DamagePlace</td>
                            <td>@item.DumpSiteDesc</td>
                            <td>@item.IncinerationPlantDesc</td>
                            <td>@item.Other</td>
                            <td>
                                @Html.Raw("<span>" + string.Join("</br>", item.Places) + "</span>")
                            </td>
                            <td>
                                @foreach (var img in item.Images)
                                {
                                    <div class="imgDiv">
                                        <a href="@Url.Action("Download", "FileData",new {id = img.Id })" title="圖片" class="links">
                                            <img alt="圖片" src="@Url.Action("Download","FileData",new {id = img.Id })" height="30" width="30">
                                        </a>
                                    </div>
                                }
                            </td>
                            <td>
                                @foreach (var img in item.Files)
                                {
                                    <div class="imgDiv">
                                        @Html.ActionLink(img.UserFileName, "Download", "FileData", new { id = img.Id }, new { })
                                    </div>
                                }
                            </td>
                            <td>
                                @*編輯*@
                                @*@Html.ActionLink(string.IsNullOrWhiteSpace(item.Note) ? "未輸入" : "已輸入", "Memo", new { id = item.Id, type = type })*@

                                @*檢視*@
                                @if (!string.IsNullOrEmpty(item.Note))
                                {
                                    string note = @item.Note;
                                    if (@item.Note.Length > 5)
                                        note = @item.Note.Substring(0, 5) + "...";

                                    <font>@note</font>
                                }

                            </td>
                            <td>
                                @if (duty == DutyEnum.Corps || duty == DutyEnum.Team || duty == DutyEnum.EPA)
                                {
                                    @Html.ActionLink(string.IsNullOrWhiteSpace(item.ProcessDesc) ? "未輸入" : "已輸入", "CorpsHandlingSituation", new { id = item.Id, type = type })
                                }
                                else
                                {
                                    @Html.ActionLink(string.IsNullOrWhiteSpace(item.ProcessDesc) ? "未輸入" : "已輸入", "CorpsHandlingSituationShow", new { id = item.Id, type = type })
                                }

                            </td>
                            <td>
                                @(item.CreateDate != null ? ((DateTime)item.CreateDate).ToString("yyyy/MM/dd HH:mm:ss") : "")
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
    $(document).ready(function () {
        //選定縣市(ex.縣市下拉查詢)
        GetTowns();

        $('#City').change(function ()
        {
            GetTowns();
        });
    });

    function GetTowns(cityId) {

        $('#Town').empty();
        $('#Town').append($('<option></option>').val('').text('全部鄉鎮'));

        cityId = $('#City option:selected').val();
        if (cityId == null) {
            alert("cityId錯誤：null");
            return;
        }
        else if (cityId == "") {
            return;
        }

        $.ajax({
            url: '@Url.Action("Towns", "Geolocation")'+'?cityId='+cityId,
            type: 'get',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {

                    $.each(data, function (i, item) {
                        var townId = String(item.Id);
                        if (townId === '@ViewBag.TownId') {
                            $('#Town').append($('<option selected="selected"></option>').val(item.Id).text(item.Name));
                        }
                        else {
                            $('#Town').append($('<option ></option>').val(item.Id).text(item.Name));
                        }
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }

        });
    }
    </script>

}