@model IEnumerable<MyEPA.Models.DamageJoinModel>
@using MyEPA.Models;
@{
    ViewBag.Title = "災情及清理通報";
    Layout = "~/Views/_Layout.cshtml";
    int diasterId = ViewBag.DiasterId;
    List<DiasterModel> Diasters = ViewBag.Diasters;
    int? cityId = ViewBag.CityId;
    int? townId = ViewBag.TownId;
    List<CityModel> citys = ViewBag.Citys;
    DateTime? startTime = ViewBag.StartTime;
    DateTime? endTime = ViewBag.EndTime;
    
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Index", "Damage", new { }, FormMethod.Get, new { }))
{
    <table border="0">
        <tbody>
            <tr>
                <td><h5>災害名稱：</h5></td>
                <td>
                    <select name="diasterId">
                        @foreach (var item in Diasters)
                        {
                            <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><h5>通報單位：</h5></td>
                <td>
                    <select id="City" name="cityId">
                        <option value="">全部縣市</option>
                        @foreach (var item in citys)
                        {
                            <option value="@item.Id" @(cityId == item.Id ? "selected" : string.Empty)>@item.City</option>
                        }
                    </select>
                    <label>鄉鎮市</label>
                    <select id="Town" name="TownId">
                        <option value="">全部</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <h5>通報日期 </h5><h6>(非災害日期)</h6>
                </td>
                <td>
                    起始時間：<input name="StartTime" type="datetime-local" value="@(startTime.HasValue ? startTime.Value.ToString("yyyy-MM-ddTHH:mm"):string.Empty)" />

                </td>
            </tr>
            <tr>
                <td>
                    結束時間：<input name="EndTime" type="datetime-local" value="@(endTime.HasValue ? endTime.Value.ToString("yyyy-MM-ddTHH:mm"):string.Empty)" />

                </td>
            </tr>

            <tr><td>&nbsp;</td></tr>
            <tr align="center">
                <td colspan="2"><button type="submit" class="btn btn-primary" href=""><i class="fa fa-search"></i>&nbsp;查詢</button></td>
            </tr>
        </tbody>
    </table>
}
<hr>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TownName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DamagePlace)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DamageArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloodArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PR_Garbage)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DisinfectDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisinfectArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLE_Disinfect)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CLE_Trash)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CLE_Garbage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLE_MUD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CleaningMemberQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalArmyQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DumpSiteDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncinerationPlantDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(item.CityName + item.TownName)
            </td>
            <th>
                @(item.ReportDay != null ? ((DateTime)item.ReportDay).ToString("yyyy/MM/dd") : "")
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.DamagePlace)
            </th>
            @*<th>
                @Html.DisplayFor(modelItem => item.DamageArea)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.FloodArea)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PR_Garbage)
            </th>*@
            <th>
                @(item.DisinfectDate != null ? ((DateTime)item.DisinfectDate).ToString("yyyy/MM/dd") : "")
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.DisinfectArea)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CLE_Disinfect)
            </th>
            @*<th>
                @Html.DisplayFor(modelItem => item.CLE_Trash)
            </th>*@
            <th>
                @Html.DisplayFor(modelItem => item.CLE_Garbage)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CLE_MUD)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CleaningMemberQuantity)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.NationalArmyQuantity)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.DumpSiteDesc)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.IncinerationPlantDesc)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Other)
            </th>
            <th>
                @item.CreateDate.ToString("yyyy/MM/dd HH:mm:ss")
            </th>
        </tr>
    }

</table>
<script src="~/Scripts/assets/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        var cityId = '@cityId';
        if ($.trim(cityId).length > 0) {
            GetTowns(cityId);
        }
        $('#City').change(function () { ChangeCity(); });
    });
    function ChangeCity() {
        var selectedValue = $('#City option:selected').val();
        if ($.trim(selectedValue).length > 0) {
            GetTowns(selectedValue);
        }
    }
    function GetTowns(cityId) {
        $.ajax({
            url: '@Url.Action("Towns", "Geolocation")'+'?cityId='+cityId,
            type: 'get',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                $('#Town').empty();
                $('#Town').append($('<option></option>').val('').text('全部'));
                if (data.length > 0) {

                    $.each(data, function (i, item) {
                        var townId = String(item.Id);
                        if (townId === '@townId') {
                            $('#Town').append($('<option selected="selected"></option>').val(item.Id).text(item.Name));
                        }
                        else {
                            $('#Town').append($('<option ></option>').val(item.Id).text(item.Name));
                        }
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }

        });
    }
</script>