@model IEnumerable<MyEPA.Models.DamageJoinModel>
@using MyEPA.Models;
@{
    ViewBag.Title = "環境清理通報";
    Layout = "~/Views/_Layout.cshtml";
    int diasterId = ViewBag.DiasterId;
    List<DiasterModel> Diasters = ViewBag.Diasters;
    int? cityId = ViewBag.CityId;
    int? townId = ViewBag.TownId;
    List<CityModel> citys = ViewBag.Citys;
    DateTime? startTime = ViewBag.StartTime;
    DateTime? endTime = ViewBag.EndTime;

    int? selectAreaId = ViewBag.AreaId;
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Index", "Damage", new { }, FormMethod.Get, new { }))
{
    <table border="0">
        <tbody>
            <tr>
                <td><h5>災害名稱：</h5></td>
                <td>
                    <select name="diasterId">
                        @foreach (var item in Diasters)
                        {
                            <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><h5>三區中心：</h5></td>
                <td>

                    <select name="areaId">
                        <option value="">全部</option>
                        @foreach (var option in Code.GetCityArea())
                        {
                            <option value="@option.Key" @(selectAreaId == option.Key ? "selected" : string.Empty)> @option.Value</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><h5>通報單位：</h5></td>
                <td>
                    <select id="City" name="cityId">
                        <option value="">全部縣市</option>
                        @foreach (var item in citys)
                        {
                            <option value="@item.Id" @(cityId == item.Id ? "selected" : string.Empty)>@item.City</option>
                        }
                    </select>
                    <label>鄉鎮市</label>
                    <select id="Town" name="TownId">
                        <option value="">全部</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <h5>環境清理建檔時間：</h5><h6>(非災害日期)</h6>
                </td>
                <td>
                    起始時間：<input name="cleanStartTime" type="date" value="@(startTime.HasValue ? startTime.Value.ToString("yyyy-MM-ddTHH:mm"):string.Empty)" />

                </td>
            </tr>
            <tr>
                <td>
                    結束時間：<input name="cleanEndTime" type="date" value="@(endTime.HasValue ? endTime.Value.ToString("yyyy-MM-ddTHH:mm"):string.Empty)" />

                </td>
            </tr>

            <tr><td>&nbsp;</td></tr>
            <tr align="center">
                <td colspan="2"><button type="submit" class="btn btn-primary" href=""><i class="fa fa-search"></i>&nbsp;查詢</button></td>
            </tr>
        </tbody>
    </table>
}
<hr>
<table class="table">
    <tr bgcolor="#F7F7DE">
        <th>
            @Html.DisplayNameFor(model => model.TownName)
        </th>
        <th>
            環境清理通報日期
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisinfectDate)
        </th>
        <th>實際消毒<br />面積(公頃)</th>
        <th>已清除<br />污泥(公噸)</th>
        <th>已清除<br />廢棄物(公噸)</th>
        <th>已動用<br />清潔人力(人次)</th>
        <th>已動用<br />國軍人力(人次)</th>
        <th>已使用<br />藥劑數量(公升)</th>
        <th>已使用<br />藥劑數量(公斤)</th>
        <th>已使用<br />機具</th>
        <th>已使用<br />車輛</th>
        <th>圖片</th>
        <th>檔案下載</th>
        <th>
            @Html.DisplayNameFor(model => model.CleanCreateDate)
        </th>
    </tr>
    <tr bgcolor="#F7F7DE">
        <th>合計</th>
        <th>
            共@(Model.Count())筆
        </th>
        <th></th>
        <th>
            @Model.Sum(e => e.DisinfectArea)
        </th>
        <th>
            @Model.Sum(e => e.CLE_MUD)
        </th>
        <th>
            @Model.Sum(e => e.CLE_Garbage)
        </th>
        <th>
            @Model.Sum(e => e.CleaningMemberQuantity)
        </th>
        <th>
            @Model.Sum(e => e.NationalArmyQuantity)
        </th>
        <th>
            @Model.Sum(e => e.CLE_DisinfectorL)
        </th>
        <th>
            @Model.Sum(e => e.CLE_DisinfectorW)
        </th>
        <th>
            @Model.Sum(e => e.CLE_EquipmentNum)
        </th>
        <th>
            @Model.Sum(e => e.CLE_CarNum)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(item.CityName + item.TownName)
            </td>
            <th>
                @(item.CleanDay != null ? ((DateTime)item.CleanDay).ToString("yyyy/MM/dd") : "")
            </th>
            <th>
                @(item.DisinfectDate != null ? ((DateTime)item.DisinfectDate).ToString("yyyy/MM/dd") : "")
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.DisinfectArea)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CLE_MUD)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CLE_Garbage)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CleaningMemberQuantity)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.NationalArmyQuantity)
            </th>
            <th>@item.CLE_DisinfectorL</th>
            <th>@item.CLE_DisinfectorW</th>
            <th>
                @item.CLE_EquipmentNum
                <br />
                @item.CLE_EquipmentDesc
            </th>
            <th>
                @item.CLE_CarNum
                <br />
                @item.CLE_CarDesc
            </th>
            <th>
                @foreach (var img in item.Images)
                {
                    <div class="imgDiv">
                        <a href="@Url.Action("Download", "FileData",new {id = img.Id })" title="圖片" class="links">
                            <img alt="圖片" src="@Url.Action("Download","FileData",new {id = img.Id })" height="30" width="30">
                        </a>
                    </div>
                }
            </th>
            <th>
                @foreach (var img in item.Files)
                {
                    <div class="imgDiv">
                        @Html.ActionLink(img.UserFileName, "Download", "FileData", new { id = img.Id }, new { })
                    </div>
                }
            </th>
            <th>
                @(item.CleanCreateDate != null ? ((DateTime)item.CleanCreateDate).ToString("yyyy/MM/dd HH:mm:ss") : "")
            </th>
        </tr>
    }

</table>
<script src="~/Scripts/assets/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        var cityId = '@cityId';
        if ($.trim(cityId).length > 0) {
            GetTowns(cityId);
        }
        $('#City').change(function () { ChangeCity(); });
    });
    function ChangeCity() {
        var selectedValue = $('#City option:selected').val();
        if ($.trim(selectedValue).length > 0) {
            GetTowns(selectedValue);
        }
    }
    function GetTowns(cityId) {
        $.ajax({
            url: '@Url.Action("Towns", "Geolocation")'+'?cityId='+cityId,
            type: 'get',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                $('#Town').empty();
                $('#Town').append($('<option></option>').val('').text('全部'));
                if (data.length > 0) {

                    $.each(data, function (i, item) {
                        var townId = String(item.Id);
                        if (townId === '@townId') {
                            $('#Town').append($('<option selected="selected"></option>').val(item.Id).text(item.Name));
                        }
                        else {
                            $('#Town').append($('<option ></option>').val(item.Id).text(item.Name));
                        }
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }

        });
    }
</script>