@model IEnumerable<MyEPA.Models.DamageTeamConfirmViewModel>
@using MyEPA.Models;
@{
    ViewBag.Title = "災情通報確認(災時/後)";
    Layout = "~/Views/_Layout.cshtml";
    int diasterId = ViewBag.DiasterId;
    List<DiasterModel> diasters = ViewBag.Diasters;
    List<CityModel> citys = ViewBag.Citys;
}

<h3>@ViewBag.Title</h3>
<div class="">
    @using (Html.BeginForm("TeamConfirmList", "Damage", new { }, FormMethod.Get, new { }))
    {
        <table border="0">
            <tbody>
                <tr>
                    <td><h5>災害名稱：</h5></td>
                    <td>
                        <select name="diasterId">
                            @foreach (var item in diasters)
                            {
                                <option value="@item.Id" @(item.Id == diasterId ? "selected" : string.Empty)>@item.DiasterName</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><h5>通報單位：</h5></td>
                    <td>
                        <select name="cityId">
                            <option value="">全部縣市</option>
                            @foreach (var item in citys)
                            {
                                <option value="@item.Id">@item.City</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr align="center">
                    <td colspan="2"><button type="submit" class="btn btn-primary" href=""><i class="fa fa-search"></i>&nbsp;查詢</button></td>
                </tr>
            </tbody>
        </table>
    }
    <hr>
</div>
<table class="table">
    <tr>
        <th>
            三區中心確認
        </th>
        <th>
            環保局通報狀態
        </th>
        <th>
            災害通報日期
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th> 鄉鎮資料</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Status == MyEPA.Enums.DamageStatusEnum.Waiting)
                {
                    <a href="#" onclick="Confirm(@item.Id,@(MyEPA.Enums.DamageStatusEnum.Confirm.ToInteger()))">確認</a>
                }
                else if (item.Status == MyEPA.Enums.DamageStatusEnum.Confirm)
                {
                    <a href="#" onclick="Confirm(@item.Id,@(MyEPA.Enums.DamageStatusEnum.Waiting.ToInteger()))">取消確認</a>
                    <br />
                    <span>@item.TeamConfirmTime</span>
                }
            </td>
            <td>
                @{
                    if (item.Status == MyEPA.Enums.DamageStatusEnum.Waiting)
                    {
                        <span>已通報</span>
                    }
                    else if (item.Status == MyEPA.Enums.DamageStatusEnum.Confirm)
                    {
                        <span>已確認</span>
                        <br />
                        <span>
                            @(item.TeamConfirmTime != null ? ((DateTime)item.TeamConfirmTime).ToString("yyyy/MM/dd") : "")
                        </span>
                    }
                    else
                    {
                        <span style="color:red">@item.Status.GetDescription()</span>
                    }
                }
            </td>
            <td>
                @(item.ReportDay != null ? ((DateTime)item.ReportDay).ToString("yyyy/MM/dd") : "")
            </td>
            <td>
                <a class="btn btn-default" href="@Url.Action("TownList", new { diasterId, cityId = item.CityId, townId = item.TownId, date = item.ReportDay != null ? ((DateTime)item.ReportDay).ToString("yyyy/MM/dd") : "" })">@item.CityName</a>
            </td>
            <td>
                <a class="btn btn-default" href="@Url.Action("TownList", new { diasterId, cityId = item.CityId, date = item.ReportDay != null ? ((DateTime)item.ReportDay).ToString("yyyy/MM/dd") : "" })">鄉鎮查看</a>
            </td>
        </tr>
    }

</table>

<script>
    function Confirm(id,status) {
        var url = `@Url.Action("Confirm",new { })?id=${id}&status=${status}&hType=1`;
        var type = 'get';
        $.ajax({
            url: url,
            type: type,
            success: function (data) {
                if (data.IsSuccess) {
                    alert("成功");
                    location.reload();
                } else {
                    alert(data.ErrorMessage);
                    location.reload();
                }
            },
        })
    }
</script>