@model IEnumerable<MyEPA.Models.DamageStatisticsTownViewModel>
@using MyEPA.Extensions;
@{
    ViewBag.Title = "環境清理統計-鄉鎮";
    Layout = "~/Views/_Layout.cshtml";
}
    <h3>@ViewBag.Title </h3>
<table class="table">
    <tr style="color:White;background-color:#9AAC95;font-weight:bold;">

        <th>
            @Html.DisplayNameFor(model => model.TownName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TownArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisinfectArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLE_MUD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLE_Garbage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CleaningMemberQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalArmyQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLE_DisinfectorL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLE_DisinfectorW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisinfectantSolidAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisinfectantLiquidAmount)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CleanUpdateDate)
        </th>
    </tr>

    <tr>
        <th>合計</th>
        <th>@Math.Round(Model.Sum(e => e.TownArea), 2)</th>
        <th>@Model.Sum(e => e.DisinfectArea)</th>
        <th>@Model.Sum(e => e.CLE_MUD)</th>
        <th>@Model.Sum(e => e.CLE_Garbage)</th>
        <th>@Model.Sum(e => e.CleaningMemberQuantity)</th>
        <th>@Model.Sum(e => e.NationalArmyQuantity)</th>
        <th>@Model.Sum(e => e.CLE_DisinfectorL)</th>
        <th>@Model.Sum(e => e.CLE_DisinfectorW)</th>
        <th>@Model.Sum(e => e.DisinfectantSolidAmount)</th>
        <th>@Model.Sum(e => e.DisinfectantLiquidAmount)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TownName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TownArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisinfectArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLE_MUD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLE_Garbage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CleaningMemberQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalArmyQuantity)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.CLE_DisinfectorL)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CLE_DisinfectorW)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.DisinfectantSolidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisinfectantLiquidAmount)
            </td>
            <td>
                @item.CleanUpdateDate.ToDateTimeString()
            </td>
        </tr>
    }

</table>
