@model IEnumerable<MyEPA.Models.SearchViewModel.ContactManualTeamViewModel>

@{
    ViewBag.Title = "環境管理署春節期間一般廢棄物處理設備設施緊急應變通聯表";
    Layout = "~/Views/_ContactManualLayout.cshtml";
}
<div class="col-md-12 pdt-10">
    <h2>@ViewBag.Title</h2>
    <p>
        @Html.ActionLink("新增", "Create", new { }, new { @class = "btn btn-success" })
    </p>
    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaxNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sort)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="#" onclick="deleteItem(@item.Id)">刪除</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaxNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobilePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sort)
                </td>
            </tr>
        }
    </table>
</div>
    <script>
    function deleteItem(id) {
        if (confirm("是否確定要刪除？")) {
            $.ajax({
                url: '@Url.Action("Delete", "ContactManualTeam")',
                type: 'GET',
                data: {
                    Id: id
                },
                success: function (respones) {
                    history.go(0);
                }
            });
        }
    }
    </script>

