<!--
這是首頁最下方的呈現內容
使用於_FirstLayout 與_SecondLayout
m 代表 margin 2 代表行距*0.5
-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-12" name="link" id="link">
                <br>
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="mr-3" src="/Content/images/link_icon.png" alt="">
                                    <div class="media-body text-left">
                                        <h4 class="mt-0 mb-1"><a style="color:#FFF" title="我的E政府 另開新視窗" target="_blank" href="https://www.gov.tw/Default.aspx">我的E政府</a></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-12">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="mr-3" src="/Content/images/link_icon.png" alt="">
                                    <div class="media-body text-left">
                                        <h4 class="mt-0 mb-1"><a style="color:#FFF"title="災害情資網 另開新視窗" target="_blank" href="https://eocdss.ncdr.nat.gov.tw/">災害情資網</a></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-12">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="mr-3" src="/Content/images/link_icon.png" alt="">
                                    <div class="media-body text-left">
                                        <h4 class="mt-0 mb-1"><a style="color:#FFF" title="環境部 另開新視窗" target="_blank" href="https://www.moenv.gov.tw/">環境部</a></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-12">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="mr-3" src="/Content/images/link_icon.png" alt="">
                                    <div class="media-body text-left">
                                        <h4 class="mt-0 mb-1"><a style="color:#FFF" title="首長信箱 另開新視窗" target="_blank" href="https://epamail.moenv.gov.tw">首長信箱</a></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container mt-2">
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="mr-3" src="/Content/images/link_icon.png" alt="">
                                    <div class="media-body text-left">
                                        <h4 class="mt-0 mb-1"><a style="color:#FFF" title="應變管理資訊系統 另開新視窗" target="_blank" href="https://portal2.emic.gov.tw/">應變管理資訊雲端服務(EMIC)</a></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-12">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="mr-3" src="/Content/images/link_icon.png" alt="">
                                    <div class="media-body text-left">
                                        <h4 class="mt-0 mb-1"><a style="color:#FFF" title="水利署 防災資訊網 另開新視窗" target="_blank" href="https://fhy.wra.gov.tw/fhyv2/">水利署防災資訊網</a></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-12">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="mr-3" src="/Content/images/link_icon.png" alt="">
                                    <div class="media-body text-left">
                                        <h4 class="mt-0 mb-1"><a style="color:#FFF" title="中央氣象署 另開新視窗" target="_blank" href="https://www.cwa.gov.tw/">中央氣象署</a></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-12">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="mr-3" src="/Content/images/link_icon.png" alt="">
                                    <div class="media-body text-left">
                                        <h4 class="mt-0 mb-1"><a style="color:#FFF" title="災情預警應變決策支援系統(DEDS) 另開新視窗" target="_blank" href="@AppConfig.DEDSWebSite">災情預警應變決策支援系統(DEDS)</a></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p style="background:#A0CB50;color: #000000">
                    環境部&nbsp;版權所有<br>
                    © Ministry of Environment&nbsp;&nbsp;
                    @*<a href="https://www.moenv.gov.tw/Page/48C86940400163DD" target="_blank" title="環境部位置圖 另開新視窗"><button>MAP</button></a>*@
                    <br>
                     R.O.C(TAIWAN)
                </p>
            </div>
        </div>
    </div>
</footer>
<!--瀏覽器版本資訊-->
<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <br>
            <p id="webmap">
                <br /><a href="https://accessibility.moda.gov.tw/Applications/Detail?category=20240229164318" title="無障礙網站"><img src="/Content/images/無障礙標章2.0A級圖示.png" border="0" width="88" height="31" alt="通過A無障礙網頁檢測" /></a>
                @*│<a style="color: black" target="_blank" href="https://emis.epa.gov.tw/">回舊版</a>*@
                │<a style="color: black" href="@Url.Action("Notice","Home")">公告</a>
                │<a style="color: black" href="@Url.Action("News","Home")">新聞消息</a>
                @*│<a style="color: black" href="~/HTML5_20201216/Emis_edu/index.html" target="_blank" onclick="help()">操作說明</a>*@
                │<a style="color: black" href="@Url.Action("Register","Home")">線上註冊</a>
                │<a style="color: black" href="@Url.Action("Contact","Home")">聯絡資訊</a>
                │<a style="color: black" href="https://www.moenv.gov.tw/page/B12F9A27ED79AB88">網站政策及宣告</a>
            </p>
            <p class="pc">◎本站最佳瀏覽器：&nbsp;&nbsp;<img class="mr-3" src="/Content/images/chrome_icon2.png" alt="">Chrome 32版以上&nbsp;、&nbsp;<img class="mr-3" src="/Content/images/ie_icon2.png" alt="">Internet Explorer 11(含)以上&nbsp;&nbsp;&nbsp;&nbsp;◎臺灣標準時間TST(GMT +08:00)</p>
        </div>
    </div>
</div>

<!--回到上方-->

<a id="BackTop" href="#" title="TOP" class="toTop-arrow" role="button">
    <div style="display:block;color:black;margin-top:40px;text-align:center">返回上方</div>
</a>

<script>
    $(function () {
        $('#BackTop').click(function () {
            $('html,body').animate({ scrollTop: 0 }, 333);
        });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#BackTop').fadeIn(222);
            } else {
                $('#BackTop').stop().fadeOut(222);
            }
        }).scroll();
    });
</script>
<SCRIPT language=JavaScript>
    function help()
    {
        alert("您即將前往新頁面")
    }
</SCRIPT>
