@using MyEPA.Models;
@{
    ViewBag.Title = "聯絡人資料維護";
    var positions = ((List<PositionModel>)ViewBag.Positions).ToDictionary(e => e.Id, e => e);
}

<style>
    .field-Name {
        width: 6%;
    }

    .table tbody tr td {
        word-break: break-all;
    }
</style>

<font size="3">
    <table class="table table-bordered table-striped">
        <tr>
            <th class="text-center">
                @Html.ActionLink("新增", "Register", "EPAxUser", new { }, new { @class = "btn btn-danger", style = "padding:0px" })
            </th>
            <th>機關類別(角色)</th>
            <th>機關名稱(縣市)</th>
            <th>單位名稱(鄉鎮市區)</th>
            <th>帳號</th>
            <th>姓名</th>
            <th>人員類別</th>
            <th>職稱</th>
            <th>更新時間</th>
            <th>註冊來源IP</th>
        </tr>
        @foreach (UsersModel Item in ViewBag.Data)
        {
            <tr>
                <td style="text-align:center">
                    <button class="btn btn-primary" style="padding:0px;" onclick="PickItemForEdit('@Item.UserName','@Item.Name','@Item.City','@Item.Town','@Item.MobilePhone','@Item.HumanType','@Item.MainContacter','@Item.ReportPriority','@Item.Duty','@Item.Pwd','@Item.VoicePwd','@Item.PositionId','@Item.OfficePhone','@Item.Email','@Item.ISEnvironmentalProtectionAdministration','@Item.ISEnvironmentalProtectionDepartment','@Item.ISBook')">修改</button>
                    <button class="btn btn-warning" style="padding:0px;" onclick="PickItemForDelete('@Item.UserName','@Item.Name','@Item.Duty','@Item.City')">刪除</button>

                </td>
                <td>@Item.Duty</td>
                <td>@Item.City</td>
                <td>@Item.Town</td>
                <td>@Item.UserName</td>
                <td class="field-Name">@Item.Name</td>
                <td>@Item.HumanType</td>
                <td>@(positions.ContainsKey(Item.PositionId) ? positions[(int)Item.PositionId].Name : string.Empty)</td>
                <td>@(Item.UpdateDate.HasValue ? Item.UpdateDate.Value.ToString("yyyy/MM/dd HH:mm:ss") : string.Empty)</td>
                <td>@Item.RegSourceIP</td>
            </tr>
        }
    </table>
    <br /><br />
</font>
