@using MyEPA.Models;
<div style="background-color:azure">
    @*<br />
    <h5>@ViewBag.City<span>災情通報資料</span></h5>
    <br />*@
    <font size="3">
        <table class="table table-bordered table-striped">
            <tr>
                <th>編輯</th>
                <th>通報日期</th>
                <th>縣市</th>
                <th>鄉鎮市區</th>
                <th>有無災情</th>
                <th>主要受災(區村里)</th>
                <th>垃圾場損壞情形</th>
                <th>焚化廠損壞情形</th>
                <th>其他損壞情形</th>
                <th>圖片</th>
                <th>檔案下載</th>
            </tr>
            @foreach (var Item in (List<DamageJoinModel>)ViewBag.Data2)
            {
        <tr>
            <td>
                <a href="@Url.Action("Edit", "Damage", new { Id = Item.Id })">修改</a>

                <a onclick="return confirm('您確定要刪除嗎？')" href="@Url.Action("del", "Damage", new { Id = Item.Id })">刪除</a>
            </td>
            <td>@(Item.ReportDay != null ? ((DateTime)Item.ReportDay).ToString("yyyy/MM/dd") : "")</td>
            <td>@Item.CityName</td>
            <td>@Item.TownName</td>
            <td>@(Item.IsDamage != null && (bool)Item.IsDamage ? "有" : "無災情")</td>
            <td>@Item.DamagePlace</td>
            <td>@Item.DumpSiteDesc</td>
            <td>@Item.IncinerationPlantDesc</td>
            <td>@Item.Other</td>
            <td>
                @foreach (var img in Item.Images)
                {
                    <div class="imgDiv">
                        <a href="@Url.Action("Download", "FileData",new {id = img.Id })" title="圖片" class="links">
                            <img alt="圖片" src="@Url.Action("Download","FileData",new {id = img.Id })" height="30" width="30">
                        </a>
                    </div>
                }
            </td>
            <td>
                @foreach (var img in Item.Files)
                {
                    <div class="imgDiv">
                        @Html.ActionLink(img.UserFileName, "Download", "FileData", new { id = img.Id }, new { })
                    </div>
                }
            </td>
        </tr>
            }
        </table>
        <br />
        <br />
    </font>
</div>