
<font size="2">
    <table class="table table-bordered table-striped">
        <tr>
            <th>主題</th>
            <th>收訊人</th>
            <th>內容</th>
            <th>發送時間</th>
            <th>傳送結果</th>
        </tr>
        @foreach (var Item in ViewBag.Data)
        {
        <tr>
            <td>@Item.Topic</td>
            <td>@Item.PhoneNumber</td>
            <td>@Item.Content</td>
            <td>@Item.SendTime</td>
            <td>@Item.SendResult</td>        
        </tr>
        }
    </table>
    <br /><br />
</font>