@using MyEPA.Models;
@using MyEPA.Enums;
@{
    List<TownModel> towns = ViewBag.Towns;
    DutyEnum Duty = ViewBag.DutyId;
}
<h6>
    <span class="text-secondary"> 若下表資料均正確，請按</span>
    <button onclick="Confirm('Confirm','Incinerator')">資料確認</button>
</h6>
<font size="3">
    <label>鄉鎮</label>
    <select id="town" Name="town" onchange="Redirect('C3x1Incinerator','Cleaner')">
        @if (Duty != DutyEnum.Cleaning)
        {
            <option value=" ">全部</option>
        }
        @foreach (var town in towns)
        {
            if (town.Name == ViewBag.Town)
            {
                <option value="@town.Name" selected="selected">@town.Name</option>
            }
            else
            {
                <option value="@town.Name">@town.Name</option>
            }

        }
    </select>
    <table class="table table-bordered table-striped " style="border: 1px solid gray;">
        <tr>
            <th class="text-center">編輯</th>

            <th>聯繫單位</th>
            <th>縣市</th>
            <th>鄉鎮市</th>
            <th>地址</th>
        </tr>
        @foreach (var Item in ViewBag.Data)
        {
            <tr>
                <td style="width:100px">
                    <button style="padding:0" class="btn btn-success" onclick="PickItemForPosition(@Item.Id,@Item.Xpos,@Item.Ypos)">定位</button>
                    <button style="padding:0" class="btn btn-info" onclick="PickItemForEdit(@Item.Id,@Item.Xpos,@Item.Ypos)">查閱</button>
                </td>
                <td>@Item.ContactUnit</td>
                <td>@Item.City</td>
                <td>@Item.Town</td>
                <td>@Item.Address</td>
            </tr>

        }
    </table>

    <br />
    <br />
</font>
<script>
    var full = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');
    function Redirect(action, controller) {
         var town = $('#town').val();
        full = `${full}/${controller}/${action}?town=${town}`
        window.location = full
    }
    function Confirm(action, controller) {
        _url = `${full}/${controller}/${action}`
        $.ajax({
            url: _url,
            type: 'get',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                alert('資料確認更新');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }

        });
    }
</script>