@using MyEPA.Enums;
@using MyEPA.Models;
@{
    int? townId = ViewBag.TownId;
    List<TownModel> towns = ViewBag.Towns;
    DutyEnum duty = ViewBag.DutyId;
}
@if (duty == DutyEnum.EPB)
{
    <form name="SearchForm">
        <label for="diasterId">鄉鎮：</label>
        <select id="Town" name="TownId">
            <option value="">全部</option>
            @foreach (var item in towns)
            {
                <option value="@item.Id" @(item.Id == townId ? "selected='selected'" : string.Empty)>@item.Name</option>
            }
        </select>

        <button type="submit" class=" btn-success">搜尋</button>
    </form>
}

@using (Html.BeginForm("Confirm", "CleanerxDisinfectant"))
{
    <input type="hidden" name="townId" value="@townId" />
    <h6>
        <span class="text-secondary"> 若下表資料均正確，請按</span>

        <input type="submit" class="btn secondary" style="padding:0px" value="資料確認" />
    </h6>
}
<font size="3">
    <table class="table table-bordered table-striped">
        <tr>
            <th style="width:90px" class="text-center">
                <button class="btn btn-danger" style="padding:0px" onclick="AddItem()">新增</button>
            </th>
            @*<th>縣市</th>
        <th>鄉鎮市</th>*@
            <th>聯繫單位名稱</th>
            <th>用途</th>
            <th>消毒藥品名稱</th>

            <th>有效成分-1</th>
            <th>有效成分-2</th>


            <th>類別</th>
            <th>型態</th>
            <th>數量</th>
            <th>濃度</th>
            <th>可消毒面積</th>
            <th>使用年限</th>
            <th>確認時間</th>
            <th>確認人員</th>
        </tr>
        @foreach (var Item in ViewBag.Data)
        {
    <tr>
        <td style="text-align:center">
            <button class="btn btn-primary" style="padding:0px;" onclick=" PickItemForEdit(@Item.Id)">修改</button>
            <button class="btn btn-warning" style="padding:0px;" onclick=" PickItemForDelete(@Item.Id)">刪除</button>

        </td>
        @*<td>@Item.City</td>
        <td>@Item.Town</td>*@
        <td>@Item.ContactUnit</td>
        <td>@(((MyEPA.Enums.DisinfectantUseTypeEnum)Item.UseType).GetDescription())</td>
        <td>@Item.DrugName</td>




        <td>@(string.IsNullOrEmpty(Item.ActiveIngredients1) ? "無" : Item.ActiveIngredients1)</td>
        <td>@(string.IsNullOrEmpty(Item.ActiveIngredients2) ? "無" : Item.ActiveIngredients2)</td>





        <td>@Item.DrugType</td>
        <td>@Item.DrugState</td>
        <td>@Item.Amount</td>
        <td>@Item.Density</td>
        <td>@Item.Area</td>
        <td>@Item.ServiceLife</td>
        <td>@Item.ConfirmTime</td>
        <td>@Item.UpdateUser</td>


    </tr>
        }
    </table>
    <br /><br />
</font>
