@model IEnumerable<MyEPA.Models.UserLoginViewModel>
@using MyEPA.Models;

@{
    ViewBag.Title = "聯絡人登入查詢";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="text-center">
    <br />
    <h3>@ViewBag.Title</h3>
    <br />
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">

            <div>
                @using (Html.BeginForm("ExportLoginList", "UserLogin", new { }, FormMethod.Get))
                {
                    <table border="0">
                        <tbody>
                            <tr align="center">
                                <td colspan="2">
                                    <button type="submit" class="btn btn-primary" href=""><i class="fa fa-search"></i>&nbsp;匯出Excel</button>                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                <br />
            </div>

            <table class="table table-bordered table-striped  text-center">
                <tr>
                    <th width="10%">機關類別(角色)</th>
                    <th width="10%">機關名稱(縣市)</th>
                    <th width="10%">單位名稱(鄉鎮市區)</th>
                    <th width="15%">帳號</th>
                    <th width="15%">姓名</th>
                    <th width="15%">Email</th>
                    <th width="10%">最後登入時間</th>
                    <th width="10%">未登入天數</th>
                </tr>
                @foreach (var Item in Model)
                {
                    <tr>
                        <td>@Item.Duty</td>
                        <td>@Item.City</td>
                        <td>@Item.Town</td>
                        <td>@Item.UserName</td>
                        <td>@Item.Name.Trim()</td>
                        <td>@(Item.Email == null ? "": Item.Email.Trim())</td>
                        <td>@(Item.LoginTime == null ? "無" : DateFormat.ToDate7(Item.LoginTime))</td>
                        <td>@(Item.LoginTime == null ? "無" : Item.LoginRange.ToString())</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>